﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

    .modal-open {
        margin-right: 0 !important;
        overflow: hidden;
    }
.modal {
    overflow-y: auto !important; 
}
.modal.in {
    overflow-x: hidden;
    overflow-y: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}




