.table-scroll {
	position:relative;
	/* max-width:600px; */
	margin:auto;
	overflow:hidden;
	/*border:1px solid #000;
	border:1px solid #DCDCDC; */
	font-family:'Arial';
}
.table-wrap {
	width:100%;
	overflow:auto;
}
.table-scroll table {
	width:100%;
	margin:auto;
	border-collapse:collapse;
	border-spacing:0;
}
.table-scroll th {
	padding:5px 10px;
	/*border:1px solid #000;*/
	border:1px solid #DCDCDC;
	background:white;
	white-space:nowrap;
	vertical-align:top;
	text-align:left;
}
.table-scroll td {
	padding:5px 10px;
	/*border:1px solid #000;*/
	border:1px solid #DCDCDC;
	background:#fff;
	white-space:nowrap;
	vertical-align:top;
	text-align:left;
    height:31px
}
.table-scroll thead, .table-scroll tfoot {
	background:#f9f9f9;
}
.clone {
	position:absolute;
	top:0;
	left:0;
	pointer-events:none;
}
.clone th, .clone td {
	visibility:hidden
}
.clone td, .clone th {
	border-color:transparent
}
.clone tbody th {
	visibility:visible;
	color:#808080;
	
}
.clone .fixed-side {
	/*border:1px solid #000;*/
	border:1px solid #DCDCDC;
	/*background:#eee;*/
	visibility:visible;
	color:#808080;
}
.clone thead, .clone tfoot{background:transparent;}

/*custom css starts*/
.table-scroll .choices{
padding-left:52px;
}
.table-scroll .yes{
padding-left:68px;
}
.table-scroll .curtain{
padding-left:75px;
}
.table-scroll .answer{
padding-left:95px;
}
.table-scroll .entry{
padding-left:123px;
}
thead .bg{background-color: #f2f2f2; color: #333 !important; font-size: 12px; text-transform: uppercase; padding:10px;}


tbody .condition{
    background: #fcfcfc;
}
tbody .sec-table{
background-color: #f1f1f1;color:#696969;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
.table-scroll th, .table-scroll td {
	background:#fff;
	white-space:normal;
	vertical-align:top;
}

}
/*.fa{
color:#005baa !important; padding: 2px 4px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #b8c8df;}
.rd_clr {color: red;}
.wrkng_cde {background-color: #d6d6d6 !important;}
.actvty {background-color: #e6e6e6 !important;}
.cnfrm_btn {background-color: #f6f6f6 !important;}
/*custom css ends*/*/