﻿<form name="frmCopyLayout" ng-submit="submitCopyLayout()" class="form-horizontal">
    <div class="box-body">
        <div class="form-group col-md-3 col-sm-3">Existing Layout Name </div>
        <div class="form-group col-md-9 col-sm-9">
            <input type="hidden" id="sltexistingLayout" class="drop" />
            <input type="hidden" id="hidcustomerid" />
            <input type="text" ng-model="existinglayoutname" disabled class="disabled form-control" />
        </div>
        <div class="form-group col-md-3 col-sm-3">New Layout Name  <span class="errorfont">*</span></div>
        <div class="form-group col-md-9 col-sm-9">
            <input type="text" maxlength="35" id="txtNewLayout" class="form-control" />
        </div>
        <div class="form-group col-md-3 col-sm-3">Customer Name  <span class="errorfont">*</span></div>
        <div class="form-group col-md-9 col-sm-9">
            <input type="text" id="CopyCustomer" />
        </div>
        <div class="form-group col-md-3 col-sm-3">Select Languages  <span class="errorfont">*</span></div>
        <div class="form-group col-md-9 col-sm-9">
            <input type="text" id="dpCopyLanguages" class="form-control" />
        </div>
        <div class="form-group col-md-3 col-sm-3">Info Column </div>
        <div class="form-group col-md-9 col-sm-9">
            <input type="checkbox" id="chkinfocolumn" />
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="box-footer" align="right">
        <div class="clearfix"></div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn" ng-click="cancelcopylayout()">Cancel</button>
            </div>
        </div>
    </div>
</form>