﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>:: Creatis - Show Layout ::</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">


</head>

<body>

    <div id="table-scroll" class="table-scroll">
        <div class="table-wrap">
            <table class="main-table">
                <thead>
                    <tr class="bg">
                        <th class="fixed-side bg" scope="col">Acitvity / Registration</th>
                        <th class="fixed-side bg" scope="col">Question  Path</th>
                        <th scope="col" class="bg">Info</th>
                        <th scope="col" class="bg">Extra Info</th>
                        <th scope="col" class="bg">Anomaly</th>
                        <th scope="col" class="bg">Pallet Info</th>
                        <th scope="col" class="bg">Partner code</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th class="fixed-side">Working code</th>
                        <th class="fixed-side"></th>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th class="fixed-side">Activity/Reg name</th>
                        <th class="fixed-side"></th>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th class="fixed-side" rowspan="18"> Confirm button:Yes</th>
                        <th class="fixed-side"><i class="fa fa-sign-in" aria-hidden="true"></i> Entry</th>

                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th class="fixed-side"><i class="fa fa-database" aria-hidden="true"></i> Which container?</th>

                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th class="fixed-side choices">Container 1</th>
                        <td></td>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th class="fixed-side choices">Container 2</th>
                        <td></td>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th class="fixed-side">Container status</th>
                        <td></td>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th class="fixed-side choices">Empty</th>
                        <td></td>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th class="fixed-side choices">Loaded</th>
                        <td></td>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th class="fixed-side">Container damage</th>
                        <td></td>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th class="fixed-side choices">No</th>
                        <td></td>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th class="fixed-side choices condition">Yes</th>
                        <td></td>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>

                    </tr>

                    <tr>
                        <th class="fixed-side yes condition">What kind of damage</th>
                        <td></td>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th class="fixed-side curtain condition">Curtain damaged</th>
                        <td></td>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th class="fixed-side answer condition">No boards</th>
                        <td></td>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th class="fixed-side answer condition">Damaged boards</th>
                        <td></td>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th class="fixed-side answer condition">Lack of rope tip</th>
                        <td></td>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th class="fixed-side answer condition">Securking rope broken</th>
                        <td></td>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th class="fixed-side answer condition">Other</th>
                        <td></td>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th class="fixed-side entry condition">Entry</th>
                        <td></td>
                        <td></td>
                        <td><a href="#"></a></td>
                        <td></td>
                        <td></td>

                    </tr>

                    <tr>
                        <th class="fixed-side sec-table wrkng_cde">Working code</th>
                        <th class="fixed-side sec-table"></th>
                        <td class="sec-table"></td>
                        <td class="sec-table"><a href="#"></a></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>

                    </tr>
                    <tr>
                        <th class="fixed-side sec-table actvty">Activity/Reg name</th>
                        <th class="fixed-side sec-table"></th>
                        <td class="sec-table"></td>
                        <td class="sec-table"><a href="#"></a></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>

                    </tr>
                    <tr>
                        <th class="fixed-side sec-table cnfrm_btn"> Confirm button:<span class="rd_clr"> No</span></th>
                        <th class="fixed-side sec-table"></th>

                        <td class="sec-table"></td>
                        <td class="sec-table"><a href="#"></a></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>

                    </tr>
                    <tr>
                        <th class="fixed-side sec-table" rowspan="21"> </th>
                        <th class="fixed-side sec-table"><i class="fa fa-database" aria-hidden="true"></i> Choice</th>

                        <td class="sec-table"></td>
                        <td class="sec-table"><a href="#"></a></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>

                    </tr>

                    <tr>
                        <th class="fixed-side choices sec-table">Choice Details1</th>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"><a href="#"></a></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>

                    </tr>
                    <tr>
                        <th class="fixed-side choices sec-table">Choice Details2</th>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"><a href="#"></a></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>

                    </tr>
                    <tr>
                        <th class="fixed-side sec-table"><i class="fa fa-sign-in" aria-hidden="true"></i> Entry</th>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"><a href="#"></a></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>

                    </tr>
                    <tr>
                        <th class="fixed-side sec-table"><i class="fa fa-clipboard" aria-hidden="true"></i> Planning Select</th>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"><a href="#"></a></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>

                    </tr>
                    <tr>
                        <th class="fixed-side sec-table "><i class="fa fa-check-square-o" aria-hidden="true"></i> Check off</th>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"><a href="#"></a></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>

                    </tr>
                    <tr>
                        <th class="fixed-side sec-table"><i class="fa fa-child" aria-hidden="true"></i> Conditional Action</th>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"><a href="#"></a></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>

                    </tr>
                    <tr>
                        <th class="fixed-side choices sec-table"><i class="fa fa-info-circle" aria-hidden="true"></i> Info Message</th>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"><a href="#"></a></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>

                    </tr>
                    <tr>
                        <th class="fixed-side sec-table"><i class="fa fa-commenting" aria-hidden="true"></i> Text Message</th>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"><a href="#"></a></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>

                    </tr>

                    <tr>
                        <th class="fixed-side sec-table"><i class="fa fa-bolt" aria-hidden="true"></i> Set Action/Value</th>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"><a href="#"></a></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>

                    </tr>
                    <tr>
                        <th class="fixed-side sec-table"><i class="fa fa-list" aria-hidden="true"></i> Variable List</th>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"><a href="#"></a></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>

                    </tr>
                    <tr>
                        <th class="fixed-side sec-table"><i class="fa fa-file-text" aria-hidden="true"></i> Document Scan</th>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"><a href="#"></a></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>

                    </tr>
                    <tr>
                        <th class="fixed-side sec-table"><i class="fa fa-train" aria-hidden="true"></i> Trailer</th>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"><a href="#"></a></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>

                    </tr>
                    <tr>
                        <th class="fixed-side sec-table"><i class="fa fa-truck" aria-hidden="true"></i> Transport types</th>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"><a href="#"></a></td>
                        <td class="sec-table"></td>
                        <td class="sec-table"></td>

                    </tr>


                </tbody>

            </table>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>



    <!--    <script  src="js/index.js"></script> -->
    <script>
        // requires jquery library
        jQuery(document).ready(function () {
            jQuery(".main-table").clone(true).appendTo('#table-scroll').addClass('clone');
        });
    </script>




</body>

</html>
