﻿@{
    ViewData["Title"] = "ShowLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<link href="~/css/fixed-table.css" rel="stylesheet" />
@*<link href="~/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/jquery.dataTables.css" rel="stylesheet" />*@
<script src="~/PageJS/fixed-table.js"></script>
<script src="~/PageJS/Angular/Controller/ShowLayoutController.js" asp-append-version="true"></script>
<script src="~/PageJS/Angular/Service/Service.js" asp-append-version="true"></script>
@*<script src="~/PageJS/jquery.dataTables.min.js"></script>
    <script src="~/PageJS/dataTables.rowsGroup.js"></script>
    <script src="~/PageJS/fixedColumns.min.js"></script>*@


<style>
    body {
        font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-family: Arial;
        margin: 0;
        padding: 0;
        color: #333;
        background-color: #fff;
    }

    #screenLayout th, td {
        padding: 5px 10px;
    }

    .alignment {
        text-align: center;
    }

    table td {
        border-bottom: 1px solid #e9e9e9;
        border-top: 1px solid #cccccc73;
        border-left: 1px solid #cccccc73;
        border-right: 1px solid #cccccc73;
    }

    /*th, td {*/
    /*//white-space: nowrap;*/
    /*word-break: break-all;
    }*/

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    tbody .sec-table {
        background-color: #f1f1f1;
        color: #696969;
    }

    .dataTables_filter {
        display: none;
    }

    .dataTables_info {
        display: none;
    }

    table.dataTable td {
        border-bottom: 1px solid #DCDCDC;
        border-top: 1px solid #DCDCDC;
        border-left: 1px solid #DCDCDC;
        border-right: 1px solid #DCDCDC;
    }

    .ee-item {
        content: "";
        z-index: -1;
        top: 0;
        bottom: 0;
        border-left: 1px dotted #adabab;
        height: 22px;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px
    }

    /*.DTFC_LeftBodyLiner {
        overflow: hidden;
    }*/

    tbody .sec-table {
        color: #222222;
    }

    .e-text-wrap:before {
        display: block;
        content: " ";
        /*background-image: url(http://mvc.syncfusion.com/demos/ui/tools/MvcResourceHandler.axd?k=img&r=gbwjpbqMlCJ9MAp4aOJ5//p89Hibq6RCsmFGRuTOMiHnfODH6lIiBHOSBJArRCZi053ZP7mRwNdm4uorNalJd3hi0U/3XPiafieEgwNBplLCeFNeIlzaKX6eh3Z4RG8Fd/V95XCLbaGnKKr4McnNMTKktv3QFE81zhY1MgYq3BV3uR5lq5ak5BE6ojjAvCXNS5DuMViUh340HlghHnXphmkxVK6VeMY_);*/
        height: 11px;
        position: static;
        width: 14px;
        /*margin-top: -6px;*/
        border-bottom: 1px dotted #adabab;
        background-position: -3px -327px;
    }

    #screenLayout {
        overflow: scroll;
        max-height: 200px;
        margin-bottom: 10px
    }

    .Green {
        width: 50%;
        background-color: #36d836;
    }

    .Yellow {
        width: 50%;
        background-color: #e6e614;
    }

    .Red {
        width: 50%;
        background-color: #e82e2e;
    }

    .Grey {
        width: 50%;
        background-color: hsl(0, 0%, 80%);
    }

    /*.no-footer {
        display:none;
    }*/
    /*table:empty {
        display: none
    }*/
    .dataTables_empty {
        display: none
    }

    .divBox {
        box-sizing: border-box;
        border: 1px solid #e2d9d9;
    }

    .divHeight {
        max-height: 730px;
        overflow-y: scroll;
    }

    .divTop {
        /*margin-top: 5px;*/
        padding: 14px;
    }
    /*div {
        padding: 25px 50px;
    }*/
    .pstyle {
        margin: 0;
        position: relative;
        top: -7px;
        display: inline-block;
        margin-left: 3px;
    }

    .span-left {
        margin-left: 3px;
    }
</style>


<div class="row" ng-controller="ShowLayoutController">

    <div class="col-sm-12  col-md-12 col-lg-12">
        <div>
            <ol class="breadcrumb">
                <li>
                    <a class="fa fa-home" id="home" ng-click="GoHome()"></a>
                </li>
                <li>
                    <a id="Customer" ng-click="Dashboard()">Dashboard</a>
                </li>
                <li class="active">
                    <a id="Customer">Show Layout</a>
                </li>
            </ol>
        </div>

        <div class="header" style="padding: 5px 0px;">
            <div style=" display:inline-block;">
                <h4 class="modal-title">
                    <i class="fa fa-binoculars"></i>
                    Show Layout &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @ViewBag.LayoutTitle
                </h4>
            </div>
            <div style=" display:inline-block; float:right;">
                @if ((Previlage.Contains("LD") && LayoutStatusPrevilage.Contains("LD")) || RoleWithLayoutStatusPrevilage.Contains("LD"))
                {
                    <button ng-click="Dashboard()" style="" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Dashboard"><span style="color:white;padding-right:5px" class="fa fa-dashboard"></span>Dashboard</button>
                }
                @if ((Previlage.Contains("LSL") && LayoutStatusPrevilage.Contains("LSL")) || RoleWithLayoutStatusPrevilage.Contains("LSL"))
                {
                    <button id="GOScreenLayout" ng-click="RedirecttoScreenLayout()" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Screen Layout"><span style="color:white;padding-right:5px" class="fa fa-exchange"></span>Screen Layout</button>
                }
                @if ((Previlage.Contains("LT") && LayoutStatusPrevilage.Contains("LT")) || RoleWithLayoutStatusPrevilage.Contains("LT"))
                {
                    <button id="GoTranslation" ng-click="RedirecttoTranslation()" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Translations"><span style="color:white;padding-right:5px" class="fa fa-book"></span>Translations</button>
                }
            </div>
        </div>


        <div class="PageLayout ">
            <div class="row">
                @*<div class="col-lg-6 ">
                    <select name="activitiesDropdown" class="form-control ng-pristine ng-valid ng-empty ng-touched" id="sltActivities" ng-options="A.activitiesRegistrationId as A.activitiesRegistrationName for A in activitiesRegistrations track by A.activitiesRegistrationName" ng-model="GetAllActivityRegistrationByLayoutId" ></select>
                    </div>*@
                <div class=" col-lg-3 " style="margin-bottom: 10px;">
                    <select class="form-control ng-pristine ng-valid ng-empty ng-touched" id="dpLanguage" ng-options="L.languageId as L.languageDescription for L in $parent.Language track by L.languageDescription" ng-model="GetLanguagesByLayoutId">
                        <option value="" selected>--Select Language--</option>
                    </select>
                </div>
                @using (Html.BeginForm("DownloadPDF", "ShowLayout", FormMethod.Post))
                {
                    <input type="hidden" name="LayoutId" value="@ViewBag.LayoutId" id="hdLayoutId" />
                    <input type="hidden" value="@ViewBag.ActivitiesCount" id="hdActivitesCount" />
                    <input type="hidden" name="Launguage" value="@ViewBag.DefaultShowlayoutLanguage" id="hdDefaultLanguageId" />
                    <div class="col-lg-9 text-right ">
                        <button id="GOShowLayout" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="DownLoad PDF" style="margin-bottom: -21px;"><span style="color:white;padding-right:5px" class="fa fa-download"></span>Download PDF</button>
                    </div>

                }
            </div>
            <loading></loading>
            <div id="divShowLayoutData">
            </div>
        </div>
    </div>
</div>