﻿@{
    ViewData["Title"] = "DocumentTypeMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .PageLayout {
        min-height: 80vh !important;
        padding: 2% !important;
    }
</style>
<script src="~/PageJS/Angular/Controller/DocumentTypeMasterController.js" asp-append-version="true"></script>
<script src="~/PageJS/Angular/Service/Service.js" asp-append-version="true"></script>
<div ng-controller="DocumentTypeMasterController">
    <div class="col-sm-12  col-md-12 col-lg-12">
        <div>
            <ol class="breadcrumb">
                <li>
                    <a class="fa fa-gears " id="Setting" ng-click="GoSetting()"></a>
                    <a href="#" id="Setup" ng-click="GoSetUp()"></a>
                </li>
                <li class="active">
                    <a id="DocumentType" ng-click="GoDocumentType()">Document Type</a>
                </li>
            </ol>
            <div class="header" style="padding: 5px 2px;">
                <h4 class="modal-title">
                    <i class="fa fa-wrench"></i>
                    Document Type
                </h4>
            </div>
        </div>
        <div class="PageLayout">
            <center>
                <div class="clearfix"></div>
                <div id="grdDocumentType"></div>
            </center>
        </div>
    </div>
</div>

