﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TX-CREATIS :: @ViewData["Title"]</title>
    <link rel="shortcut icon" type="~/image/x-icon" href="~/images/favicon.png" />
    <script src="~/Scripts/jquery-1.10.2.js" asp-append-version="true"></script>
    <script src="~/lib/angular/angular.js" asp-append-version="true"></script>
    @* Bootstrap Js Files *@
    <script src="~/Scripts/bootstrap-switch.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/bootstrap-tagsinput.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/ui-bootstrap-tpls.js" asp-append-version="true"></script>
    <script src="~/Scripts/modernizr-2.6.2.js" asp-append-version="true"></script>
    <script src="~/js/toastr/js/toastr.min.js" asp-append-version="true"></script>
    <link href="~/Content/bootstrap-switch/bootstrap3/Boot.css" rel="stylesheet" />
    <link href="~/Content/themes/base/UICSS.css" rel="stylesheet" />
    <link href="~/js/toastr/css/toastr.css" rel="stylesheet" />
    <link href="~/js/ng-grid/ng-grid.min.css" rel="stylesheet" />
    <script src="~/js/ng-grid/ng-grid-2.0.11.min.js" asp-append-version="true"></script>
    <link href="~/js/ng-grid/style.css" rel="stylesheet" />
    <script src="~/PageJS/Angular/app.js" asp-append-version="true"></script>
    <link href="~/css/Custom.css" rel="stylesheet" />
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

    <script src="~/lib/syncfusion-javascript/Scripts/ej/web/ej.web.all.min.js" asp-append-version="true"></script>
    <script src="~/lib/jsrender/jsrender.js" asp-append-version="true"></script>
    <link href="~/lib/syncfusion-javascript/Content/ej/web/bootstrap-theme/ej.web.all.css" rel="stylesheet" />
    <script src="~/PageJS/Angular/Spinner.js" asp-append-version="true"></script>

    <link href="~/css/table-style.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #999;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #777;
            }

        .e-input::placeholder {
            font-style: normal !important;
            color: #333 !important;
        }


        /* To Dropdown navbar dropdown on hover */
        .navbar-nav > li:hover > .dropdown-menu {
            display: block !important;
        }

        .dropdown-submenu {
            position: relative !important;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0 !important;
                left: 100% !important;
                margin-top: -6px !important;
                margin-left: -1px !important;
                -webkit-border-radius: 0 6px 6px 6px !important;
                -moz-border-radius: 0 6px 6px !important;
                border-radius: 0 6px 6px 6px !important;
            }

            .dropdown-submenu:hover > .dropdown-menu {
                display: block !important;
            }

            .dropdown-submenu > a:after {
                display: block !important;
                content: " " !important;
                float: right !important;
                width: 0 !important;
                height: 0 !important;
                border-color: transparent !important;
                border-style: solid !important;
                border-width: 5px 0 5px 5px !important;
                border-left-color: #ccc !important;
                margin-top: 5px !important;
                margin-right: -10px !important;
            }

            .dropdown-submenu:hover > a:after {
                border-left-color: #fff !important;
            }

            .dropdown-submenu.pull-left {
                float: none !important;
            }

                .dropdown-submenu.pull-left > .dropdown-menu {
                    left: -100% !important;
                    margin-left: 10px !important;
                    -webkit-border-radius: 6px 0 6px 6px !important;
                    -moz-border-radius: 6px 0 6px 6px !important;
                    border-radius: 6px 0 6px 6px !important;
                }

        .navbar-inverse .navbar-nav > li > a {
            color: #fff !important;
        }

        .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            color: #ffffff !important;
            text-decoration: none;
            background-color: #333;
        }

        #flex, #Smart {
            max-height: 100%;
            overflow-y: auto;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function (e) {
            document.body.style.zoom = "100%"
        });
        //$(document).ready(function (e) {
        //    document.body.style.zoom = "100%"
        //});
    </script>


    @RenderSection("scripts", required: false)
</head>
@{
    List<string> Privelage = new List<string>();
    if (ViewData["Previlage"] != null)
    {
        Privelage = (List<string>)ViewData["Previlage"];
    }
}
<body ng-app="CREATIS" style="zoom: 100%;height: 413px;">
    <input type="hidden" id="hfnSessioLink" value="@ViewBag.SessionLink" />
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <img class="logoimg" src="~/images/TX-CREATIS.png" />
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right mainnav">
                @if (Privelage.Contains("H"))
                {
                    <li>
                        <a href="/tx-creatis/Home/Index"><i class="fa fa-fw fa-home"></i> Home</a>
                    </li>
                }
                @if (Privelage.Contains("CT"))
                {
                    <li>
                        <a href="/tx-creatis/Translator/Index"><i class="fa fa-fw fa-book"></i> Translation</a>
                    </li>
                }
                @if (Privelage.Contains("S"))
                {
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-gears"></i> Settings</a>
                        <ul class="dropdown-menu multi-level">
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-gear "></i> Setup</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/tx-creatis/Customer/Index"><i class="fa fa-fw fa-wrench"></i> Customer</a></li>
                                    <li><a href="/tx-creatis/DocumentTypeMaster/Index"><i class="fa fa-fw fa-wrench"></i> Document Type</a></li>
                                    <li><a href="/tx-creatis/InfoMessageIconType/Index"><i class="fa fa-fw fa-wrench"></i> Icon Type</a></li>
                                    <li><a href="/tx-creatis/InputMaster/Index"><i class="fa fa-fw fa-wrench"></i> Input</a></li>
                                    <li><a href="/tx-creatis/Tooltip/Index"><i class="fa fa-fw fa-wrench"></i> Tooltip</a></li>
                                    <li><a href="/tx-creatis/LayoutOverview/Index"><i class="fa fa-fw fa-wrench"></i> Layout Overview</a></li>
                                    @*<li style="word-wrap:break-word"><a href="/tx-creatis/PlanningAndPartnerCodeOverview/Index"><i class="fa fa-fw fa-wrench"></i> Planning Codes</a></li>
        <li style="word-wrap:break-word"><a href="/tx-creatis/SavedValuesOverview/Index"><i class="fa fa-fw fa-wrench"></i> Saved Values</a></li>*@
                                    @*<li><a href="LanguageMaster/Index"><i class="fa fa-fw fa-wrench"></i> Language</a></li>*@
                                </ul>
                            </li>
                        </ul>
                    </li>
                }
                <li><a href="#" style="color:white;" tooltip-placement="bottom" uib-tooltip="Hi @ViewBag.username"><span> <span id="lblGreetings"></span>&nbsp;<i class="fa fa-fw fa-user"></i>&nbsp;@ViewBag.username</span></a></li>
            </ul>
        </div>
    </nav>
    <div style="padding-left:20px;padding-right:20px">
        @RenderBody()
    </div>
    <div style="text-align:center;padding-top:15px;padding-bottom:10px;">
        <footer>
            <p style="font-size:12px">
                V&nbsp;2.00&nbsp;|&nbsp;
                &copy; Copyright-Transics - <a style="font-weight:lighter;color:#FA8813;font-size:12px" title="Privacy &amp; Cookies Policy" href="https://www.transics.com/privacy-cookies-policy/" target="_blank">Privacy &amp; Cookies Policy</a>
                <a title="Glossary" style="font-weight: lighter;color:#FA8813;font-size:12px" href="https://www.transics.com/glossary/" target="_blank">Glossary</a>
            </p>
        </footer>
    </div>

    <div class="modal fade" id="sessionOutModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="false" style="top:70px">
        <div class="modal-dialog" style="width:31% !important">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #eff0f1;border-bottom: 1px solid #eff0f1;padding: 5px 15px;">
                    <h3 style="text-align:center;margin: 0;padding: 7px 0;font-size: 16px;"><b>Your session is about to expire.</b></h3>
                </div>
                <div class="modal-body" style="padding: 6px 20px;">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div style="text-align:center">You have inactive too long, Login again, or return to the page to copy any unsaved text.</div>
                            @*<div class="countdown" style="font-size: 48px;font-weight: 600;text-align:center">
                                </div>*@
                            @*<div>To continue your session, Please click <b>Stay Signed In.</b></div>*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: 0px !important;padding: 8px 0;border: 0;">
                    <center>
                        <div>
                            <button type="button" id="deletepaddchioce" class="btn btn-primary" onclick="StayInPage()">Return to Page</button>
                            <button type="button" id="deletepcancel" class="btn btn-default" onclick="ReturnToLoginPage()">Sign Out</button>
                        </div>
                    </center>
                </div>

            </div>
        </div>
    </div>
    <script>
        function htmlbodyHeightUpdate() {
            var height3 = $(window).height()
            var height1 = $('.nav').height() + 50
            height2 = $('.main').height()
            if (height2 > height3) {
                $('html').height(Math.max(height1, height3, height2) + 10);
                $('body').height(Math.max(height1, height3, height2) + 10);
            }
            else {
                $('html').height(Math.max(height1, height3, height2));
                $('body').height(Math.max(height1, height3, height2));
            }

        }
        $(document).ready(function () {
            htmlbodyHeightUpdate()
            $(window).resize(function () {
                htmlbodyHeightUpdate()
            });
            $(window).scroll(function () {
                height2 = $('.main').height()
                htmlbodyHeightUpdate()
            });

            //$(".dropdown-submenu").click(function (event) {
            //    // stop bootstrap.js to hide the parents
            //    event.stopPropagation();
            //    // hide the open children
            //    $(this).find(".dropdown-submenu").removeClass('open');
            //    // add 'open' class to all parents with class 'dropdown-submenu'
            //    $(this).parents(".dropdown-submenu").addClass('open');
            //    // this is also open (or was)
            //    $(this).toggleClass('open');
            //});

            $(".mainnav").click(function (event) {
                event.stopPropagation();
                $(this).find("li").removeClass('open');
            });

        });
    </script>

    <script>
        var timeoutID;
        var WarningID;
        var repeatitionId;
        var repeateSession = "0";
        function setup() {
            this.addEventListener("mousemove", resetTimer, false);
            this.addEventListener("mousedown", resetTimer, false);
            this.addEventListener("keypress", resetTimer, false);
            this.addEventListener("DOMMouseScroll", resetTimer, false);
            this.addEventListener("mousewheel", resetTimer, false);
            this.addEventListener("touchmove", resetTimer, false);
            this.addEventListener("MSPointerMove", resetTimer, false);
            startTimer();
        }
        setup();
        function startTimer() {
            WarningID = window.setTimeout(goWarning, 1.08e+6);
        }

        function resetTimer(e) {
            window.clearTimeout(WarningID);
            window.clearTimeout(timeoutID);
            goActive();
        }
        function goWarning() {
            showWarning();
        }
        function goActive() {
            startTimer();
        }
        function showWarning() {
            repeateSession = "1";
            $('#sessionOutModal').modal("show");
        }
        function ReturnToLoginPage() {
            debugger;
            repeateSession == "0"
            $('#sessionOutModal').modal('hide');
            var sessionLink = $("#hfnSessioLink").val();
            clearInterval(repeatitionId);
            window.location.href = sessionLink;
        }
        $(document).ready(function () {
            $("#sessionOutModal").modal({
                show: false,
                backdrop: 'static'
            });
            repeatitionId = setInterval(RetainSession, (1.08e+6));
        });
        function RetainSession() {
            if (repeateSession == "1") {
                $.ajax({
                    type: "POST",
                    url: "/tx-creatis/Login/SessionRecreation",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        clearInterval(repeatitionId);
                    }
                });
            }
        }
        function StayInPage() {
            $.ajax({
                type: "POST",
                url: "/tx-creatis/Login/SessionRecreation",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#sessionOutModal').modal('hide');
                    repeateSession == "0";
                }
            });
        }
    </script>
</body>
</html>
