﻿
@{
    ViewData["Title"] = "DB Connection Error";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12  col-md-12 col-lg-12">
    <div class="PageLayout">
        <div>
            <center>
                <h2>DB Connection.</h2>
                <p>Error In Database Connection.</p>
            </center>
        </div>
    </div>
</div>
