﻿@{
    @using CREATIS.ApplicationCore.Modals;
    ViewData["Title"] = "Extended Help";
    var ExtendedHelp = (string)ViewData["ExtendedHelp"];
    var Title = (string)ViewData["PropertyTitle"];
    var ExtendedHelpTooltipImage = (List<TooltipImage>)ViewData["ExtendedHelpTooltipImage"];
    int rowno = 0;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container" style="text-align:center">
    <h3><b> @Title </b></h3>
    <div><p>@Html.Raw(ExtendedHelp)</p></div>
    <hr />
    @if (ExtendedHelpTooltipImage.Any())
    {
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 500px !important; ">
            <ol class="carousel-indicators">
                @{

                    foreach (var tooptip in ExtendedHelpTooltipImage)
                    {
                        <li data-target="#myCarousel" data-slide-to="@rowno" class="@(rowno == 0 ? "active" : "")"></li>
                        rowno++;
                    }
                    rowno = 0;
                }
            </ol>
            <div class="carousel-inner">
                @foreach (var tooptip in ExtendedHelpTooltipImage)
                {
                    <div class="item @(rowno == 0 ? "active" : "")">
                        <img src="@tooptip.Path" alt="@tooptip.OriginalFileName" style="height: 500px !important; width: 100% !important;">
                        <div class="carousel-caption ">
                            <h5>@tooptip.Title</h5>
                        </div>
                    </div>
                    rowno++;
                }
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    }
    else
    {
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 500px !important; "></div>
    }
</div>

