﻿
@{
    ViewData["Title"] = "Internal Server Error";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12  col-md-12 col-lg-12">
    <div class="PageLayout">
        <div>
            <center>
                <h2>Login Error</h2>
            </center>
        </div>
    </div>
</div>
