﻿
@{
    ViewData["Title"] = "Network Error";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12  col-md-12 col-lg-12">
    <div class="PageLayout">
        <div>
            <center>
                <h2>No Internet Connection.</h2>
                <p>Please Check Your Internet Connection.</p>
            </center>
        </div>
    </div>
</div>
