﻿
@{
    ViewData["Title"] = "Session Expired";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12  col-md-12 col-lg-12">
    <div class="PageLayout">
        <div>
            <center>
                <h2>Session Expired</h2>
                <p>Please Referesh Your Browser and Try Again. &nbsp;<a href="@ViewBag.SessionLink">Login Again.</a></p>
            </center>
        </div>
    </div>
</div>
