﻿
@{
    ViewData["Title"] = "Un Authorized";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12  col-md-12 col-lg-12">
    <div class="PageLayout">
        <div>
            <center>
                <h2>Access Denied</h2>
                <p>You do not have access to view this page.</p>
            </center>
        </div>
    </div>
</div>
