﻿@{
    ViewData["Title"] = "Customer Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Privelage = (List<string>)ViewData["Previlage"];
    var newlayout = (string)ViewBag.newlayout;

}
<script src="~/PageJS/Angular/Controller/CustomerOverviewController.js" asp-append-version="true"></script>
<script src="~/PageJS/Angular/Service/Service.js" asp-append-version="true"></script>
<style>

    .PageLayout {
        min-height: 80vh !important;
    }

    .modal-dialog {
        width: 650px !important;
        overflow: auto !important;
    }

    h5 {
        font-weight: 600 !important;
    }
</style>
<div class="row" ng-controller="CustomerOverviewController">
    <loading></loading>
    <div class="col-sm-12  col-md-12 col-lg-12">
        <div>
            <ol class="breadcrumb">
                <li>
                    <a class="fa fa-home" id="home" ng-click="GoHome()"></a>
                </li>
                <li class="active">
                    <a id="Customer" ng-click="GoCustomer()">Customer Overview</a>
                </li>
            </ol>
            <div class="header" style="padding: 5px 2px;">
                <h4 class="modal-title">
                    <i class="fa fa-pie-chart"></i>
                    Customer Overview
                </h4>
            </div>
        </div>
        <div class="PageLayout">
            <center>
                <div style="padding: 2%;">
                    <div class="greeting"> What action would you like to perform for <span style="color:#0098b2"> {{customername}}?</span></div><br />
                    <div>
                        <h5 class="pull-left" ;><b>Available Layouts :</b></h5>
                        @*<i id="GoHome" ng-click="GoHome()"  style="float:right;font-size:24px;" class="fa fa-home" tooltip-placement="bottom" uib-tooltip="Go to Home"><span style="color:white;padding-left:5px" class="fa fa-angle-double-right"></span></i>*@
                    </div>
                    <div style="float:right">
                        @if (Privelage.Contains("COICB"))
                        {
                            <button id="Infocolumns" ng-click="Infocolumn()" class="btn   btn-primary" tooltip-placement="bottom" uib-tooltip="Info Columns"><span style="color:white;padding-right:5px" class="fa fa-info"></span>Info Columns</button>
                        }
                        @if (Privelage.Contains("COIB"))
                        {
                            <button id="Itegrator" ng-click="Itegrator()" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="{{itegratordata}}"><span style="color:white;padding-right:5px" class="fa fa-commenting"></span>Integrator</button>
                        }
                        @if (Privelage.Contains("COCNB"))
                        {
                            <button id="CustomerNotes" ng-click="CustomerNotespopup()" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="{{customerNotes}}"><span style="color:white;padding-right:5px" class="fa fa-commenting"></span>Customer Notes</button>
                        }
                        @if (Privelage.Contains("CONLB") && newlayout == "Yes")
                        {
                            <button id="NewInstructionset" ng-click="NewInstruction()" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Create New Layout"><span style="color:white;padding-right:5px" class="fa fa-plus"></span>New Layout</button>
                        }
                    </div>
                    <div style="clear:both;"></div>
                    <div id="CustomerOverview" style="border-radius:5px;">
                    </div>
                    <script type="text/ng-template" id="Edit">
                        <a class="fa @((Privelage.Contains("COEB") ? "fa-pencil-square-o" : "fa-pencil-square"))" data="{{:layoutId}}" name="eidtdata" id="{{:layoutId}}" data-layoutname="{{:layoutName}}" data-layoutstatusrefid="{{:layoutStatusRefId}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Edit Layout"></a>
                    </script>
                    <script type="text/ng-template" id="Delete">
                        <a class="fa @((Privelage.Contains("CODB") ? "fa-trash-o" : "fa-trash"))" data="{{:layoutId}}" name="deletedata" id="{{:layoutId}}" data-layoutname="{{:layoutName}}" data-customername="{{:customerName}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Delete Layout"></a>
                    </script>

                </div>
            </center>
        </div>

    </div>
    <div class="modal fade" id="EditLayoutModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width:600px">
            <div class="modal-content">
                <div class="modal-header modal-header-info">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">×</button>
                    <div class="popupheader"><h4 class="pull- left"><b>Update Layout</b></h4></div>
                </div>
                <div class="modal-body">
                    <div id="frmLayoutEdit" class="hide divEditLayout">
                        <form novalidate name="frmEditLayout" ng-submit="updateLayout()" class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <input type="hidden" id="hidupdatelayoutid" class="form-control" />
                                    <input type="hidden" id="hfOldLayoutName" class="form-control" />
                                    <label class="control-label col-sm-4">Layout Name</label>
                                    <div class="col-lg-8">
                                        <input type="text" id="txtupdatelayout" maxlength="35" minlength="2" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="box-footer" align="right">
                                <div class="clearfix"></div>
                                <div class="modal-footer">
                                    <div>
                                        <button type="submit" class="btn btn-success">Update</button>
                                        <button type="reset" class="btn" ng-click="canceleditlayout()">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    


                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="CustomerOverviewModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width:600px">
            <div class="modal-content">
                <div class="modal-header modal-header-info">
                    <div><h4 class="pull- left"><b>Delete</b></h4></div>
                </div>
                <div class="modal-body">
                    <div id="frmCustomerOverviewdelete" class="hide divCustomerOverview">
                        <div class="form-group col-md-12 col-sm-12 deletemsg">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-primary" ng-click="deletelayout()">Ok</button>
                        <button type="button" class="btn" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="Infocolumn.html">
    <form name="InfocolumnList" class="myForm" role="form" ng-submit="submitReleaseList()">
        <!-- The Modal -->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">×</button>
            <h5>Info Columns</h5>
        </div>
        <div class="modal-body">
            <div class="gridStyle" ng-grid="InfoColumn">
            </div>
        </div>
        @*<div class="clearfix"></div>*@
    </form>
</script>

<script type="text/ng-template" id="Integrator.html">
    <form name="IntegratorList" class="myForm" role="form" ng-submit="submitIntegrator()">
        <!-- The Modal -->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">×</button>
            <h5>Integrator</h5>
        </div>
        <div class="modal-body">
            <input type="hidden" ng-model="$parent.iId" />
            <textarea id="Itegrator" rows="3" cols="50" style="resize: none;" ng-blur="SaveIntegrator()" ng-model="$parent.itegratordata" maxlength="100">
                </textarea>
            <span><b>{{100 - itegratordata.length}} left</b></span>
        </div>
        <div class="clearfix"></div>
    </form>
</script>

<script type="text/ng-template" id="CustomerNotes.html">
    <form name="CustomerNotesList" class="myForm" role="form" ng-submit="submitCustomerNotes()">
        <!-- The Modal -->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">×</button>
            <h5>Customer Notes</h5>
        </div>
        <div class="modal-body">
            <input type="hidden" ng-model="$parent.cnId" />
            <textarea id="CustomerNotes" rows="5" cols="50" style="resize: none;" ng-blur="SaveCustomerNotes()" ng-model="$parent.customerNotes" maxlength="200">
                </textarea>
            <span style="padding-top:5px;"><b>{{200 - customerNotes.length}} left</b></span>
        </div>
        <div class="clearfix"></div>
    </form>
</script>

<script type="text/ng-template" id="GoToInstructionset.html">

    <form name="Instructionset" class="myForm" role="form" ng-submit="submitinstructionset()">
        <!-- The Modal -->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">×</button>
            <h5>New Layout</h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-lg-3">Layout Name <span class="errorfont">*</span></div>
                <div class="form-group col-lg-9">
                    <input type="text" id="txyLayoutName" class="form-control" ng-model="$parent.LayoutName" maxlength="35" minlength="2" />
                    <label class="control-label" id="lblduplicate" name="lblduplicate" style="color:red;font:15px;font:normal;" ng-model="$parent.duplicate">{{duplicate}}</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-3">Main Language <span class="errorfont">*</span></div>
                <div class="form-group col-lg-9">
                    <select class="form-control" id="dpLanguage" ng-options="L.languageId as L.languageDescription for L in Language track by L.languageDescription" ng-model="DefaultLanguage">
                        <option value="">-- Select Language --</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-primary" ng-model="$parent.valuesofbutton">Create</button>
                <button type="reset" class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</script>

