﻿@{
    ViewData["Title"] = "Saved Values Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}

<script src="~/PageJS/Angular/Controller/SavedValuesOverviewController.js" asp-append-version="true"></script>
<script src="~/PageJS/Angular/Service/Service.js" asp-append-version="true"></script>
<style>

    .modal-footer {
        padding: 19px 0px 20px !important;
    }

    .nav-tabs-custom {
        margin-bottom: 20px;
        background: #fff;
        border-radius: 3px;
        width: 100%;
    }

        .nav-tabs-custom > .nav-tabs {
            margin: 0;
            border-bottom-color: #f4f4f4;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
        }

            .nav-tabs-custom > .nav-tabs > li {
                border-top: 3px solid transparent;
                margin-bottom: -2px;
                margin-right: 5px;
            }

                .nav-tabs-custom > .nav-tabs > li > a {
                    color: #444;
                    border-radius: 0;
                }

                    .nav-tabs-custom > .nav-tabs > li > a.text-muted {
                        color: #999;
                    }

                    .nav-tabs-custom > .nav-tabs > li > a, .nav-tabs-custom > .nav-tabs > li > a:hover {
                        background: transparent;
                        margin: 0;
                    }

                        .nav-tabs-custom > .nav-tabs > li > a:hover {
                            color: #999;
                        }

                .nav-tabs-custom > .nav-tabs > li:not(.active) > a:hover, .nav-tabs-custom > .nav-tabs > li:not(.active) > a:focus, .nav-tabs-custom > .nav-tabs > li:not(.active) > a:active {
                    border-color: transparent;
                }

                .nav-tabs-custom > .nav-tabs > li.active {
                    /*border-top-color: #3c8dbc;*/
                    border-top-color: #000000;
                }

                    .nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
                        background-color: #fff;
                        color: #444;
                    }

                    .nav-tabs-custom > .nav-tabs > li.active > a {
                        border-top-color: transparent;
                        border-left-color: #f4f4f4;
                        border-right-color: #f4f4f4;
                    }

                .nav-tabs-custom > .nav-tabs > li:first-of-type {
                    margin-left: 0;
                }

                    .nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
                        border-left-color: transparent;
                    }

            .nav-tabs-custom > .nav-tabs.pull-right {
                float: none !important;
            }

                .nav-tabs-custom > .nav-tabs.pull-right > li {
                    float: right;
                }

                    .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type {
                        margin-right: 0;
                    }

                        .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type > a {
                            border-left-width: 1px;
                        }

                        .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type.active > a {
                            border-left-color: #f4f4f4;
                            border-right-color: transparent;
                        }

            .nav-tabs-custom > .nav-tabs > li.header {
                line-height: 35px;
                padding: 0 10px;
                font-size: 20px;
                color: #444;
            }

                .nav-tabs-custom > .nav-tabs > li.header > .fa, .nav-tabs-custom > .nav-tabs > li.header > .glyphicon, .nav-tabs-custom > .nav-tabs > li.header > .ion {
                    margin-right: 5px;
                }

        .nav-tabs-custom > .tab-content {
            background: #fff;
            padding: 10px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .nav-tabs-custom .dropdown.open > a:active, .nav-tabs-custom .dropdown.open > a:focus {
            background: transparent;
            color: #999;
        }

        .nav-tabs-custom.tab-primary > .nav-tabs > li.active {
            border-top-color: #3c8dbc;
        }

        .nav-tabs-custom.tab-info > .nav-tabs > li.active {
            border-top-color: #00c0ef;
        }

        .nav-tabs-custom.tab-danger > .nav-tabs > li.active {
            border-top-color: #dd4b39;
        }

        .nav-tabs-custom.tab-warning > .nav-tabs > li.active {
            border-top-color: #f39c12;
        }

        .nav-tabs-custom.tab-success > .nav-tabs > li.active {
            border-top-color: #00a65a;
        }

        .nav-tabs-custom.tab-default > .nav-tabs > li.active {
            border-top-color: #d2d6de;
        }

    .tablescroll {
        overflow-y: auto;
        overflow-x: auto;
        max-height: 500px;
    }

    .table tr {
        cursor: pointer !important;
    }

    .table {
        margin-bottom: 10px !important;
    }
</style>

<div class="row" ng-controller="SavedValuesOverviewController">
    <loading></loading>
    <div class="col-sm-12  col-md-12 col-lg-12">
        <div>
            <ol class="breadcrumb">
                <li>
                    <a class="fa fa-home" id="home" ng-click="GoHome()"></a>
                </li>
                <li>
                    <a id="Dashboard" ng-click="Dashboard()">Dashboard</a>
                </li>
                <li class="active">
                    <a id="SavedValues">Saved Values Overview</a>
                </li>
            </ol>
            <div class="header" style="padding: 5px 2px;">
                <div style=" display:inline-block;">
                    <h4 class="modal-title">
                        <i class="fa fa-book"></i>
                        Saved Values Overview
                    </h4>
                </div>
                <div style=" display:inline-block; float:right;">
                    @if ((Previlage.Contains("QPD") && LayoutStatusPrevilage.Contains("QPD")) || RoleWithLayoutStatusPrevilage.Contains("QPD"))
                    {
                        <button ng-click="Dashboard()" style="" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Dashboard"><span style="color:white;padding-right:5px" class="fa fa-dashboard"></span>Dashboard</button>
                    }
                    @if ((Previlage.Contains("QPSL") && LayoutStatusPrevilage.Contains("QPSL")) || RoleWithLayoutStatusPrevilage.Contains("QPSL"))
                    {
                        <button id="GOScreenLayout" ng-click="RedirecttoScreenLayout()" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Screen Layout"><span style="color:white;padding-right:5px" class="fa fa-exchange"></span>Screen Layout</button>
                    }
                    @if ((Previlage.Contains("QPL") && LayoutStatusPrevilage.Contains("QPL")) || RoleWithLayoutStatusPrevilage.Contains("QPL"))
                    {
                        <button ng-click="RedirecttoShowLayout()" style="" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Show Layout"><span style="color:white;padding-right:5px" class="fa fa-binoculars"></span>Show Layout</button>
                    }
                    @if ((Previlage.Contains("QPT") && LayoutStatusPrevilage.Contains("QPT")) || RoleWithLayoutStatusPrevilage.Contains("QPT"))
                    {
                        <button id="GoTranslation" ng-click="RedirecttoTranslation()" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Translations"><span style="color:white;padding-right:5px" class="fa fa-book"></span>Translations</button>
                    }
                </div>
            </div>
        </div>
        <div class="PageLayout">
            <div class="nav-tabs-custom pull-left">
                <ul class="nav nav-tabs" id="activeul">
                    <li data-interest="SavedValues" data-tableid="1" class="active"><a href="#" ng-click="goSavedValues()" data-toggle="tab" aria-expanded="false">Saved Values</a></li>
                    <li data-interest="Location" data-tableid="1"><a href="#" ng-click="goLocation()" data-toggle="tab" aria-expanded="false">Location</a></li>
                </ul>
                <div class="tab-content">
                    <div class="savedvaluesgrid">
                        <div id="gridSavedValues">
                        </div>
                    </div>
                    <div class="locationgrid">
                        <div id="gridLocation">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

