
@{
    ViewData["Title"] = "Screen Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<script src="~/PageJS/Angular/Controller/ScreenLayoutController.js" asp-append-version="true"></script>
<script src="~/PageJS/Angular/Service/Service.js" asp-append-version="true"></script>

<style>

    #leftErrorMsg {
        float: left;
        color: #777;
        font-size: 16px;
        padding-bottom: 1%;
        padding-top: 1%;
    }

    #rightErrorMsg {
        float: left;
        color: #777;
        font-size: 16px;
        padding-bottom: 1%;
        padding-top: 1%;
        padding-left: 10px;
    }

    #Act1, #leftErrorMsg {
        width: 29%;
    }

    #Act2, #rightErrorMsg {
        width: 69%;
    }

    .leftframe {
        border: 1px solid #eee;
        height: 550px;
        overflow-y: auto;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
        margin-right: 10px;
    }

    .rightframe {
        border: 1px solid #eee;
        height: 550px;
        overflow-y: auto;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
    }

    #Act1 li, #Act2 li {
        font-size: 1.2em;
        display: inline-block;
        border: solid dotted 5px;
        margin: 5px;
        padding: 6px;
    }

    #Act1 li {
        /*background-color: #777;*/
        width: 98%;
        float: left;
    }

    #Act2 li {
        /*background-color: #777;*/
        width: 48%;
        float: left;
    }

    #Reg1 {
        width: 29%;
    }

    #Reg2 {
        width: 69%;
    }

        #Reg1 li, #Reg2 li {
            font-size: 1.2em;
            display: inline-block;
            border: solid dotted 5px;
            margin: 5px;
            padding: 6px;
        }

    #Reg1 li {
        /*background-color: #777;*/
        width: 98%;
        float: left;
    }

    #Reg2 li {
        /*background-color: #777;*/
        width: 48%;
        float: left;
    }

    .PageLayout {
        min-height: 81vh !important;
    }
</style>

@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
<script src="~/js/drag/jquery-1.12.4.js"></script>
<script src="~/js/drag/jquery-ui.js"></script>
<script>

    $(function () {
        $("#Act1, #Act2").sortable({
            connectWith: ".connectedSortable"
        }).disableSelection();
    });

    $(function () {
        $("#Act1").sortable({
            connectWith: ".connectedSortable"
        }).disableSelection();
    });

    $(function () {
        $("#Reg1, #Reg2").sortable({
            connectWith: ".connectedSortableReg"
        }).disableSelection();
    });

    $(function () {
        $("#Reg1").sortable({
            connectWith: ".connectedSortableReg"
        }).disableSelection();
    });



</script>

<style>
    li:empty:after {
        content: "Please drag your activities to this side and arrange them in the desired order.";
    }

    .nav-tabs-custom {
        margin-bottom: 20px;
        background: #fff;
        border-radius: 3px;
        width: 100%;
    }

        .nav-tabs-custom > .nav-tabs {
            margin: 0;
            border-bottom-color: #f4f4f4;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
        }

            .nav-tabs-custom > .nav-tabs > li {
                border-top: 3px solid transparent;
                margin-bottom: -2px;
                margin-right: 5px;
            }

                .nav-tabs-custom > .nav-tabs > li > a {
                    color: #444;
                    border-radius: 0;
                }

                    .nav-tabs-custom > .nav-tabs > li > a.text-muted {
                        color: #999;
                    }

                    .nav-tabs-custom > .nav-tabs > li > a, .nav-tabs-custom > .nav-tabs > li > a:hover {
                        background: transparent;
                        margin: 0;
                    }

                        .nav-tabs-custom > .nav-tabs > li > a:hover {
                            color: #999;
                        }

                .nav-tabs-custom > .nav-tabs > li:not(.active) > a:hover, .nav-tabs-custom > .nav-tabs > li:not(.active) > a:focus, .nav-tabs-custom > .nav-tabs > li:not(.active) > a:active {
                    border-color: transparent;
                }

                .nav-tabs-custom > .nav-tabs > li.active {
                    /*border-top-color: #3c8dbc;*/
                    border-top-color: #000000;
                }

                    .nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
                        background-color: #fff;
                        color: #444;
                    }

                    .nav-tabs-custom > .nav-tabs > li.active > a {
                        border-top-color: transparent;
                        border-left-color: #f4f4f4;
                        border-right-color: #f4f4f4;
                    }

                .nav-tabs-custom > .nav-tabs > li:first-of-type {
                    margin-left: 0;
                }

                    .nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
                        border-left-color: transparent;
                    }

            .nav-tabs-custom > .nav-tabs.pull-right {
                float: none !important;
            }

                .nav-tabs-custom > .nav-tabs.pull-right > li {
                    float: right;
                }

                    .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type {
                        margin-right: 0;
                    }

                        .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type > a {
                            border-left-width: 1px;
                        }

                        .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type.active > a {
                            border-left-color: #f4f4f4;
                            border-right-color: transparent;
                        }

            .nav-tabs-custom > .nav-tabs > li.header {
                line-height: 35px;
                padding: 0 10px;
                font-size: 20px;
                color: #444;
            }

                .nav-tabs-custom > .nav-tabs > li.header > .fa, .nav-tabs-custom > .nav-tabs > li.header > .glyphicon, .nav-tabs-custom > .nav-tabs > li.header > .ion {
                    margin-right: 5px;
                }

        .nav-tabs-custom > .tab-content {
            background: #fff;
            padding: 10px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .nav-tabs-custom .dropdown.open > a:active, .nav-tabs-custom .dropdown.open > a:focus {
            background: transparent;
            color: #999;
        }

        .nav-tabs-custom.tab-primary > .nav-tabs > li.active {
            border-top-color: #3c8dbc;
        }

        .nav-tabs-custom.tab-info > .nav-tabs > li.active {
            border-top-color: #00c0ef;
        }

        .nav-tabs-custom.tab-danger > .nav-tabs > li.active {
            border-top-color: #dd4b39;
        }

        .nav-tabs-custom.tab-warning > .nav-tabs > li.active {
            border-top-color: #f39c12;
        }

        .nav-tabs-custom.tab-success > .nav-tabs > li.active {
            border-top-color: #00a65a;
        }

        .nav-tabs-custom.tab-default > .nav-tabs > li.active {
            border-top-color: #d2d6de;
        }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        $("#Act2").mouseleave();

        $("#Act2").mouseleave(function () {

            if ($("#Act1").has("li").length == 0) {
                $("#ActLeft").html("All activities have been assigned to a position on the screen layout.");
            }
            else { $("#ActLeft").html(""); }

            if ($("#Act2").has("li").length == 0) {
                $("#ActRight").html("Please drag your activities to this side and arrange them in the desired order.");
            } else { $("#ActRight").html(""); }
        });
        $("#Act1").mouseleave(function () {

            if ($("#Act1").has("li").length == 0) {
                $("#ActLeft").html("All activities have been assigned to a position on the screen layout.");
            }
            else { $("#ActLeft").html(""); }

            if ($("#Act2").has("li").length == 0) {
                $("#ActRight").html("Please drag your activities to this side and arrange them in the desired order.");
            } else { $("#ActRight").html(""); }
        });
        $("#Reg1").mouseleave(function () {

            if ($("#Reg1").has("li").length == 0) {
                $("#RegLeft").html("All registrations have been assigned to a position on the screen layout.");
            } else { $("#RegLeft").html(""); }

            if ($("#Reg2").has("li").length == 0) {
                $("#RegRight").html("Please drag your registrations to this side and arrange them in the desired order.");
            } else { $("#RegRight").html(""); }
        });
        $("#Reg2").mouseleave(function () {

            if ($("#Reg1").has("li").length == 0) {
                $("#RegLeft").html("All registrations have been assigned to a position on the screen layout.");
            } else { $("#RegLeft").html(""); }

            if ($("#Reg2").has("li").length == 0) {
                $("#RegRight").html("Please drag your registrations to this side and arrange them in the desired order.");
            } else { $("#RegRight").html(""); }
        });

        $("#Act2").mouseleave(function () {

            if ($("#Act1").has("li").length == 0) {
                $("#ActLeft").html("All activities have been assigned to a position on the screen layout.");
            }
            else { $("#ActLeft").html(""); }

            if ($("#Act2").has("li").length == 0) {
                $("#ActRight").html("Please drag your activities to this side and arrange them in the desired order.");
            } else { $("#ActRight").html(""); }
        });
        $("#Act1").mouseleave(function () {

            if ($("#Act1").has("li").length == 0) {
                $("#ActLeft").html("All activities have been assigned to a position on the screen layout.");
            }
            else { $("#ActLeft").html(""); }

            if ($("#Act2").has("li").length == 0) {
                $("#ActRight").html("Please drag your activities to this side and arrange them in the desired order.");
            } else { $("#ActRight").html(""); }
        });
        $("#Reg1").mouseleave(function () {

            if ($("#Reg1").has("li").length == 0) {
                $("#RegLeft").html("All registrations have been assigned to a position on the screen layout.");
            } else { $("#RegLeft").html(""); }

            if ($("#Reg2").has("li").length == 0) {
                $("#RegRight").html("Please drag your registrations to this side and arrange them in the desired order.");
            } else { $("#RegRight").html(""); }
        });
        $("#Reg2").mouseleave(function () {

            if ($("#Reg1").has("li").length == 0) {
                $("#RegLeft").html("All registrations have been assigned to a position on the screen layout.");
            } else { $("#RegLeft").html(""); }

            if ($("#Reg2").has("li").length == 0) {
                $("#RegRight").html("Please drag your registrations to this side and arrange them in the desired order.");
            } else { $("#RegRight").html(""); }
        });

        $("#Act1").find(".Grey").each(function () {
            $(this).closest("li").css("backgroundColor", "yellow");
        });


    });
</script>

<div class="row" ng-controller="ScreenLayoutController">
    <loading></loading>
    <div class="col-sm-12  col-md-12 col-lg-12">
        <div>
            <ol class="breadcrumb">
                <li>
                    <a class="fa fa-home" id="home" ng-click="GoHome()"></a>
                </li>
                <li>
                    <a id="Dashboard" ng-click="Dashboard()">Dashboard</a>
                </li>
                <li class="active">
                    <a id="ScreenLayout">Screen Layout</a>
                </li>
            </ol>
            <div class="header" style="padding: 5px 2px;">
                <div style=" display:inline-block;">
                    <h4 class="modal-title">
                        <i class="fa fa-exchange"></i>
                        Screen Layout
                    </h4>
                </div>
                <div style=" display:inline-block; float:right;">
                    @if ((Previlage.Contains("SLD") && LayoutStatusPrevilage.Contains("SLD")) || RoleWithLayoutStatusPrevilage.Contains("SLD"))
                    {
                        <button ng-click="Dashboard()" style="" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Dashboard"><span style="color:white;padding-right:5px" class="fa fa-dashboard"></span>Dashboard</button>
                    }
                    @if ((Previlage.Contains("SLL") && LayoutStatusPrevilage.Contains("SLL")) || RoleWithLayoutStatusPrevilage.Contains("SLL"))
                    {
                        <button ng-click="RedirecttoShowLayout()" style="" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Show Layout"><span style="color:white;padding-right:5px" class="fa fa-binoculars"></span>Show Layout</button>
                    }
                    @if ((Previlage.Contains("SLT") && LayoutStatusPrevilage.Contains("SLT")) || RoleWithLayoutStatusPrevilage.Contains("SLT"))
                    {
                        <button id="GoTranslation" ng-click="RedirecttoTranslation()" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Translations"><span style="color:white;padding-right:5px" class="fa fa-book"></span>Translations</button>
                    }
                </div>
            </div>
        </div>
        <div class="PageLayout">
            <div class="nav-tabs-custom pull-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#Activetab" data-toggle="tab" aria-expanded="false">Activity</a></li>
                    <li><a href="#Registrationtab" data-toggle="tab" aria-expanded="false">Registration</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="Activetab">
                        <div id="leftErrorMsg"><span id="ActLeft"></span></div>
                        <div id="rightErrorMsg">
                            <span id="ActRight"></span>
                        </div>
                        <div class="clearfix"></div>
                        <ul id="Act1" class="connectedSortable leftframe">
                            <li id="{{Activity.activitiesRegistrationId}}" ng-repeat="Activity in Activities track by $index"><div class="{{Activity.copyLayoutColor}}">{{Activity.activitiesRegistrationName}}</div></li>
                        </ul>
                        <ul id="Act2" class="connectedSortable rightframe">
                            <li id="{{Activity.activitiesRegistrationId}}" ng-repeat="Activity in GetActivitiesPosition track by $index"><div class="{{Activity.copyLayoutColor}}">{{Activity.activitiesRegistrationName}}</div></li>
                        </ul>
                        @if ((Previlage.Contains("SLASB") && LayoutStatusPrevilage.Contains("SLASB")) || RoleWithLayoutStatusPrevilage.Contains("SLASB"))
                        {
                            <button id="btnActivities" ng-click="AddActPosition()" class="btn btn-primary sharedlayout_btn pull-right" tooltip-placement="bottom" uib-tooltip="Save Activity">Save</button>
                        }
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="Registrationtab">
                        <div id="leftErrorMsg"><span id="RegLeft"></span></div>
                        <div id="rightErrorMsg">
                            <span id="RegRight"></span>
                        </div>
                        <div class="clearfix"></div>
                        <ul id="Reg1" class="connectedSortableReg leftframe">
                            <li id="{{Registra.activitiesRegistrationId}}" ng-repeat="Registra in Registration track by $index"><div class="{{Registra.copyLayoutColor}}">{{Registra.activitiesRegistrationName}}</div></li>
                        </ul>
                        <ul id="Reg2" class="connectedSortableReg rightframe">
                            <li id="{{Registra.activitiesRegistrationId}}" ng-repeat="Registra in GetRegistrationPosition track by $index">
                                <div class="{{Registra.copyLayoutColor}}">
                                    {{Registra.activitiesRegistrationName}}
                                </div>
                            </li>
                        </ul>
                        @if ((Previlage.Contains("SLRSB") && LayoutStatusPrevilage.Contains("SLRSB")) || RoleWithLayoutStatusPrevilage.Contains("SLRSB"))
                        {
                            <button id="btnRegistration" ng-click="AddRegPosition()" class="btn btn-primary sharedlayout_btn  pull-right" tooltip-placement="bottom" uib-tooltip="Save Registration">Save</button>
                        }
                    </div>
                </div>
                <!-- /.tab-pane -->
            </div>
        </div>
    </div>
</div>
