﻿<form name="frmExportTranslations" ng-submit="submitExportTranslations()" class="form-horizontal">
    <div class="box-body">
        <div class="form-group col-md-4 col-sm-4">Select Languages  <span class="errorfont">*</span></div>
        <div class="form-group col-md-8 col-sm-8">
            <input type="text" id="dpExportTranslations" class="form-control" />
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="box-footer" align="right">
        <div class="clearfix"></div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-primary"><span class="fa fa-download"></span> Download</button>
                <button type="button" class="btn" ng-click="cancelExportTranslations()">Cancel</button>
            </div>
        </div>
    </div>
</form>