﻿<form novalidate name="frmInfoMessageContent" ng-submit="saveInfoMessageContentLangDetail(translator)" class="form-horizontal">
    <div class="box-body">
        <div class="form-group">
            <input type="hidden" ng-model="translator.language" class="form-control" />
            <input type="hidden" ng-model="translator.id" class="form-control" />
            <input type="hidden" ng-model="translator.langRefDetailId" class="form-control" />
            <div class="col-sm-6" style="word-wrap:break-word;" id="divlangText"></div>
            <div class="col-lg-6">
                <textarea id="txtInfoMessageContent" ng-model="translator.selectedLanguage" style="resize:none;" onkeypress="return blockSpecialChar(event)" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="box-footer" align="right">
        <div class="clearfix"></div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-info" ng-click="resetlang()">Reset</button>
            </div>
        </div>
    </div>
</form>

