﻿<form novalidate name="frmLanguage" ng-submit="saveUsedLanguage(languageSelect)" class="form-horizontal">
    <div class="box-body">
        <div class="form-group">
            <input type="hidden" ng-model="languageSelect.layoutRefId" class="form-control" />
            <input type="hidden" ng-model="languageSelect.activeList" class="form-control" />
            <input type="hidden" ng-model="languageSelect.tableId" class="form-control" />
            <input type="hidden" id="hidType" class="form-control" />
            <label class="col-sm-4 control-label">Language</label>
            <div class="col-lg-8">
                <select class="form-control" id="sltlanguage" name="sltlanguage" ng-model="languageSelect.languageSelectedId">
                    <option value="" selected>-- Select Language --</option>
                    <option ng-repeat="val in languageSelect.languageMasters" value="{{val.languageId}}">
                        {{val.languageDescription}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="box-footer" align="right">
        <div class="clearfix"></div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-info" ng-click="resetusedlang()">Reset</button>
            </div>
        </div>
    </div>
</form>