﻿<form novalidate name="frmtranslator" ng-submit="saveLangActivitiesRegistration(translator)" class="form-horizontal">
    <div class="box-body">
        <div class="form-group">
            <input type="hidden" ng-model="translator.language" class="form-control" />
            <input type="hidden" ng-model="translator.id" class="form-control" />
            <input type="hidden" ng-model="translator.workingCode" class="form-control" />

            <label class="col-sm-4 control-label">{{translator.langText}}</label>
            <div class="col-lg-8">
                <input type="text" id="txttranslatorlanguage" ng-model="translator.selectedLanguage" data-expectvalidation="&" maxlength="35" class="form-control" />
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="box-footer" align="right">
        <div class="clearfix"></div>
        <div class="modal-footer">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-info" ng-click="resetlang()">Reset</button>
            </div>
        </div>
    </div>
</form>