﻿@{
    ViewData["Title"] = "Translation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Privelage = (List<string>)ViewData["Previlage"];
}
<script src="~/PageJS/Angular/Controller/CentralTranslationController.js" asp-append-version="true"></script>
<script src="~/PageJS/Angular/Service/Service.js" asp-append-version="true"></script>
<style>

    #UploadTranslation_SelectButton {
        margin-top: -7px !important;
    }

    #UploadTranslation {
        width: 100px !important;
        height: 30px !important;
        padding-bottom: 5px !important;
    }

    .modal-footer {
        padding: 19px 0px 20px !important;
    }

    .nav-tabs-custom {
        margin-bottom: 20px;
        background: #fff;
        border-radius: 3px;
        width: 100%;
    }

        .nav-tabs-custom > .nav-tabs {
            margin: 0;
            border-bottom-color: #f4f4f4;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
        }

            .nav-tabs-custom > .nav-tabs > li {
                border-top: 3px solid transparent;
                margin-bottom: -2px;
                margin-right: 5px;
            }

                .nav-tabs-custom > .nav-tabs > li > a {
                    color: #444;
                    border-radius: 0;
                }

                    .nav-tabs-custom > .nav-tabs > li > a.text-muted {
                        color: #999;
                    }

                    .nav-tabs-custom > .nav-tabs > li > a, .nav-tabs-custom > .nav-tabs > li > a:hover {
                        background: transparent;
                        margin: 0;
                    }

                        .nav-tabs-custom > .nav-tabs > li > a:hover {
                            color: #999;
                        }

                .nav-tabs-custom > .nav-tabs > li:not(.active) > a:hover, .nav-tabs-custom > .nav-tabs > li:not(.active) > a:focus, .nav-tabs-custom > .nav-tabs > li:not(.active) > a:active {
                    border-color: transparent;
                }

                .nav-tabs-custom > .nav-tabs > li.active {
                    /*border-top-color: #3c8dbc;*/
                    border-top-color: #000000;
                }

                    .nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
                        background-color: #fff;
                        color: #444;
                    }

                    .nav-tabs-custom > .nav-tabs > li.active > a {
                        border-top-color: transparent;
                        border-left-color: #f4f4f4;
                        border-right-color: #f4f4f4;
                    }

                .nav-tabs-custom > .nav-tabs > li:first-of-type {
                    margin-left: 0;
                }

                    .nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
                        border-left-color: transparent;
                    }

            .nav-tabs-custom > .nav-tabs.pull-right {
                float: none !important;
            }

                .nav-tabs-custom > .nav-tabs.pull-right > li {
                    float: right;
                }

                    .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type {
                        margin-right: 0;
                    }

                        .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type > a {
                            border-left-width: 1px;
                        }

                        .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type.active > a {
                            border-left-color: #f4f4f4;
                            border-right-color: transparent;
                        }

            .nav-tabs-custom > .nav-tabs > li.header {
                line-height: 35px;
                padding: 0 10px;
                font-size: 20px;
                color: #444;
            }

                .nav-tabs-custom > .nav-tabs > li.header > .fa, .nav-tabs-custom > .nav-tabs > li.header > .glyphicon, .nav-tabs-custom > .nav-tabs > li.header > .ion {
                    margin-right: 5px;
                }

        .nav-tabs-custom > .tab-content {
            background: #fff;
            padding: 10px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .nav-tabs-custom .dropdown.open > a:active, .nav-tabs-custom .dropdown.open > a:focus {
            background: transparent;
            color: #999;
        }

        .nav-tabs-custom.tab-primary > .nav-tabs > li.active {
            border-top-color: #3c8dbc;
        }

        .nav-tabs-custom.tab-info > .nav-tabs > li.active {
            border-top-color: #00c0ef;
        }

        .nav-tabs-custom.tab-danger > .nav-tabs > li.active {
            border-top-color: #dd4b39;
        }

        .nav-tabs-custom.tab-warning > .nav-tabs > li.active {
            border-top-color: #f39c12;
        }

        .nav-tabs-custom.tab-success > .nav-tabs > li.active {
            border-top-color: #00a65a;
        }

        .nav-tabs-custom.tab-default > .nav-tabs > li.active {
            border-top-color: #d2d6de;
        }

    .tablescroll {
        overflow-y: auto;
        overflow-x: auto;
        max-height: 500px;
    }

    .table tr {
        cursor: pointer !important;
    }

    .table {
        margin-bottom: 10px !important;
    }

    #UploadGeneralTranslation_SelectButton {
        margin-top: -7px !important;
    }

    #UploadGeneralTranslation {
        width: 100px !important;
        height: 30px !important;
        padding-bottom: 5px !important;
    }
    #UploadCustomerSpecificTranslation_SelectButton {
        margin-top: -7px !important;
    }

    #UploadCustomerSpecificTranslation {
        width: 100px !important;
        height: 30px !important;
        padding-bottom: 5px !important;
    }

    #UploadCommonUITranslation_SelectButton {
        margin-top: -7px !important;
    }

    #UploadCommonUITranslation {
        width: 100px !important;
        height: 30px !important;
        padding-bottom: 5px !important;
    }

    #UploadSpecificUITranslation_SelectButton {
        margin-top: -7px !important;
    }

    #UploadSpecificUITranslation {
        width: 100px !important;
        height: 30px !important;
        padding-bottom: 5px !important;
    }



</style>

<div class="row" ng-controller="CentralTranslationController">
    <loading></loading>
    <div class="col-sm-12  col-md-12 col-lg-12">
        <div>
            <div class="header" style="padding: 5px 2px;">
                <div style=" display:inline-block;">
                    <h4 class="modal-title">
                        <i class="fa fa-book"></i>
                        Translation
                    </h4>
                </div>
            </div>
        </div>
        <div class="PageLayout">
            <div class="nav-tabs-custom pull-left">
                <ul class="nav nav-tabs" id="activeul">
                    <li data-interest="General" data-tableid="1" class="active"><a href="#" ng-click="generalTranslation()" data-toggle="tab" aria-expanded="false">General</a></li>
                    <li data-interest="CustomerSpecific" data-tableid="1"><a href="#" ng-click="customerSpecificTranslation()" data-toggle="tab" aria-expanded="false">Customer Specific</a></li>
                    <li data-interest="UI">
                        <a ng-click="uITranslation()" href="#uiinput" data-toggle="tab" aria-expanded="false">UI Translation</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade" id="uiinput">
                        <div class="tabbable nav-tabs-custom">
                            <ul class="nav nav-tabs activechildul">
                                <li data-interest="Common" data-tableid="4" id="commontab"><a ng-click="commonUITranslation()" href="#uiinputcommon" data-toggle="tab" aria-expanded="false">Common Translation</a></li>
                                <li data-interest="Specific" data-tableid="5" id="specifictab"><a ng-click="specificUITranslation()" href="#uiinputspecific" data-toggle="tab" aria-expanded="false">Specific Translation</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="generaltranslations">
                        <div class="col-lg-12" style="margin: 0%; padding: 0px 0px;">
                            <span class="pull-right">
                                <button class="btn" style="background-color: #F07B0A !important; color:white !important;" data-title="Add" data-toggle="modal" data-target="#add" ng-click="GeneralExportTranslations()">
                                    <span class="fa fa-file-excel-o"></span> Export Excel
                                </button>
                            </span>
                        </div>
                        <div id="UploadGeneralTranslation"></div>
                        <div id="generaltranslationsgrid">
                        </div>
                    </div>
                    <div class="customerspecifictranslations">
                        <div class="form-group">
                            <label class="control-label col-lg-1">Customer</label>
                            <div class="col-lg-3">
                                <input type="text" id="CustomerSpecific" />
                            </div>
                            <div class="col-lg-3  pull-left">
                                <button id="GetCustomerSpecificTranslation" ng-click="getCustomerSpecificTranslation()" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Get Customer Specific Translation" style="margin-top:5px !important;"><span style="color:white;padding-right:5px" class="fa fa-play"></span>Get Customer Specific Translation</button>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div id="customerspecificgrid">
                            <div class="col-lg-12" style="margin: 0%; padding: 0px 0px;">
                                <span class="pull-right">
                                    <button class="btn" style="background-color: #F07B0A !important; color:white !important;" data-title="Add" data-toggle="modal" data-target="#add" ng-click="CustomerSpecificExportTranslations()">
                                        <span class="fa fa-file-excel-o"></span> Export Excel
                                    </button>
                                </span>
                            </div>
                            <div id="UploadCustomerSpecificTranslation"></div>
                            <div id="customerspecifictranslationsgrid">
                            </div>
                        </div>
                        <script type="text/ng-template" id="CustomerSpecificToGeneral">
                            <a class="fa fa-clone" data="{{:id}}" data-english="{{:english}}" name="customerSpecificToGeneral" id="{{:id}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Copy From Customer Specific To General Translation"></a>
                        </script>
                    </div>
                    <div class="commonuitranslations">
                        <div class="col-lg-12" style="margin: 0%; padding: 0px 0px;">
                            <span class="pull-right">
                                <button class="btn" style="background-color: #F07B0A !important; color:white !important;" data-title="Add" data-toggle="modal" data-target="#add" ng-click="CommonUIExportTranslations()">
                                    <span class="fa fa-file-excel-o"></span> Export Excel
                                </button>
                            </span>
                        </div>
                        <div id="UploadCommonUITranslation"></div>
                        <div id="commonuitranslationsgrid">
                        </div>
                    </div>
                    <div class="specificuitranslations">
                        <div class="col-lg-12" style="margin: 0%; padding: 0px 0px;">
                            <span class="pull-right">
                                <button class="btn" style="background-color: #F07B0A !important; color:white !important;" data-title="Add" data-toggle="modal" data-target="#add" ng-click="SpecificUIExportTranslations()">
                                    <span class="fa fa-file-excel-o"></span> Export Excel
                                </button>
                            </span>
                        </div>
                        <div id="UploadSpecificUITranslation"></div>
                        <div id="specificuitranslationsgrid">
                        </div>
                    </div>
                    <div id="loading" class="loading modal-backdrop" style="display:none"><img class="loadingimg" src="~/images/loader.gif" alt="LoadingIcon" align="middle" /></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $("ul.nav-tabs a").click(function (e) {
            e.preventDefault();
            var href = event.currentTarget.getAttribute('href');

            $("#uiinput").hide();
            if (href == "#uiinput") {
                $("#commontab").addClass("active");
                $("#specifictab").removeClass("active");
            }
            if (href == "#uiinput" || href == "#uiinputcommon" || href == "#uiinputspecific")
                $("#uiinput").show();
        });
    });

</script>
