﻿
@{
    ViewData["Title"] = "Translation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<script src="~/PageJS/Angular/Controller/TranslationController.js" asp-append-version="true"></script>
<script src="~/PageJS/Angular/Service/Service.js" asp-append-version="true"></script>


<style>

    #UploadTranslation_SelectButton {
        margin-top: -7px !important;
    }

    #UploadTranslation {
        width: 100px !important;
        height: 30px !important;
        padding-bottom: 5px !important;
    }


    .Green {
        background-color: #004d00 !important;
        color: white;
    }

    .Yellow {
        background-color: #cccc00 !important;
        color: white;
    }

    .Red {
        background-color: #cc0000 !important;
        color: white;
    }

    .modal-footer {
        padding: 19px 0px 20px !important;
    }

    .nav-tabs-custom {
        margin-bottom: 20px;
        background: #fff;
        border-radius: 3px;
        width: 100%;
    }

        .nav-tabs-custom > .nav-tabs {
            margin: 0;
            border-bottom-color: #f4f4f4;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
        }

            .nav-tabs-custom > .nav-tabs > li {
                border-top: 3px solid transparent;
                margin-bottom: -2px;
                margin-right: 5px;
            }

                .nav-tabs-custom > .nav-tabs > li > a {
                    color: #444;
                    border-radius: 0;
                }

                    .nav-tabs-custom > .nav-tabs > li > a.text-muted {
                        color: #999;
                    }

                    .nav-tabs-custom > .nav-tabs > li > a, .nav-tabs-custom > .nav-tabs > li > a:hover {
                        background: transparent;
                        margin: 0;
                    }

                        .nav-tabs-custom > .nav-tabs > li > a:hover {
                            color: #999;
                        }

                .nav-tabs-custom > .nav-tabs > li:not(.active) > a:hover, .nav-tabs-custom > .nav-tabs > li:not(.active) > a:focus, .nav-tabs-custom > .nav-tabs > li:not(.active) > a:active {
                    border-color: transparent;
                }

                .nav-tabs-custom > .nav-tabs > li.active {
                    /*border-top-color: #3c8dbc;*/
                    border-top-color: #000000;
                }

                    .nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
                        background-color: #fff;
                        color: #444;
                    }

                    .nav-tabs-custom > .nav-tabs > li.active > a {
                        border-top-color: transparent;
                        border-left-color: #f4f4f4;
                        border-right-color: #f4f4f4;
                    }

                .nav-tabs-custom > .nav-tabs > li:first-of-type {
                    margin-left: 0;
                }

                    .nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
                        border-left-color: transparent;
                    }

            .nav-tabs-custom > .nav-tabs.pull-right {
                float: none !important;
            }

                .nav-tabs-custom > .nav-tabs.pull-right > li {
                    float: right;
                }

                    .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type {
                        margin-right: 0;
                    }

                        .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type > a {
                            border-left-width: 1px;
                        }

                        .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type.active > a {
                            border-left-color: #f4f4f4;
                            border-right-color: transparent;
                        }

            .nav-tabs-custom > .nav-tabs > li.header {
                line-height: 35px;
                padding: 0 10px;
                font-size: 20px;
                color: #444;
            }

                .nav-tabs-custom > .nav-tabs > li.header > .fa, .nav-tabs-custom > .nav-tabs > li.header > .glyphicon, .nav-tabs-custom > .nav-tabs > li.header > .ion {
                    margin-right: 5px;
                }

        .nav-tabs-custom > .tab-content {
            background: #fff;
            padding: 10px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .nav-tabs-custom .dropdown.open > a:active, .nav-tabs-custom .dropdown.open > a:focus {
            background: transparent;
            color: #999;
        }

        .nav-tabs-custom.tab-primary > .nav-tabs > li.active {
            border-top-color: #3c8dbc;
        }

        .nav-tabs-custom.tab-info > .nav-tabs > li.active {
            border-top-color: #00c0ef;
        }

        .nav-tabs-custom.tab-danger > .nav-tabs > li.active {
            border-top-color: #dd4b39;
        }

        .nav-tabs-custom.tab-warning > .nav-tabs > li.active {
            border-top-color: #f39c12;
        }

        .nav-tabs-custom.tab-success > .nav-tabs > li.active {
            border-top-color: #00a65a;
        }

        .nav-tabs-custom.tab-default > .nav-tabs > li.active {
            border-top-color: #d2d6de;
        }

    .tablescroll {
        overflow-y: auto;
        overflow-x: auto;
        max-height: 400px;
    }

    .table tr {
        cursor: pointer !important;
    }

    .table {
        margin-bottom: 10px !important;
    }
</style>

<div class="row" ng-controller="TranslationController">
    <loading></loading>
    <div class="col-sm-12  col-md-12 col-lg-12">
        <div>
            <ol class="breadcrumb">
                <li>
                    <a class="fa fa-home" id="home" ng-click="GoHome()"></a>
                </li>
                <li>
                    <a id="Customer" ng-click="GetRecentActivitiestoDashboard()">Dashboard</a>
                </li>
                <li class="active">
                    <a id="Customer">Translation</a>
                </li>
            </ol>
            <div class="header" style="padding: 5px 2px;">
                <div style=" display:inline-block;">
                    <h4 class="modal-title">
                        <i class="fa fa-book"></i>
                        Translation
                    </h4>
                </div>
                <div style=" display:inline-block; float:right;">
                    @if ((Previlage.Contains("TD") && LayoutStatusPrevilage.Contains("TD")) || RoleWithLayoutStatusPrevilage.Contains("TD"))
                    {
                        <button ng-click="Dashboard()" style="" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Dashboard"><span style="color:white;padding-right:5px" class="fa fa-dashboard"></span>Dashboard</button>
                    }
                    @if ((Previlage.Contains("TSL") && LayoutStatusPrevilage.Contains("TSL")) || RoleWithLayoutStatusPrevilage.Contains("TSL"))
                    {
                        <button id="GOScreenLayout" ng-click="RedirecttoScreenLayout()" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Screen Layout"><span style="color:white;padding-right:5px" class="fa fa-exchange"></span>Screen Layout</button>
                    }
                    @if ((Previlage.Contains("TL") && LayoutStatusPrevilage.Contains("TL")) || RoleWithLayoutStatusPrevilage.Contains("TL"))
                    {
                        <button ng-click="RedirecttoShowLayout()" style="" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Show Layout"><span style="color:white;padding-right:5px" class="fa fa-binoculars"></span>Show Layout</button>
                    }
                </div>
            </div>
        </div>

        <div class="PageLayout">
            <div class="nav-tabs-custom pull-left">
                <ul class="nav nav-tabs" id="activeul">
                    <li data-interest="ListView" data-tableid="1" class="active"><a href="#" ng-click="translatorAll(999)" data-toggle="tab" aria-expanded="false">List View</a></li>
                    <li data-interest="Activities" data-tableid="1"><a href="#" ng-click="translateActivities(1)" data-toggle="tab" aria-expanded="false">Activities</a></li>
                    <li data-interest="Registration" data-tableid="1"><a ng-click="translateRegistration(1)" href="#" data-toggle="tab" aria-expanded="false">Registration</a></li>
                    <li data-interest="InfoColumn" data-tableid="2"><a ng-click="translateInfoColum(2)" href="#" data-toggle="tab" aria-expanded="false">Info Columns</a></li>
                    <li data-interest="Allowances" data-tableid="3"><a ng-click="translateAllowances(3)" href="#" data-toggle="tab" aria-expanded="false">Allowances</a></li>
                    <li data-interest="Driverinput" data-tableid="4">
                        <a ng-click="translateQuestionPath(4)" href="#driverinput" data-toggle="tab" aria-expanded="false">Driver Input</a>
                    </li>
                    <li data-interest="Planning" data-tableid="10">
                        <a ng-click="translateQuestionPath(10)" href="#planning" data-toggle="tab" aria-expanded="false">Planning</a>
                    </li>
                    <li data-interest="Messages" data-tableid="7">
                        <a ng-click="translateQuestionPath(7)" href="#messages" data-toggle="tab" aria-expanded="false">Messages</a>
                    </li>
                    <li data-interest="Functional" data-tableid="17">
                        <a ng-click="translateQuestionPath(17)" href="#functional" data-toggle="tab" aria-expanded="false">Functional</a>
                    </li>
                    <li data-interest="Specific" data-tableid="11">
                        <a ng-click="translateQuestionPath(11)" href="#specific" data-toggle="tab" aria-expanded="false">Specific</a>
                    </li>
                    <li data-interest="Flex" data-tableid="16">
                        <a ng-click="translateFlex(18)" href="#flex" data-toggle="tab" aria-expanded="false">Flex</a>
                    </li>
                    @if ((Previlage.Contains("TOT") && LayoutStatusPrevilage.Contains("TOT")) || RoleWithLayoutStatusPrevilage.Contains("TOT"))
                    {
                        <li data-interest="Other" data-tableid="16">
                            <a ng-click="translateQuestionPath(16)" href="#other" data-toggle="tab" aria-expanded="false">Others</a>
                        </li>
                    }
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade" id="driverinput">
                        <div class="tabbable nav-tabs-custom">
                            <ul class="nav nav-tabs activechildul">
                                <li data-interest="Choice" data-tableid="4" id="choicetab"><a ng-click="translateQuestionPath(4)" href="#driverinputchoice" data-toggle="tab" aria-expanded="false">Choice</a></li>
                                <li data-interest="ChoiceDetail" data-tableid="5" id="choicedetailtab"><a ng-click="translateQuestionPath(5)" href="#driverinputchoicedetail" data-toggle="tab" aria-expanded="false">Choice Detail</a></li>
                                <li data-interest="Entry" data-tableid="6" id="entrytab"><a ng-click="translateQuestionPath(6)" href="#driverinputentry" data-toggle="tab" aria-expanded="false">Entry</a></li>
                                <li data-interest="Trailer" data-tableid="15" id="trailer"><a ng-click="translateQuestionPath(15)" href="#trailer" data-toggle="tab" aria-expanded="false">Trailer</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="planning">
                        <div class="tabbable nav-tabs-custom">
                            <ul class="nav nav-tabs activechildul">
                                <li data-interest="PlanningSelect" data-tableid="10" id="planningselect"><a ng-click="translateQuestionPath(10)" href="#planningselect" data-toggle="tab" aria-expanded="false">Planning Select</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="messages">
                        <div class="tabbable nav-tabs-custom">
                            <ul class="nav nav-tabs activechildul">
                                <li data-interest="InfoMessage" data-tableid="7" id="infomessage"><a ng-click="translateQuestionPath(7)" href="#infomessage" data-toggle="tab" aria-expanded="false">Info Message Title</a></li>
                                <li data-interest="InfoMessageContent" data-tableid="12" id="infomessagecontent"><a ng-click="translateQuestionPath(12)" href="#infomessagecontent" data-toggle="tab" aria-expanded="false">Info Message Content</a></li>
                                <li data-interest="TextMessage" data-tableid="8" id="textmessages"><a ng-click="translateQuestionPath(8)" href="#textmessages" data-toggle="tab" aria-expanded="false">Text Message</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="functional">
                        <div class="tabbable nav-tabs-custom">
                            <ul class="nav nav-tabs activechildul">
                                <li data-interest="SetActionValue" data-tableid="10" id="setactionvalue"><a ng-click="translateQuestionPath(17)" href="#setactionvalue" data-toggle="tab" aria-expanded="false">Set Action/Value</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="specific">
                        <div class="tabbable nav-tabs-custom">
                            <ul class="nav nav-tabs activechildul">
                                <li data-interest="DocumentScan" data-tableid="11" id="documentscan"><a ng-click="translateQuestionPath(11)" href="#documentscan" data-toggle="tab" aria-expanded="false">Document Scan</a></li>
                                <li data-interest="TransportType" data-tableid="13" id="transportType"><a ng-click="translateQuestionPath(13)" href="#transportType" data-toggle="tab" aria-expanded="false">Transport Type</a></li>
                                <li data-interest="TransportTypeDetail" data-tableid="14" id="transportTypeDetail"><a ng-click="translateQuestionPath(14)" href="#transportTypeDetail" data-toggle="tab" aria-expanded="false">Transport Type Detail</a></li>
                                <li data-interest="VariableList" data-tableid="9" id="variablelist"><a ng-click="translateQuestionPath(9)" href="#variablelist" data-toggle="tab" aria-expanded="false">Variable list</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="flex">
                        <div class="tabbable nav-tabs-custom">
                            <ul class="nav nav-tabs activechildul">
                                <li data-interest="ExtraInfo" data-tableid="18" id="extrainfo"><a ng-click="translateFlex(18)" href="#extrainfo" data-toggle="tab" aria-expanded="false">Extra Info</a></li>
                                <li data-interest="ExtraInfoDetail" data-tableid="19" id="extrainfodetail"><a ng-click="translateFlex(19)" href="#extrainfodetail" data-toggle="tab" aria-expanded="false">Extra Info Detail</a></li>
                                <li data-interest="Pallets" data-tableid="20" id="pallets"><a ng-click="translateFlex(20)" href="#pallets" data-toggle="tab" aria-expanded="false">Pallets</a></li>
                                <li data-interest="PalletsDetail" data-tableid="21" id="palletsdetail"><a ng-click="translateFlex(21)" href="#palletsdetail" data-toggle="tab" aria-expanded="false">Pallets Detail</a></li>
                                <li data-interest="Problems" data-tableid="22" id="problems"><a ng-click="translateFlex(22)" href="#problems" data-toggle="tab" aria-expanded="false">Problems</a></li>
                                <li data-interest="ProblemsDetail" data-tableid="23" id="problemsdetail"><a ng-click="translateFlex(23)" href="#problemsdetail" data-toggle="tab" aria-expanded="false">Problems Detail</a></li>
                                <li data-interest="Signatures" data-tableid="24" id="signatures"><a ng-click="translateFlex(24)" href="#signatures" data-toggle="tab" aria-expanded="false">Signatures</a></li>
                                <li data-interest="Picture" data-tableid="25" id="picture"><a ng-click="translateFlex(25)" href="#picture" data-toggle="tab" aria-expanded="false">Picture</a></li>
                                <li data-interest="DocumentScanner" data-tableid="26" id="documentscanner"><a ng-click="translateFlex(26)" href="#documentscanner" data-toggle="tab" aria-expanded="false">Document Scanner</a></li>
                                <li data-interest="DocumentScannerDetail" data-tableid="27" id="documentscannerdetail"><a ng-click="translateFlex(27)" href="#documentscannerdetail" data-toggle="tab" aria-expanded="false">Document Scanner Detail</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="other">
                        <div class="tabbable nav-tabs-custom">
                            <ul class="nav nav-tabs activechildul">
                                <li data-interest="Questions" data-tableid="16" id="questions"><a ng-click="translateQuestionPath(16)" href="#questions" data-toggle="tab" aria-expanded="false">Question Path</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div id="translationstable" class="tablescroll">
                        <div class="col-lg-12" style="margin: 0%; padding: 0px 0px;">
                            @if ((Previlage.Contains("TALB") && LayoutStatusPrevilage.Contains("TALB")) || RoleWithLayoutStatusPrevilage.Contains("TALB"))
                            {
                                <span class="pull-right" data-placement="top" data-toggle="tooltip" title="Add New Language">
                                    <button class="pull-right btn btn-primary" id="tablevaiewadd" data-title="Add" data-toggle="modal" data-target="#add" ng-click="AddNewLanguage()">
                                        <span class="fa fa-plus"></span> Add Language
                                    </button>
                                </span>
                            }
                        </div>
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <th>Item</th>
                                    <th>Detail</th>
                                    <th ng-if="translators.isShowArabic && translators.isDefaultArabic == 1">Arabic</th>
                                    <th ng-if="translators.isShowBelarusian && translators.isDefaultBelarusian == 1">Belarusian</th>
                                    <th ng-if="translators.isShowBulgarian && translators.isDefaultBulgarian == 1">Bulgarian</th>
                                    <th ng-if="translators.isShowCroatian && translators.isDefaultCroatian == 1">Croatian</th>
                                    <th ng-if="translators.isShowCzech && translators.isDefaultCzech == 1">Czech</th>
                                    <th ng-if="translators.isShowDanish && translators.isDefaultDanish == 1">Danish</th>
                                    <th ng-if="translators.isShowDutch && translators.isDefaultDutch == 1">Dutch</th>
                                    <th ng-if="translators.isShowEnglish && translators.isDefaultEnglish == 1">English</th>
                                    <th ng-if="translators.isShowEstonian && translators.isDefaultEstonian == 1">Estonian</th>
                                    <th ng-if="translators.isShowFinnish && translators.isDefaultFinnish == 1">Finnish</th>
                                    <th ng-if="translators.isShowFrench && translators.isDefaultFrench == 1">French</th>
                                    <th ng-if="translators.isShowGerman && translators.isDefaultGerman == 1">German</th>
                                    <th ng-if="translators.isShowGreek && translators.isDefaultGreek == 1">Greek</th>
                                    <th ng-if="translators.isShowHungarian && translators.isDefaultHungarian == 1">Hungarian</th>
                                    <th ng-if="translators.isShowItalian && translators.isDefaultItalian == 1">Italian</th>
                                    <th ng-if="translators.isShowLatvian && translators.isDefaultLatvian == 1">Latvian</th>
                                    <th ng-if="translators.isShowLithuanian && translators.isDefaultLithuanian == 1">Lithuanian</th>
                                    <th ng-if="translators.isShowMacedonian && translators.isDefaultMacedonian == 1">Macedonian</th>
                                    <th ng-if="translators.isShowNorwegian && translators.isDefaultNorwegian == 1">Norwegian</th>
                                    <th ng-if="translators.isShowPolish && translators.isDefaultPolish == 1">Polish</th>
                                    <th ng-if="translators.isShowPortuguese && translators.isDefaultPortuguese == 1">Portuguese</th>
                                    <th ng-if="translators.isShowRomanian && translators.isDefaultRomanian == 1">Romanian</th>
                                    <th ng-if="translators.isShowRussian && translators.isDefaultRussian == 1">Russian</th>
                                    <th ng-if="translators.isShowSlovak && translators.isDefaultSlovak == 1">Slovak</th>
                                    <th ng-if="translators.isShowSlovene && translators.isDefaultSlovene == 1">Slovene</th>
                                    <th ng-if="translators.isShowSpanish && translators.isDefaultSpanish == 1">Spanish</th>
                                    <th ng-if="translators.isShowSwedish && translators.isDefaultSwedish == 1">Swedish</th>
                                    <th ng-if="translators.isShowTurkish && translators.isDefaultTurkish == 1">Turkish</th>
                                    <th ng-if="translators.isShowUkrainian && translators.isDefaultUkrainian == 1">Ukrainian</th>


                                    <th ng-if="translators.isShowArabic && translators.isDefaultArabic == 0">Arabic</th>
                                    <th ng-if="translators.isShowBelarusian && translators.isDefaultBelarusian == 0">Belarusian</th>
                                    <th ng-if="translators.isShowBulgarian && translators.isDefaultBulgarian == 0">Bulgarian</th>
                                    <th ng-if="translators.isShowCroatian && translators.isDefaultCroatian == 0">Croatian</th>
                                    <th ng-if="translators.isShowCzech && translators.isDefaultCzech == 0">Czech</th>
                                    <th ng-if="translators.isShowDanish && translators.isDefaultDanish == 0">Danish</th>
                                    <th ng-if="translators.isShowDutch && translators.isDefaultDutch == 0">Dutch</th>
                                    <th ng-if="translators.isShowEnglish && translators.isDefaultEnglish == 0">English</th>
                                    <th ng-if="translators.isShowEstonian && translators.isDefaultEstonian == 0">Estonian</th>
                                    <th ng-if="translators.isShowFinnish && translators.isDefaultFinnish == 0">Finnish</th>
                                    <th ng-if="translators.isShowFrench && translators.isDefaultFrench == 0">French</th>
                                    <th ng-if="translators.isShowGerman && translators.isDefaultGerman == 0">German</th>
                                    <th ng-if="translators.isShowGreek && translators.isDefaultGreek == 0">Greek</th>
                                    <th ng-if="translators.isShowHungarian && translators.isDefaultHungarian == 0">Hungarian</th>
                                    <th ng-if="translators.isShowItalian && translators.isDefaultItalian == 0">Italian</th>
                                    <th ng-if="translators.isShowLatvian && translators.isDefaultLatvian == 0">Latvian</th>
                                    <th ng-if="translators.isShowLithuanian && translators.isDefaultLithuanian == 0">Lithuanian</th>
                                    <th ng-if="translators.isShowMacedonian && translators.isDefaultMacedonian == 0">Macedonian</th>
                                    <th ng-if="translators.isShowNorwegian && translators.isDefaultNorwegian == 0">Norwegian</th>
                                    <th ng-if="translators.isShowPolish && translators.isDefaultPolish == 0">Polish</th>
                                    <th ng-if="translators.isShowPortuguese && translators.isDefaultPortuguese == 0">Portuguese</th>
                                    <th ng-if="translators.isShowRomanian && translators.isDefaultRomanian == 0">Romanian</th>
                                    <th ng-if="translators.isShowRussian && translators.isDefaultRussian == 0">Russian</th>
                                    <th ng-if="translators.isShowSlovak && translators.isDefaultSlovak == 0">Slovak</th>
                                    <th ng-if="translators.isShowSlovene && translators.isDefaultSlovene == 0">Slovene</th>
                                    <th ng-if="translators.isShowSpanish && translators.isDefaultSpanish == 0">Spanish</th>
                                    <th ng-if="translators.isShowSwedish && translators.isDefaultSwedish == 0">Swedish</th>
                                    <th ng-if="translators.isShowTurkish && translators.isDefaultTurkish == 0">Turkish</th>
                                    <th ng-if="translators.isShowUkrainian && translators.isDefaultUkrainian == 0">Ukrainian</th>

                                </tr>

                                <tr ng-repeat="translator in translators.langDetailList">
                                    <td><b>{{translator.propertiesName}}</b></td>
                                    <td><b>{{translator.propertiesPath}}</b></td>
                                    <td class="{{translator.isModificationColorArabic}}" ng-if="translators.isShowArabic  && translators.isDefaultArabic == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Arabic')">{{translator.arabic}}</td>
                                    <td class="{{translator.isModificationColorBelarusian}}" ng-if="translators.isShowBelarusian  && translators.isDefaultBelarusian == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Belarusian')">{{translator.belarusian}}</td>
                                    <td class="{{translator.isModificationColorBulgarian}}" ng-if="translators.isShowBulgarian  && translators.isDefaultBulgarian == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Bulgarian')">{{translator.bulgarian}}</td>
                                    <td class="{{translator.isModificationColorCroatian}}" ng-if="translators.isShowCroatian  && translators.isDefaultCroatian == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Croatian')">{{translator.croatian}}</td>
                                    <td class="{{translator.isModificationColorCzech}}" ng-if="translators.isShowCzech  && translators.isDefaultCzech == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Czech')">{{translator.czech}}</td>
                                    <td class="{{translator.isModificationColorDanish}}" ng-if="translators.isShowDanish  && translators.isDefaultDanish == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Danish')">{{translator.danish}}</td>
                                    <td class="{{translator.isModificationColorDutch}}" ng-if="translators.isShowDutch  && translators.isDefaultDutch == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Dutch')">{{translator.dutch}}</td>
                                    <td class="{{translator.isModificationColorEnglish}}" ng-if="translators.isShowEnglish  && translators.isDefaultEnglish == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'English')">{{translator.english}}</td>
                                    <td class="{{translator.isModificationColorEstonian}}" ng-if="translators.isShowEstonian  && translators.isDefaultEstonian == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Estonian')">{{translator.estonian}}</td>
                                    <td class="{{translator.isModificationColorFinnish}}" ng-if="translators.isShowFinnish  && translators.isDefaultFinnish == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Finnish')">{{translator.finnish}}</td>
                                    <td class="{{translator.isModificationColorFrench}}" ng-if="translators.isShowFrench  && translators.isDefaultFrench == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'French')">{{translator.french}}</td>
                                    <td class="{{translator.isModificationColorGerman}}" ng-if="translators.isShowGerman  && translators.isDefaultGerman == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'German')">{{translator.german}}</td>
                                    <td class="{{translator.isModificationColorGreek}}" ng-if="translators.isShowGreek  && translators.isDefaultGreek == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Greek')">{{translator.greek}}</td>
                                    <td class="{{translator.isModificationColorHungarian}}" ng-if="translators.isShowHungarian  && translators.isDefaultHungarian == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Hungarian')">{{translator.hungarian}}</td>
                                    <td class="{{translator.isModificationColorItalian}}" ng-if="translators.isShowItalian  && translators.isDefaultItalian == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Italian')">{{translator.italian}}</td>
                                    <td class="{{translator.isModificationColorLatvian}}" ng-if="translators.isShowLatvian  && translators.isDefaultLatvian == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Latvian')">{{translator.latvian}}</td>
                                    <td class="{{translator.isModificationColorLithuanian}}" ng-if="translators.isShowLithuanian  && translators.isDefaultLithuanian == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Lithuanian')">{{translator.lithuanian}}</td>
                                    <td class="{{translator.isModificationColorMacedonian}}" ng-if="translators.isShowMacedonian  && translators.isDefaultMacedonian == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Macedonian')">{{translator.macedonian}}</td>
                                    <td class="{{translator.isModificationColorNorwegian}}" ng-if="translators.isShowNorwegian  && translators.isDefaultNorwegian == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Norwegian')">{{translator.norwegian}}</td>
                                    <td class="{{translator.isModificationColorPolish}}" ng-if="translators.isShowPolish  && translators.isDefaultPolish == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Polish')">{{translator.polish}}</td>
                                    <td class="{{translator.isModificationColorPortuguese}}" ng-if="translators.isShowPortuguese  && translators.isDefaultPortuguese == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Portuguese')">{{translator.portuguese}}</td>
                                    <td class="{{translator.isModificationColorRomanian}}" ng-if="translators.isShowRomanian  && translators.isDefaultRomanian == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Romanian')">{{translator.romanian}}</td>
                                    <td class="{{translator.isModificationColorRussian}}" ng-if="translators.isShowRussian  && translators.isDefaultRussian == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Russian')">{{translator.russian}}</td>
                                    <td class="{{translator.isModificationColorSlovak}}" ng-if="translators.isShowSlovak  && translators.isDefaultSlovak == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Slovak')">{{translator.slovak}}</td>
                                    <td class="{{translator.isModificationColorSlovene}}" ng-if="translators.isShowSlovene  && translators.isDefaultSlovene == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Slovene')">{{translator.slovene}}</td>
                                    <td class="{{translator.isModificationColorSpanish}}" ng-if="translators.isShowSpanish  && translators.isDefaultSpanish == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Spanish')">{{translator.spanish}}</td>
                                    <td class="{{translator.isModificationColorSwedish}}" ng-if="translators.isShowSwedish  && translators.isDefaultSwedish == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Swedish')">{{translator.swedish}}</td>
                                    <td class="{{translator.isModificationColorTurkish}}" ng-if="translators.isShowTurkish  && translators.isDefaultTurkish == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Turkish')">{{translator.turkish}}</td>
                                    <td class="{{translator.isModificationColorUkrainian}}" ng-if="translators.isShowUkrainian  && translators.isDefaultUkrainian == 1" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Ukrainian')">{{translator.ukrainian}}</td>

                                    <td class="{{translator.isModificationColorArabic}}" ng-if="translators.isShowArabic  && translators.isDefaultArabic == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Arabic')">{{translator.arabic}}</td>
                                    <td class="{{translator.isModificationColorBelarusian}}" ng-if="translators.isShowBelarusian  && translators.isDefaultBelarusian == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Belarusian')">{{translator.belarusian}}</td>
                                    <td class="{{translator.isModificationColorBulgarian}}" ng-if="translators.isShowBulgarian  && translators.isDefaultBulgarian == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Bulgarian')">{{translator.bulgarian}}</td>
                                    <td class="{{translator.isModificationColorCroatian}}" ng-if="translators.isShowCroatian  && translators.isDefaultCroatian == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Croatian')">{{translator.croatian}}</td>
                                    <td class="{{translator.isModificationColorCzech}}" ng-if="translators.isShowCzech  && translators.isDefaultCzech == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Czech')">{{translator.czech}}</td>
                                    <td class="{{translator.isModificationColorDanish}}" ng-if="translators.isShowDanish  && translators.isDefaultDanish == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Danish')">{{translator.danish}}</td>
                                    <td class="{{translator.isModificationColorDutch}}" ng-if="translators.isShowDutch  && translators.isDefaultDutch == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Dutch')">{{translator.dutch}}</td>
                                    <td class="{{translator.isModificationColorEnglish}}" ng-if="translators.isShowEnglish  && translators.isDefaultEnglish == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'English')">{{translator.english}}</td>
                                    <td class="{{translator.isModificationColorEstonian}}" ng-if="translators.isShowEstonian  && translators.isDefaultEstonian == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Estonian')">{{translator.estonian}}</td>
                                    <td class="{{translator.isModificationColorFinnish}}" ng-if="translators.isShowFinnish  && translators.isDefaultFinnish == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Finnish')">{{translator.finnish}}</td>
                                    <td class="{{translator.isModificationColorFrench}}" ng-if="translators.isShowFrench  && translators.isDefaultFrench == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'French')">{{translator.french}}</td>
                                    <td class="{{translator.isModificationColorGerman}}" ng-if="translators.isShowGerman  && translators.isDefaultGerman == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'German')">{{translator.german}}</td>
                                    <td class="{{translator.isModificationColorGreek}}" ng-if="translators.isShowGreek  && translators.isDefaultGreek == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Greek')">{{translator.greek}}</td>
                                    <td class="{{translator.isModificationColorHungarian}}" ng-if="translators.isShowHungarian  && translators.isDefaultHungarian == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Hungarian')">{{translator.hungarian}}</td>
                                    <td class="{{translator.isModificationColorItalian}}" ng-if="translators.isShowItalian  && translators.isDefaultItalian == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Italian')">{{translator.italian}}</td>
                                    <td class="{{translator.isModificationColorLatvian}}" ng-if="translators.isShowLatvian  && translators.isDefaultLatvian == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Latvian')">{{translator.latvian}}</td>
                                    <td class="{{translator.isModificationColorLithuanian}}" ng-if="translators.isShowLithuanian  && translators.isDefaultLithuanian == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Lithuanian')">{{translator.lithuanian}}</td>
                                    <td class="{{translator.isModificationColorMacedonian}}" ng-if="translators.isShowMacedonian  && translators.isDefaultMacedonian == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Macedonian')">{{translator.macedonian}}</td>
                                    <td class="{{translator.isModificationColorNorwegian}}" ng-if="translators.isShowNorwegian  && translators.isDefaultNorwegian == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Norwegian')">{{translator.norwegian}}</td>
                                    <td class="{{translator.isModificationColorPolish}}" ng-if="translators.isShowPolish  && translators.isDefaultPolish == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Polish')">{{translator.polish}}</td>
                                    <td class="{{translator.isModificationColorPortuguese}}" ng-if="translators.isShowPortuguese  && translators.isDefaultPortuguese == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Portuguese')">{{translator.portuguese}}</td>
                                    <td class="{{translator.isModificationColorRomanian}}" ng-if="translators.isShowRomanian  && translators.isDefaultRomanian == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Romanian')">{{translator.romanian}}</td>
                                    <td class="{{translator.isModificationColorRussian}}" ng-if="translators.isShowRussian  && translators.isDefaultRussian == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Russian')">{{translator.russian}}</td>
                                    <td class="{{translator.isModificationColorSlovak}}" ng-if="translators.isShowSlovak  && translators.isDefaultSlovak == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Slovak')">{{translator.slovak}}</td>
                                    <td class="{{translator.isModificationColorSlovene}}" ng-if="translators.isShowSlovene  && translators.isDefaultSlovene == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Slovene')">{{translator.slovene}}</td>
                                    <td class="{{translator.isModificationColorSpanish}}" ng-if="translators.isShowSpanish  && translators.isDefaultSpanish == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Spanish')">{{translator.spanish}}</td>
                                    <td class="{{translator.isModificationColorSwedish}}" ng-if="translators.isShowSwedish  && translators.isDefaultSwedish == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Swedish')">{{translator.swedish}}</td>
                                    <td class="{{translator.isModificationColorTurkish}}" ng-if="translators.isShowTurkish  && translators.isDefaultTurkish == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Turkish')">{{translator.turkish}}</td>
                                    <td class="{{translator.isModificationColorUkrainian}}" ng-if="translators.isShowUkrainian  && translators.isDefaultUkrainian == 0" ng-dblclick="openpopup(translator.langRefTableId,translator.columnName,translator.langRefDetailId,'Ukrainian')">{{translator.ukrainian}}</td>

                                </tr>
                                <tr style="cursor:default !important;" ng-show="translators.langDetailList.length <=0">
                                    <td colspan="30" align="center">No Records Found.</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-lg-12" style="margin: 0%; padding: 0px 0px;">
                            <span class="pull-left" style="font-size:small;">
                                * Note: Double click on the corresponding cell to update the translation.
                            </span>
                            <span class="pull-right" style="font-size:small;" ng-show="translators.langDetailList.length > 0">Total Records : {{translators.langDetailList.length}}</span>
                        </div>
                    </div>
                    <div id="divtransactiongrid">
                        <div class="col-lg-12" style="margin: 0%; padding: 0px 0px;">
                            <span class="pull-right">
                                @if ((Previlage.Contains("TEE") && LayoutStatusPrevilage.Contains("TEE")) || RoleWithLayoutStatusPrevilage.Contains("TEE"))
                                {
                                    <button class="btn btn-warning" data-title="Add" data-toggle="modal" data-target="#add" ng-click="ExportTranslations()">
                                        <span class="fa fa-file-excel-o"></span> Export Excel
                                    </button>
                                }
                                &nbsp; &nbsp; &nbsp;
                                @if ((Previlage.Contains("TALB") && LayoutStatusPrevilage.Contains("TALB")) || RoleWithLayoutStatusPrevilage.Contains("TALB"))
                                {

                                    <button class="pull-right btn btn-primary" id="listvaiewadd" data-title="Add" data-toggle="modal" data-target="#add" ng-click="ListViewAddNewLanguage()">
                                        <span class="fa fa-plus"></span> Add Language
                                    </button>
                                }
                            </span>
                        </div>
                        @if ((Previlage.Contains("TIE") && LayoutStatusPrevilage.Contains("TIE")) || RoleWithLayoutStatusPrevilage.Contains("TIE"))
                        {
                            <div id="UploadTranslation"></div>
                        }
                        <div id="translationsgrid">
                        </div>
                        <div id="loading" class="loading modal-backdrop" style="display:none"><img class="loadingimg" src="~/images/loader.gif" alt="LoadingIcon" align="middle" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="TranslatorModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width:750px">
            <div class="modal-content">
                <div class="modal-header modal-header-info">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">×</button>
                    <div class="popupheader"></div>
                </div>
                <div class="modal-body">
                    <div id="frmtranslator" class="hide divtranslator">
                        @Html.Partial("_TranslatorLanguageInput")
                    </div>
                    <div id="frmInfoColumns" class="hide divtranslator">
                        @Html.Partial("_InfoColumnInput")
                    </div>
                    <div id="frmAllowance" class="hide divtranslator">
                        @Html.Partial("_AllowanceInput")
                    </div>
                    <div id="frmQuestionPath" class="hide divtranslator">
                        @Html.Partial("_QuestionPathInput")
                    </div>
                    <div id="frmInfoMessage" class="hide divtranslator">
                        @Html.Partial("_InfoMessageInput")
                    </div>
                    <div id="frmInfoMessageContent" class="hide divtranslator">
                        @Html.Partial("_InfoMessageContentInput")
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Language Select Purpose*@
    <div class="modal fade" id="LanguageSelectModal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width:600px">
            <div class="modal-content">
                <div class="modal-header modal-header-info">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">×</button>
                    <div class="popupheader"></div>
                </div>
                <div class="modal-body">
                    <div id="frmLanguage" class="hide divlanguage">
                        @Html.Partial("_LanguageSelectInput")
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ExportTranslationsModal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width:600px">
            <div class="modal-content">
                <div class="modal-header modal-header-info">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">×</button>
                    <div class="popupheader"></div>
                </div>
                <div class="modal-body">
                    <div id="frmExportTranslations" class="hide divexporttranslations">
                        @Html.Partial("_ExportTranslationsInput")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-container-fluid">
        <div class="row">
            <div class="cols-sample-area">
                <div id="ConfirmDialog" style="text-align: center;margin-top: 10px;">
                    Do you want to save your translations?
                </div>
                <div id="Grid"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $("ul.nav-tabs a").click(function (e) {
            e.preventDefault();
            var href = event.currentTarget.getAttribute('href');

            $("#driverinput").hide();
            if (href == "#driverinput") {
                $("#choicetab").addClass("active");
                $("#choicedetailtab").removeClass("active");
                $("#entrytab").removeClass("active");
                $("#trailer").removeClass("active");
            }
            if (href == "#driverinput" || href == "#driverinputchoice" || href == "#driverinputchoicedetail" || href == "#driverinputentry" || href == "#trailer")
                $("#driverinput").show();

            $("#planning").hide();
            if (href == "#planning") {
                $("#planningselect").addClass("active");
            }
            if (href == "#planning" || href == "#planningselect")
                $("#planning").show();

            $("#messages").hide();
            if (href == "#messages") {
                $("#infomessage").addClass("active");
                $("#infomessagecontent").removeClass("active");
                $("#textmessages").removeClass("active");
            }
            if (href == "#messages" || href == "#infomessage" || href == "#infomessagecontent" || href == "#textmessages")
                $("#messages").show();

            $("#specific").hide();
            if (href == "#specific") {
                $("#documentscan").addClass("active");
                $("#transportType").removeClass("active");
                $("#transportTypeDetail").removeClass("active");
                $("#variablelist").removeClass("active");
            }
            if (href == "#specific" || href == "#documentscan" || href == "#transportType" || href == "#transportTypeDetail" || href == "#variablelist")
                $("#specific").show();

            $("#other").hide();
            if (href == "#other") {
                $("#questions").addClass("active");
            }
            if (href == "#other" || href == "#questions")
                $("#other").show();

            $("#functional").hide();
            if (href == "#functional") {
                $("#setactionvalue").addClass("active");
            }
            if (href == "#functional" || href == "#setactionvalue")
                $("#functional").show();

            $("#flex").hide();
            if (href == "#flex") {
                $("#extrainfo").addClass("active");
                $("#extrainfodetail").removeClass("active");
                $("#pallets").removeClass("active");
                $("#palletsdetail").removeClass("active");
                $("#problems").removeClass("active");
                $("#problemsdetail").removeClass("active");
                $("#signatures").removeClass("active");
                $("#picture").removeClass("active");
                $("#documentscanner").removeClass("active");
                $("#documentscannerdetail").removeClass("active");
            }
            if (href == "#flex" || href == "#extrainfo" || href == "#extrainfodetail" || href == "#pallets" || href == "#palletsdetail" || href == "#problems" || href == "#problemsdetail" || href == "#signatures" || href == "#picture" || href == "#documentscanner" | href == "#documentscannerdetail")
                $("#flex").show();

        });
    });

</script>


<script id="sample" type="text/x-jsrender">
    <div class="footerspan" style="float:right">
        <button id='ok'>OK</button>
        <button id='cancel'>Cancel</button>
    </div>
</script>
