﻿@{
    ViewData["Title"] = "Planning & Partner Code Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}

<style>
    .PageLayout {
        min-height: 80vh !important;
        padding: 1% !important;
    }
</style>
<script src="~/PageJS/Angular/Controller/PlanningAndPartnerCodeOverviewController.js" asp-append-version="true"></script>
<script src="~/PageJS/Angular/Service/Service.js" asp-append-version="true"></script>
<div ng-controller="PlanningAndPartnerCodeOverviewController">
    <div id="loading" class="loading modal-backdrop" style="display:none"><img class="loadingimg" src="~/images/loader.gif" alt="LoadingIcon" align="middle" /></div>
    <div class="col-sm-12  col-md-12 col-lg-12">
        <div>
            <ol class="breadcrumb">
                <li>
                    <a class="fa fa-home" id="home" ng-click="GoHome()"></a>
                </li>
                <li>
                    <a id="Dashboard" ng-click="Dashboard()">Dashboard</a>
                </li>
                <li class="active">
                    <a id="PlanningCodes">Planning & Partner Code Overview</a>
                </li>
            </ol>
            <div class="header" style="padding: 5px 2px;">
                <div style=" display:inline-block;">
                    <h4 class="modal-title">
                        <i class="fa fa-book"></i>
                        Planning & Partner Code Overview
                    </h4>
                </div>
                <div style=" display:inline-block; float:right;">
                    @if ((Previlage.Contains("QPD") && LayoutStatusPrevilage.Contains("QPD")) || RoleWithLayoutStatusPrevilage.Contains("QPD"))
                    {
                        <button ng-click="Dashboard()" style="" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Dashboard"><span style="color:white;padding-right:5px" class="fa fa-dashboard"></span>Dashboard</button>
                    }
                    @if ((Previlage.Contains("QPSL") && LayoutStatusPrevilage.Contains("QPSL")) || RoleWithLayoutStatusPrevilage.Contains("QPSL"))
                    {
                        <button id="GOScreenLayout" ng-click="RedirecttoScreenLayout()" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Screen Layout"><span style="color:white;padding-right:5px" class="fa fa-exchange"></span>Screen Layout</button>
                    }
                    @if ((Previlage.Contains("QPL") && LayoutStatusPrevilage.Contains("QPL")) || RoleWithLayoutStatusPrevilage.Contains("QPL"))
                    {
                        <button ng-click="RedirecttoShowLayout()" style="" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Show Layout"><span style="color:white;padding-right:5px" class="fa fa-binoculars"></span>Show Layout</button>
                    }
                    @if ((Previlage.Contains("QPT") && LayoutStatusPrevilage.Contains("QPT")) || RoleWithLayoutStatusPrevilage.Contains("QPT"))
                    {
                        <button id="GoTranslation" ng-click="RedirecttoTranslation()" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Translations"><span style="color:white;padding-right:5px" class="fa fa-book"></span>Translations</button>
                    }
                </div>
            </div>
        </div>
        <div class="PageLayout">
            <center>
                <div class="clearfix"></div>
                <div id="gridPlanningandPartnerCodeOverview"></div>
            </center>
        </div>
    </div>
</div>

