﻿

@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .PageLayout {
        min-height: 80vh !important;
        padding: 2% !important;
    }
</style>
<script src="~/PageJS/Angular/Controller/CustomerController.js" asp-append-version="true"></script>
<script src="~/PageJS/Angular/Service/Service.js" asp-append-version="true"></script>
<div ng-controller="CustomerController">
    <div class="col-sm-12  col-md-12 col-lg-12">
        <div>
            <ol class="breadcrumb">
                <li>
                    <a class="fa fa-gears " id="Setting" ng-click="GoSetting()"></a>
                    <a href="#" id="Setup" ng-click="GoSetUp()"></a>
                </li>
                <li class="active">
                    <a id="Customer" ng-click="GoCustomer()">Customer</a>
                </li>
            </ol>
            <div class="header" style="padding: 5px 2px;">
                <h4 class="modal-title">
                    <i class="fa fa-wrench"></i>
                    Customer
                </h4>
            </div>
        </div>
        <div class="PageLayout">
            <center>
                <div class="clearfix"></div>
                <div id="grdCus"></div>
                <script type="text/ng-template" id="CustomerDelete">
                    <a class="fa fa-trash" data="{{:customerId}}" data-customerid="{{:customerId}}" data-customername="{{:name}}" name="customerDelete" id="customer_{{:customerId}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Delete Customer"></a>
                </script>
            </center>
        </div>
    </div>
    <div class="modal fade" id="CustomerModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width:600px">
            <div class="modal-content">
                <div class="modal-header modal-header-info">
                    <div><h4 class="pull- left"><b>Delete</b></h4></div>
                </div>
                <div class="modal-body">
                    <div id="frmCustomerdelete" class="hide divCustomer">
                        <div class="form-group col-md-12 col-sm-12 deletemsg">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-primary" ng-click="deletelayout()">Ok</button>
                        <button type="button" class="btn" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

