﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmCheckoff" class="form-horizontal" ng-submit="PropertysaveCheckoffClick()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#cotitlediv">[&nbsp;<i id="iPCheckOffDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span><hr class="accordion-hr" />
        <div id="cotitlediv" class="collapse in">
            <div class="form-group">
                <label for="lblpCheckoffPlanninglevel" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(328);"><span class="fa fa-question-circle"></span></a> &nbsp;Planning Level <span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <select class="form-control" id="sltpCheckoffPlanninglevel" name="sltpCheckoffPlanninglevel" ng-model="pcheckoffPlanninglevelvalue">
                        <option value="Not set">Not set</option>
                        <option ng-repeat="val in pcheckoffPlanninglevel" value="{{val.planningTypeName}}">{{val.planningTypeName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpCheckoffName" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(329);"><span class="fa fa-question-circle"></span></a> &nbsp;Name </label>
                <div class="col-lg-8">
                    <input type="text" maxlength="35" id="txtpCheckoffName" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" readonly />
                    <input type="hidden" id="pCheckoffnodeid" class="drop" />
                    <input type="hidden" id="pCheckofftransportidpopup" />
                    <input type="hidden" id="CheckoffId" />
                    <input type="hidden" id="hidPChoiceActivityName" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpCheckoffName" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(330);"><span class="fa fa-question-circle"></span></a>  &nbsp;Comment</label>
                <div class="col-lg-8">
                    <textarea id="txtpCheckoffComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>
        </div>
    </div>

</form>
<script type="text/javascript">
    $(document).ready(function () {

        $("#sltpCheckoffPlanninglevel").change(function () {
            $("#txtpCheckoffName").val("CHECK OFF " + $("#sltpCheckoffPlanninglevel option:selected").val());
        });

    });

</script>