﻿<form novalidate name="frmCheckoff" class="form-horizontal" style="padding:20px !important;margin-top:-35px" ng-submit="saveCheckoffClick()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#codetailsdiv">[&nbsp;<i id="iCheckOffDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span><hr class="accordion-hr" />
        <div id="codetailsdiv" class="collapse in">
            <div class="form-group">
                <label for="lblCheckoffPlanninglevel" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(328);"><span class="fa fa-question-circle"></span></a>&nbsp; Planning Level <span class="errorfont"> *</span></label>
                <div class="col-sm-4">
                    <select class="form-control" id="sltCheckoffPlanninglevel" name="sltCheckoffPlanninglevel" ng-model="checkoffPlanninglevelvalue">
                        <option value="Not set">Not set</option>
                        <option ng-repeat="val in checkoffPlanninglevel" value="{{val.planningTypeName}}">{{val.planningTypeName}}</option>
                    </select>
                </div>
                <input type="hidden" id="nodeid" class="drop" />
                <input type="hidden" id="ptransportidpopup" />
                <input type="hidden" id="hidChoiceActivityName" />
                <label for="lblCheckoffName" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(329);"><span class="fa fa-question-circle"></span></a> &nbsp;Name </label>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <input type="text" maxlength="35" id="txtCheckoffName" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" readonly class="form-control" />
                    <input type="hidden" id="nodeid" class="drop" />
                    <input type="hidden" id="ptransportidpopup" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblCheckoffComment" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(330);"><span class="fa fa-question-circle"></span></a> &nbsp;Comment </label>
                <div class="col-sm-4">
                    <textarea id="txtCheckoffComment" class="form-control" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer" align="center">
        <button type="submit" class="btn btn-primary" style="display:none;">Save </button>
    </div>
    <!-- /.box-footer -->
</form>
<script type="text/javascript">

    $(document).ready(function () {

        $("#sltCheckoffPlanninglevel").change(function () {
            $("#txtCheckoffName").val("CHECK OFF " + $("#sltCheckoffPlanninglevel option:selected").val());
        });

    });

</script>