﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmChioce" class="form-horizontal" ng-submit="PropertysavechioceClick()">
    <div class="box-body col-sm-12">
        <span id="spanPChoiceDetails" class="collapsebutton" data-toggle="collapse" data-target="#titlediv">[&nbsp;<i id="iPChoiceDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>
        <hr class="accordion-hr" />
        <div id="titlediv" class="collapse in">
            <div class="form-group">
                <label for="lblpChiocetitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(205);"><span class="fa fa-question-circle"></span></a> &nbsp;Title <span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <input type="text" id="txtpChiocetitle" data-keyinvalue="" ng-blur="choiceTitleBlurp()" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    <input type="hidden" id="chiocepropertyquestionid" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpChiocecharacters" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(206);"><span class="fa fa-question-circle"></span></a>&nbsp;Recursive Loop</label>
                <div class="col-lg-4">
                    <input type="checkbox" class="dropDownCB" id="chkpChioceRecursiveloop" />
                </div>
                <input type="hidden" id="ChioceId" />
                <input type="hidden" id="Chiocesavevalue" />
                <input type="hidden" id="pChoiceNodeId" class="form-control" />
            </div>
            <div class="form-group">
                <label for="lblpChioceSave" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(207);"><span class="fa fa-question-circle"></span></a> &nbsp;Save </label>
                <div class="col-lg-4">
                    <input type="checkbox" class="dropDownCB" id="chkpChiocesave" ng-click="savecheckboxproperties()" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpChioceSaveto" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(208);"><span class="fa fa-question-circle"></span></a>&nbsp;Save To</label>
                <div class="col-lg-8">
                    <input type="text" tabindex="1" id="sltpChioceSaveto" />
                    @*<select name="sltpChioceSavetoe" id="sltpChioceSaveto" ng-model="ChiocepCompareSavetoDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        </select>*@
                </div>
            </div>
            <div class="form-group">
                <label for="lblpChiocePropose" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(210);"><span class="fa fa-question-circle"></span></a> &nbsp;Propose </label>
                <div class="col-lg-8">
                    <select name="sltpChiocepropose" id="sltpChiocepropose" ng-model="ChiocepCompareProposeDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>No</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="lblAutogenerate" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(211);"><span class="fa fa-question-circle"></span></a> &nbsp;Autogenerate Selection </label>
                <div class="col-lg-8">
                    <input type="checkbox" class="dropDownCB" id="chkcpAutogenerate" ng-click="Chioceptitleconversion()" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpChoiseComment" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(212);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                <div class="col-lg-8">
                    <textarea id="txtpChoiceComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>
        </div>

        <span id="spanChoiceFeebBack" class="collapsebutton" data-toggle="collapse" data-target="#feedbackdiv">[&nbsp;<i id="iPChoiceFeebBack" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Feedback</b></span>
        <hr class="accordion-hr" />
        <div id="feedbackdiv" class="collapse">
            <div class="form-group">
                <label for="lblChioceInfoColumn" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(214);"><span class="fa fa-question-circle"></span></a> &nbsp;Info Column </label>
                <div class="col-lg-8">
                    <select name="sltChiocepInfoColumn" id="sltChiocepInfoColumn" class="form-control" ng-model="pChiocepInfoColumns" ng-options="item.iC_ID as item.icM_Column_Name for item in Info  track by item.iC_ID">
                        <option value="" selected>Not Set</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblChioceInfoColumnAction" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(216);"><span class="fa fa-question-circle"></span></a> &nbsp;Info Column Action </label>
                <div class="col-lg-8">
                    <select name="sltChiocepInfoColumnAction" id="sltChiocepInfoColumnAction" ng-model="pChiocepInfoColumnAction" ng-options="item.infoColumnActionId as item.infoColumnActionDesc for item in InfoColumnAction  track by item.infoColumnActionId" class="form-control">
                        @*<option value="" selected>Not Set</option>*@
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblChioceFileNumber" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(218);"><span class="fa fa-question-circle"></span></a> &nbsp;File Number </label>
                <div class="col-lg-8">
                    <select name="sltChiocepFileNumber" id="sltChiocepFileNumber" class="form-control">
                        <option value="">-- Select File Number --</option>
                        <option value="Not Set" selected>Not Set</option>
                        <option value="Set">Set</option>
                        <option value="Reset">Reset</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpChioceplanning" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(219);"><span class="fa fa-question-circle"></span></a> &nbsp;Planning Feedback </label>
                <div class="col-lg-8">
                    @*<select name="sltpChiocePlanningFeed" id="sltpChiocePlanningFeed" class="form-control" ng-model="pplanningfeedbacks" ng-options="item.planningfeedback as item.planningfeedback for item in PlanningLeveldropdown  track by item.planningfeedback">
                            <option value="">-- Select Planning Feedback --</option>
                        </select>*@
                    <select class="form-control" id="sltpChiocePlanningFeed" name="sltpChiocePlanningFeed" ng-model="cpplanningfeedbacks">
                        <option ng-repeat="val in PlanningLeveldropdown" value="{{val.planningfeedback}}">
                            {{val.planningfeedback}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpChiocepredefined" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(220);"><span class="fa fa-question-circle"></span></a> &nbsp;Feedback Type </label>
                <div class="col-lg-8">
                    <select name="sltpChioceFeedbackType" id="sltpChioceFeedbackType" class="form-control">
                        <option value="">-- Select Feedback Type --</option>
                        <option value="Extra info">Extra info</option>
                        <option value="Pallets">Pallets</option>
                        <option value="Anomaly">Anomaly</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblchoicepfeedback" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(222);"><span class="fa fa-question-circle"></span></a> &nbsp;Feedback Code </label>
                <div class="col-lg-8">
                    <input type="text" tabindex="1" id="sltChoicePFeedbackCode" max="35" />
                    @*<input type="text" id="txtchoicepfeedbackcode" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />*@

                </div>
            </div>

            <div class="form-group">
                <label for="lblpChiocePartnerCode" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(223);"><span class="fa fa-question-circle"></span></a> &nbsp;Partner Code </label>
                <div class="col-lg-8">
                    <input type="text" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" id="txtpChiocePartnerCode" name="txtpChiocePartnerCode" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
            </div>

        </div>
        <span id="spanChoiceCondition" class="collapsebutton" data-toggle="collapse" data-target="#conditiondiv">[&nbsp;<i id="iPChoiceCondition" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span>
        <hr class="accordion-hr" />
        <div id="conditiondiv" class="collapse">
            @*TO DO Start*@
            <div class="form-group">
                <label for="lblChioceValue" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(225);"><span class="fa fa-question-circle"></span></a> &nbsp;Value</label>
                <div class="col-lg-8">
                    <select name="sltpChioceValue" id="sltpChioceValue" ng-model="pchiocepvalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control">
                        @*<option value="" selected>-- Select Value --</option>*@
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblChioceConditionSavedValue" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(227);"><span class="fa fa-question-circle"></span></a> &nbsp;Condition Saved Value </label>
                <div class="col-lg-8">
                    <select name="sltChiocepConditionSavedValue" id="sltChiocepConditionSavedValue" ng-model="pChiocepConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Condition Saved Value --</option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label for="lblChioceCompareMethod" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(229);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare Method </label>
                <div class="col-lg-8">
                    <select name="sltChiocepCompareMethod" id="sltChiocepCompareMethod" ng-model="pChiocepCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in choicePCompareMethod  track by item.compareMethodId" class="form-control">
                        <option value="" selected>-- Select Compare Method --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblChioceCompareTo" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(231);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare To </label>
                <div class="col-lg-8">
                    <select name="sltChiocepCompareTo" id="sltChiocepCompareTo" ng-model="pChiocepCompareTo" ng-options="item.compareToId as item.compareToDesc for item in choicepcompareto  track by item.compareToId" class="form-control">
                        <option value="" selected>-- Select Compare To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblChioceComparetoSavedValue" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(233);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare Saved Value </label>
                <div class="col-lg-8">
                    <select name="sltChiocepComparetoSavedValue" id="sltChiocepComparetoSavedValue" ng-model="pChiocepCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Compare  to Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblChioceComparetoFixedText" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(235);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare Fixed Text </label>
                <div class="col-lg-8">
                    <input type="text" maxlength="100" id="txtChiocepComparetoFixedText" onkeyup="valid(this)" onblur="valid(this)" name="txtChiocepComparetoFixedText" class="form-control" />
                </div>
            </div>
            @*TO DO End*@
        </div>
    </div>
    <!-- /.box-body -->

    <div class="box-body col-sm-12">
        <br />
        @*<loading></loading>*@
        <div id="Addchiocedataproperties"></div>
    </div>
    @if ((Previlage.Contains("QPUCP") && LayoutStatusPrevilage.Contains("QPUCP")) || RoleWithLayoutStatusPrevilage.Contains("QPUCP"))
    {
            <button type="submit" class="btn btn-primary  pull-right form-group" style="margin-right:36px;display:none;">Update</button>
       
    }
    <!-- /.box-footer -->
</form>



@*<div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Expandable</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="">
            The body of the box
        </div>
        <!-- /.box-body -->
    </div>*@
