﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyChoiceDetails" class="form-horizontal" ng-submit="PropertySaveChoiceDetailsClick()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div class="form-group">
            <label for="lblChoiceDetailsPTitle" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(680);"><span class="fa fa-question-circle"></span></a> &nbsp;Title <span class="errorfont"> *</span></label>
            <div class="col-lg-8">
                <input type="text" maxlength="35" onkeypress="return blockSpecialChar(event)" id="txtChoiceDetailsPTitle" name="txtChoiceDetailsPTitle" class="form-control" />

                <input type="hidden" id="AddChioceId" />
                <input type="hidden" id="ChioceRefId" />
                <input type="hidden" id="AddChoiceQuestionRefId" />
                <input type="hidden" id="CretedBy" />
                <input type="hidden" id="CreatedOn" />
            </div>
        </div>
        <div class="form-group">
            <label for="lblChoiceDetailsPFeedback" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(681);"><span class="fa fa-question-circle"></span></a> &nbsp;Feedback Code </label>
            <div class="col-lg-8">
                <input type="text" id="txtChoiceDetailsPFeedbackCode" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="lblChoiceDetailsPcharacters" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(682);"><span class="fa fa-question-circle"></span></a> &nbsp; End Recursive Loop </label>
            <div class="col-lg-4">
                <input type="checkbox" class="dropDownCB" id="chkChoiceDetailsPRecursiveloop" />
            </div>
        </div>
        <div class="form-group">
            <label for="lblChoiceDetailsPInfoColumn" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(736);"><span class="fa fa-question-circle"></span></a> &nbsp;Info Column </label>
            <div class="col-lg-8">
                <select name="sltChoiceDetailsPInfoColumn" id="sltChoiceDetailsPInfoColumn" class="form-control" ng-model="pChoiceDetailsPInfoColumns" ng-options="item.iC_ID as item.icM_Column_Name for item in Info  track by item.iC_ID">
                    <option value="" selected>Not set</option>
                </select>
            </div>
        </div>
        <div class="form-group" style="display:none">
            <label for="lblChoiceDetailsPInfoColumnAction" class="control-label col-lg-4">Info Column Action</label>
            <div class="col-lg-8">
                <select name="sltChoiceDetailsPInfoColumnAction" id="sltChoiceDetailsPInfoColumnAction" ng-model="pChoiceDetailsPInfoColumnAction" ng-options="item.infoColumnActionDesc as item.infoColumnActionDesc for item in InfoColumnAction  track by item.infoColumnActionDesc" class="form-control"></select>
                @*<select name="sltChoiceDetailsPInfoColumnAction" id="sltChoiceDetailsPInfoColumnAction" ng-model="pChoiceDetailsPInfoColumnAction" ng-options="item.InfoColumnActionId as item.infoColumnActionDesc for item in InfoColumnAction  track by item.InfoColumnActionId" class="form-control"></select>*@
                @*<option value="" selected>-- Select Info Column Action --</option>*@
            </div>
        </div>
        <div class="form-group">
            <label for="lblChoiceDetailsPFileNumber" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(683);"><span class="fa fa-question-circle"></span></a> &nbsp;File Number </label>
            <div class="col-lg-8">
                <select name="sltChoiceDetailsPFileNumber" id="sltChoiceDetailsPFileNumber" class="form-control">
                    <option value="">-- Select File Number --</option>
                    <option value="Not Set" selected>Not Set</option>
                    <option value="Set">Set</option>
                    <option value="Reset">Reset</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="lblChoiceDetailsPfeedback" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(684);"><span class="fa fa-question-circle"></span></a> &nbsp; Partner Code</label>
            <div class="col-lg-8">
                <input type="text" id="txtChoiceDetailsPPartnerCode" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
            </div>
        </div>

        <div class="form-group" id="choiceDetailsPEmptySoloFulldiv">
            <label for="lblChoiceDetailsPEmptySoloFull" class="control-label col-lg-4"> &nbsp; <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(685);"><span class="fa fa-question-circle"></span></a> Empty/Full/Solo </label>
            <div class="col-lg-8">
                <select name="sltChoiceDetailsPEmptySoloFull" id="sltChoiceDetailsPEmptySoloFull" class="form-control" ng-model="choiceDetailsPEmptyFullSolo">
                    @*<option value="">-- Select Empty/Full/Solo --</option>*@
                    <option value="Not Set">Not Set</option>
                    <option value="Empty">Empty</option>
                    <option value="Full">Full</option>
                    <option value="Solo">Solo</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="lblChoiceDetailsPComment" class="control-label col-lg-4"> &nbsp; <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(686);"><span class="fa fa-question-circle"></span></a>Comment</label>
            <div class="col-lg-8">
                <textarea id="txtChoiceDetailsPComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
            </div>
        </div>
    </div>
    @if ((Previlage.Contains("QPFEI") && LayoutStatusPrevilage.Contains("QPFEI")) || RoleWithLayoutStatusPrevilage.Contains("QPFEI"))
    {
        <div class="box-footer" align="center">
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:20px; margin-bottom:10px;display:none">Update</button>
        </div>
    }
    <div class="clearfix"></div>
</form>