﻿<style>
    /*.container {
        padding: 20px;
    }*/

    .popover {
        width: 350px;
        max-width: 1500px;
    }

    .popover-content h4 {
        color: #00A1FF;
    }

        .popover-content h4 small {
            color: black;
        }

    .popover-content button.btn-primary {
        color: #00A1FF;
        border-color: #00A1FF;
        background: white;
    }

    .popover-content button.btn-default {
        color: gray;
        border-color: gray;
    }
</style>
<script>

    $(document).ready(function () {
        $("[data-toggle=popover]").popover({
            html: true,
            content: function () {
                return $('#popover-content').html();
            }
        });
    });
</script>
<script type="text/javascript">
    $('#submit').click(function () {
        $('#AddChoice').toggle();
    })
    $(document).ready(function () {
        //if ($('#chkChiocesave').is(':checked')) {

        //    $('#sltChioceSaveto').attr("disabled", false);
        //}


        //if ($('#chkChiocesave').is(':checked') == false) {

        //$('#sltChioceSaveto').attr("disabled", true);

        //}

        var sltChioceInfoColumn = $("#sltChioceInfoColumn option:selected").text();

        if (sltChioceInfoColumn == "Not set" || sltChioceInfoColumn == "Info 1" || sltChioceInfoColumn == "Info 2" || sltChioceInfoColumn == "Info 3" || sltChioceInfoColumn == "Info 4" || sltChioceInfoColumn == "Info 5") {
            $('#sltChioceInfoColumnAction').val("");
            $('#sltChioceInfoColumnAction').attr("disabled", true);
        }
        else {
            $('#sltChioceInfoColumnAction').attr("disabled", false);
            //$('#sltSetActionValueType').val("");

        }

        //var sltChioceValue = $('#sltChioceValue  option:selected').text();
        //if (sltChioceValue == 'None') {
        //    $('#sltChioceCompareMethod').val("");
        //    $('#sltChioceCompareMethod').attr("disabled", true);

        //    $('#sltChioceCompareTo').val("");
        //    $('#sltChioceCompareTo').attr("disabled", true);
        //}
        //else {
        //    $('#sltChioceCompareMethod').attr("disabled", false);
        //    $('#sltChioceCompareTo').attr("disabled", false);
        //}
    });
</script>
<form novalidate name="frmChioce" class="form-horizontal" ng-submit="savechioceClick()">
    <div id="mainChioce" class="box-body col-sm-12 show">
        <span id="spanChoiceDetails" class="collapsebutton" data-toggle="collapse" data-target="#cdetaildiv">[&nbsp;<i id="iChoiceDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>
        <hr class="accordion-hr" />
        <div id="cdetaildiv" class="collapse in">
            <div class="form-group" style="margin-top:12px">
                @*<div class="open-ot-alert"><label for="lblChiocetitle" class="control-label col-sm-2 open-ot-alert">Title<span class="errorfont"> *</span></label></div>
        <div class="more-ot-alert">
            <span class="close-ot-alert">
                <i class="fa fa-close"></i>
            </span>
            <p>
                There is more OT in the upcoming weeks.
                Scan your calendar to see it.
            </p><a href="#" style="text-decoration:none;color:black" onClick="clickFunction();"><b> ?</b></a>
        </div>*@
                <label for="lblChiocetitle" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(205);"><span class="fa fa-question-circle"></span></a> &nbsp;Title <span class="errorfont"> *</span></label>
                <div class="col-sm-4">
                    <input type="text" maxlength="35" data-keyinvalue="" onkeyup="valid(this)" onblur="valid(this)" id="txtChiocetitle" name="txtChiocetitle" ng-blur="choiceTitleBlur()" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>

                <label for="lblChioceRecursiveloop" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(206);"><span class="fa fa-question-circle"></span></a> &nbsp;Recursive Loop </label>
                <div class="col-sm-4">
                    <input type="checkbox" class="dropDownCB" id="chkChioceRecursiveloop" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblChioceSave" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(207);"><span class="fa fa-question-circle"></span></a> &nbsp;Save </label>
                <div class="col-sm-4">
                    <input type="checkbox" class="dropDownCB" id="chkChiocesave" ng-click="savecheckbox()" />
                </div>
                <label for="lblChioceSaveto" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(208);"><span class="fa fa-question-circle"></span></a> &nbsp;Save To </label>
                <div class="col-sm-4">
                    <input type="text" tabindex="1" id="sltChioceSaveto" max="50" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblChiocePropose" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(210);"><span class="fa fa-question-circle"></span></a>&nbsp;Propose </label>
                <div class="col-sm-4">
                    <select name="sltChiocepropose" id="sltChiocepropose" ng-model="ChioceCompareProposeDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>No</option>
                    </select>
                </div>
                <label for="lblAutogenerate" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(211);"><span class="fa fa-question-circle"></span></a> &nbsp;Autogenerate Selection  </label>
                <div class="col-sm-4">
                    <input type="checkbox" class="dropDownCB" id="chkcAutogenerate" ng-click="Chiocetitleconversion()" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblChoiceComment" class="control-label col-sm-2">  <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(212);"><span class="fa fa-question-circle"></span></a> &nbsp;Comment </label>
                <div class="col-sm-4">
                    <textarea id="txtChoiceComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>

        </div>
        <span id="spanChoiceFeebBack" class="collapsebutton" data-toggle="collapse" data-target="#cfeedbackdiv">[&nbsp;<i id="iChoiceFeebBack" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Feedback</b></span>
        <hr class="accordion-hr" />
        <div id="cfeedbackdiv" class="collapse">
            <div class="form-group">
                <label for="lblChioceInfoColumn" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(214);"><span class="fa fa-question-circle"></span></a>&nbsp;Info Column</label>
                <div class="col-sm-4">
                    <select name="sltChioceInfoColumn" id="sltChioceInfoColumn" class="form-control" ng-model="ChioceInfoColumns" ng-options="item.iC_ID as item.icM_Column_Name for item in Info  track by item.iC_ID">
                        <option value="" selected>Not Set</option>
                    </select>
                </div>
                <label for="lblChioceInfoColumnAction" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(216);"><span class="fa fa-question-circle"></span></a> &nbsp; Info Column Action </label>
                <div class="col-sm-4">
                    <select name="sltChioceInfoColumnAction" id="sltChioceInfoColumnAction" ng-model="ChioceInfoColumnAction" ng-options="item.infoColumnActionId as item.infoColumnActionDesc for item in InfoColumnAction  track by item.infoColumnActionId" class="form-control">
                        @*
                            <option value="" selected>Not Set</option>*@
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblChioceFileNumber" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(218);"><span class="fa fa-question-circle"></span></a> &nbsp;File Number </label>
                <div class="col-sm-4">
                    <select name="sltChioceFileNumber" id="sltChioceFileNumber" class="form-control">
                        <option value="Not Set" selected>Not Set</option>
                        <option value="Set">Set</option>
                        <option value="Reset">Reset</option>
                    </select>
                </div>
                <label for="lblChioceplanning" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(219);"><span class="fa fa-question-circle"></span></a> &nbsp;Planning Feedback </label>
                <div class="col-sm-4">
                    <select name="sltChiocePlanningFeed" id="sltChiocePlanningFeed" class="form-control" ng-model="planningfeedbacks" ng-options="item.planningfeedback as item.planningfeedback for item in PlanningLeveldropdown  track by item.planningfeedback"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblChiocepredefined" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(220);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Type </label>
                <div class="col-sm-4">
                    <select name="sltChioceFeedbackType" id="sltChioceFeedbackType" class="form-control">
                        <option value="">-- Select Feedback Type --</option>
                        <option value="Extra info">Extra info</option>
                        <option value="Pallets">Pallets</option>
                        <option value="Anomaly">Anomaly</option>
                    </select>
                </div>
                <label for="lblchoicefeedback" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(222);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Code </label>
                <div class="col-sm-4">
                    <input type="text" tabindex="1" id="sltChoiceFeedbackCode" max="35" />
                    @*<input type="text" id="txtchoicefeedbackcode" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />*@
                </div>
            </div>

            <div class="form-group">
                <label for="lblChiocePartnerCode" class="control-label col-sm-2">  <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(223);"><span class="fa fa-question-circle"></span></a>&nbsp;Partner Code</label>
                <div class="col-sm-4">
                    <input type="text" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" id="txtChiocePartnerCode" name="txtChiocePartnerCode" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>

            </div>
        </div>
        <span id="spanChoiceCondition" class="collapsebutton" data-toggle="collapse" data-target="#ccondiv">[&nbsp;<i id="iChoiceCondition" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span>
        <hr class="accordion-hr" />
        <div id="ccondiv" class="collapse">
            <div class="form-group">
                <label for="lblChioceValue" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(225);"><span class="fa fa-question-circle"></span></a>&nbsp;Value </label>
                <div class="col-sm-4">
                    <select name="sltChioceValue" id="sltChioceValue" ng-model="chiocevalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control">
                        @*
                            <option value="" selected>--Select Value--</option>*@
                    </select>
                </div>
                <label for="lblChioceConditionSavedValue" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(227);"><span class="fa fa-question-circle"></span></a>&nbsp;Condition Saved Value </label>
                <div class="col-sm-4">
                    <select name="sltChioceConditionSavedValue" id="sltChioceConditionSavedValue" ng-model="ChioceConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Condition Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblChioceCompareMethod" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(229);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Method </label>
                <div class="col-sm-4">
                    <select name="sltChioceCompareMethod" id="sltChioceCompareMethod" ng-model="ChioceCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in choiceCompareMethod  track by item.compareMethodId" class="form-control">
                        <option value="" selected>-- Select Compare Method --</option>
                    </select>
                </div>
                <label for="lblChioceCompareTo" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(231);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To </label>
                <div class="col-sm-4">
                    <select name="sltChioceCompareTo" id="sltChioceCompareTo" ng-model="ChioceCompareTo" ng-options="item.compareToId as item.compareToDesc for item in choicecompareto  track by item.compareToId" class="form-control">
                        <option value="" selected>-- Select Compare To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblChioceComparetoSavedValue" class="control-label col-sm-2">  <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(233);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Saved Value</label>
                <div class="col-sm-4">
                    <select name="sltChioceComparetoSavedValue" id="sltChioceComparetoSavedValue" ng-model="ChioceCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Compare  to Saved Value --</option>
                    </select>
                </div>
                <label for="lblChioceComparetoFixedText" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(235);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Fixed Text </label>
                <div class="col-sm-4">
                    <input type="text" maxlength="100" id="txtChioceComparetoFixedText" onkeyup="valid(this)" onblur="valid(this)" name="txtChioceComparetoFixedText" class="form-control" />
                </div>
            </div>
        </div>
        <div id="mainitem" class=" box-footer" align="center">
            <div align="center">
                <button type="submit" lass="btn btn-primary" style="display:none;">Save</button>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <input type="hidden" id="nodeid" class="form-control" />
    <input type="hidden" id="transportidpopup" />
    <div id="AddChioce" class="box-body col-sm-12 hide">
        <input type="hidden" id="hidChoiceQuestionId" value="0" />
        <div id="divChoiceTitle" align="center"></div>
        <div id="Addchiocedata"></div>
        <!-- /.box-body -->
        @*<div id="subitem" align="center">
                <br />
                <button type="button" id="Finish" ng-click="finishaddchoice()" class="btn btn-primary" disabled>Finish</button>
                <button type="button" id="back" ng-click="cancelBackTochoice()" class="btn btn-primary">Back</button>
                <button type="button" id="Cancel" ng-click="canceladdchoice()" class="btn">Cancel</button>
            </div>*@
    </div>
    <!-- /.box-footer -->
</form>

