﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="frmConditionalActionProperties" class="form-horizontal" ng-submit="saveConditionalActionPropertiesClick()">
    <div class="box-body col-sm-12 show">
        <div>
            <span class="collapsebutton" data-toggle="collapse" data-target="#conpdetailsdiv">[&nbsp;<i id="iCAPDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>

            <hr class="accordion-hr" />
            <div id="conpdetailsdiv" class="collapse in">
                <div class="form-group">
                    <label for="lblPConditionalActionValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(336);"><span class="fa fa-question-circle"></span></a> &nbsp;Source <span class="errorfont"> *</span></label>
                    <div class="col-lg-8">
                        <select name="sltPConditionalActionValue" id="sltPConditionalActionValue" ng-model="PConditionalActionvalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control">
                            @*<option value="" selected>-- Select Source --</option>*@
                        </select>
                    </div>
                    <input type="hidden" id="pConditionalActionnodeid" class="form-control" />
                    <input type="hidden" id="pConditionalActiontransportidpopup" />
                    <input type="hidden" id="ConditionalActionid" />
                </div>
                <div class="form-group">
                    <label for="lblPConditionalActionConditionSavedValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(338);"><span class="fa fa-question-circle"></span></a> &nbsp;Condition Saved Value </label>
                    <div class="col-lg-8">
                        <select name="sltPConditionalActionConditionSavedValue" id="sltPConditionalActionConditionSavedValue" ng-model="PConditionalActionConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                            <option value="" selected>-- Select Condition Saved Value --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblPConditionalActionCompareMethod" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(340);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare Method <span class="errorfont"> *</span></label>
                    <div class="col-lg-8">
                        <select name="sltPConditionalActionCompareMethod" id="sltPConditionalActionCompareMethod" ng-model="PConditionalActionCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in conditionalActionPCompareMethod  track by item.compareMethodId" class="form-control">
                            <option value="" selected>-- Select Compare Method --</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lblPConditionalActionCompareTo" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(342);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare To <span class="errorfont"> *</span></label>
                    <div class="col-lg-8">
                        <select name="sltPConditionalActionCompareTo" id="sltPConditionalActionCompareTo" ng-model="PConditionalActionCompareTo" ng-options="item.compareToId as item.compareToDesc for item in conditionactionpcompareto  track by item.compareToId" class="form-control">
                            <option value="" selected>-- Select Compare To --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblPConditionalActionComparetoSavedValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(344);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare Saved Value </label>
                    <div class="col-lg-8">
                        <select name="sltPConditionalActionComparetoSavedValue" id="sltPConditionalActionComparetoSavedValue" ng-model="PConditionalActionCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                            <option value="" selected>-- Select Compare  to Saved Value --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblPConditionalActionComparetoFixedText" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(346);"><span class="fa fa-question-circle"></span></a>&nbsp; Compare Fixed Text </label>
                    <div class="col-lg-8">
                        <input type="text" maxlength="100" onkeypress="return blockSpecialChar(event)" id="txtPConditionalActionComparetoFixedText" name="txtPConditionalActionComparetoFixedText" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblpConditionalName" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(347);"><span class="fa fa-question-circle"></span></a> &nbsp;Comment </label>
                    <div class="col-lg-8">
                        <textarea id="txtpConditionalComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblprepeat" class="control-label col-lg-4" > <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(348);"><span class="fa fa-question-circle"></span></a> &nbsp; Repeat </label>
                    <div class="col-lg-8">
                        <select name="sltpRepeat" id="sltpRepeat" class="form-control">
                            <option value="">-- Select Repeat --</option>
                            <option value="No">No</option>
                            <option value="If True">If True</option>
                            <option value="If False">If False</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @if ((Previlage.Contains("QPUCAP") && LayoutStatusPrevilage.Contains("QPUCAP")) || RoleWithLayoutStatusPrevilage.Contains("QPUCAP"))
    {
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:9px;display:none">Update</button>
    }
</form>