﻿<form novalidate name="frmConditionalAction" class="form-horizontal" style="padding:20px !important;margin-top:-35px" ng-submit="saveConditionalActionClick()">
    <div class="box-body col-sm-12 show">
        <div>
            <span class="collapsebutton" data-toggle="collapse" data-target="#condetailsdiv">[&nbsp;<i id="iCADetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span><hr class="accordion-hr" />
            <div id="condetailsdiv" class="collapse in">
                <div class="form-group">
                    <label for="lblConditionalActionValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(336);"><span class="fa fa-question-circle"></span></a> &nbsp;Source <span class="errorfont"> *</span></label>
                    <div class="col-sm-4">
                        <select name="sltConditionalActionValue" id="sltConditionalActionValue" ng-model="ConditionalActionvalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control">
                            @*<option value="" selected>-- Select Source --</option>*@
                        </select>
                    </div>
                    <label for="lblConditionalActionConditionSavedValue" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(338);"><span class="fa fa-question-circle"></span></a> &nbsp;Condition Saved Value </label>
                    <div class="col-sm-4">
                        <select name="sltConditionalActionConditionSavedValue" id="sltConditionalActionConditionSavedValue" ng-model="ConditionalActionConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                            <option value="" selected>-- Select Condition Saved Value --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblConditionalActionCompareMethod" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(340);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare Method<span class="errorfont"> *</span></label>
                    <div class="col-sm-4">
                        <select name="sltConditionalActionCompareMethod" id="sltConditionalActionCompareMethod" ng-model="ConditionalActionCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in conditionalActionCompareMethod  track by item.compareMethodId" class="form-control">
                            <option value="" selected>-- Select Compare Method --</option>
                        </select>
                    </div>
                    <label for="lblConditionalActionCompareTo" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(342);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare To<span class="errorfont"> *</span></label>
                    <div class="col-sm-4">
                        <select name="sltConditionalActionCompareTo" id="sltConditionalActionCompareTo" ng-model="ConditionalActionCompareTo" ng-options="item.compareToId as item.compareToDesc for item in conditionactioncompareto  track by item.compareToId" class="form-control">
                            <option value="" selected>-- Select Compare To --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblConditionalActionComparetoSavedValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(344);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Saved Value </label>
                    <div class="col-sm-4">
                        <select name="sltConditionalActionComparetoSavedValue" id="sltConditionalActionComparetoSavedValue" ng-model="ConditionalActionCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                            <option value="" selected>-- Select Compare  to Saved Value --</option>
                        </select>
                    </div>
                    <label for="lblConditionalActionComparetoFixedText" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(346);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Fixed Text </label>
                    <div class="col-sm-4">
                        <input type="text" maxlength="100" onkeypress="return blockSpecialChar(event)" id="txtConditionalActionComparetoFixedText" name="txtConditionalActionComparetoFixedText" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblConditionalComment" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(347);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                    <div class="col-sm-4">
                        <textarea id="txtConditionalComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                    </div>
                    <label for="lblrepeat" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(348);"><span class="fa fa-question-circle"></span></a>&nbsp;Repeat </label>
                    <div class="col-sm-4">
                        <select name="sltRepeat" id="sltRepeat" class="form-control">
                            <option value="">-- Select Repeat --</option>
                            <option value="No">No</option>
                            <option value="If True">If True</option>
                            <option value="If False">If False</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer" align="center">
                <button type="submit" class="btn btn-primary" style="display:none;">Save</button>
            </div>
            <!-- /.box-footer -->
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $("#careset").click(function () {
            $("#sltConditionalActionValue").val('');
            $("#sltConditionalActionConditionSavedValue").val('');
            $("#sltConditionalActionCompareMethod").val('');
            $("#sltConditionalActionCompareTo").val('');
            $("#sltConditionalActionComparetoSavedValue").val('');
            $("#txtConditionalActionComparetoFixedText").val('');

            var sltConditionalActionValue = $("#sltConditionalActionValue option:selected").text();
            if (sltConditionalActionValue == 'Saved Value') {
                $('#sltConditionalActionConditionSavedValue').attr("disabled", false);
            }
            else {
                $('#sltConditionalActionConditionSavedValue').val("");
                $('#sltConditionalActionConditionSavedValue').attr("disabled", true);
            }

            var sltConditionalActionCompareTo = $("#sltConditionalActionCompareTo option:selected").text();
            if (sltConditionalActionCompareTo == 'Saved Value') {
                $('#sltConditionalActionComparetoSavedValue').attr("disabled", false);
            }
            else {
                $('#sltConditionalActionComparetoSavedValue').val("");
                $('#sltConditionalActionComparetoSavedValue').attr("disabled", true);
            }

            if (sltConditionalActionCompareTo == 'Fixed Text') {
                $('#txtConditionalActionComparetoFixedText').attr("disabled", false);
            }
            else {
                $('#txtConditionalActionComparetoFixedText').val("");
                $('#txtConditionalActionComparetoFixedText').attr("disabled", true);
            }
            $('#sltConditionalActionValue').val(1);
        });

    });
</script>