﻿<form novalidate name="PropertyfrmDescription" ng-submit="saveDescriptionClick()" class="form-horizontal">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div class="form-group">
            <label for="lblmasktext" class="control-label col-lg-4">Name<span class="errorfont"> *</span></label>
            <div class="col-lg-8">
                <input type="text" id="txtpName" class="form-control" />
                <input type="hidden" id="pnodeid" class="form-control" />
                <input type="hidden" id="ptransportidpopup" />
                <input type="hidden" id="descrptionId" />
            </div>
        </div>
        </div>
    <!-- /.box-body -->
    <div class="box-footer" align="center">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="reset" class="btn btn-info">Reset</button>
    </div>
    <!-- /.box-footer -->
</form>