﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmDescription" class="form-horizontal" ng-submit="PropertysaveDocumentScanClick()" >
    <div id="mainDocumentScanp">
        <div class="box-body col-sm-12  col-md-12 col-lg-12">
            <span class="collapsebutton" data-toggle="collapse" data-target="#dspdetailsdiv">[&nbsp;<i id="iDocScanPDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>
           
            <hr class="accordion-hr" />
            <div id="dspdetailsdiv" class="collapse in">
                <div class="form-group">
                    <label for="lblpTitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(478);"><span class="fa fa-question-circle"></span></a> &nbsp;Name</label>
                    <div class="col-lg-8">
                        <input type="text" id="txtpDocumentScanName" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblpName" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(478);"><span class="fa fa-question-circle"></span></a>&nbsp;Title <span class="errorfont"> *</span></label>
                    <div class="col-lg-8">
                        <input type="text" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtpDocumentScanTitle" class="form-control" />
                        <input type="hidden" id="pDocumentScannodeid" class="form-control" />
                        <input type="hidden" id="pDocumentScantransportidpopup" />
                        <input type="hidden" id="documentscanid" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblpPlanningFeedback" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(479);"><span class="fa fa-question-circle"></span></a>&nbsp;Planning Feedback Level <span class="errorfont"> *</span></label>
                    <div class="col-lg-8">
                        <select name="sltpDocumentScanPlanningFeedback" id="sltpDocumentScanPlanningFeedback" class="form-control">
                            <option value="">-- Planning Feedback Level --</option>
                            <option value="None" selected>None</option>
                            <option value="Trip">Trip</option>
                            <option value="Place">Place</option>
                            <option value="Job">Job</option>
                            <option value="Product">Product</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblpPlanningFeedback" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(481);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                    <div class="col-lg-8">
                        <textarea id="txtpDocumentScanComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                    </div>
                </div>
            </div>
            <br />
            <span class="collapsebutton" data-toggle="collapse" data-target="#dspconditiondiv">[&nbsp;<i id="iDocScanPConditions" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span><hr class="accordion-hr" />
            <div id="dspconditiondiv" class="collapse">
                <div class="form-group">
                    <label for="lblPDocumentValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(483);"><span class="fa fa-question-circle"></span></a>&nbsp;Value</label>
                    <div class="col-lg-8">
                        <select name="sltPDocumentItem" id="sltPDocumentItem" ng-model="PDocumentvalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control">
                            @*<option value="" selected>--Select Value--</option>*@
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblPDocumentConditionSavedValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(485);"><span class="fa fa-question-circle"></span></a>&nbsp;Condition Saved Value </label>
                    <div class="col-lg-8">
                        <select name="sltPDocumentConditionSavedValue" id="sltPDocumentConditionSavedValue" ng-model="PDocumentConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                            <option value="" selected>-- Select Condition Saved Value --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblPDocumentCompareMethod" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(487);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Method </label>
                    <div class="col-lg-8">
                        <select name="sltPDocumentCompareMethod" id="sltPDocumentCompareMethod" ng-model="PDocumentCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in documnetScanPCompareMethod  track by item.compareMethodId" class="form-control">
                            <option value="" selected>-- Select Compare Method --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblPDocumentCompareTo" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(489);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To </label>
                    <div class="col-lg-8">
                        <select name="sltPDocumentCompareTo" id="sltPDocumentCompareTo" ng-model="PDocumentCompareTo" ng-options="item.compareToId as item.compareToDesc for item in documentscanpcompareto  track by item.compareToId" class="form-control">
                            <option value="" selected>-- Select Compare To --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblPDocumentComparetoSavedValue" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(491);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To Saved Value </label>
                    <div class="col-lg-8">
                        <select name="sltPDocumentComparetoSavedValue" id="sltPDocumentComparetoSavedValue" ng-model="PDocumentCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                            <option value="" selected>-- Select Compare  to Saved Value --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblPDocumentComparetoFixedText" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(493);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To Fixed Text </label>
                    <div class="col-lg-8">
                        <input type="text" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtPDocumentComparetoFixedText" name="txtPDocumentComparetoFixedText" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div id="AddDocumentScanp">
        <div class="box-body col-sm-12  col-md-12 col-lg-12">
            <div class="form-group">
                <input type="hidden" id="hidpDocumentTypeTitleId" value="0" />
                <input type="hidden" id="pDocumentScanTypenodeid" class="form-control" />
                <input type="hidden" id="pDocumentScanTypetransportidpopup" />
                <input type="hidden" id="documentscanTypeid" />
                <label for="lblpTitle" class="control-label col-lg-4">Document Type Title</label>
                <div class="col-lg-8">
                    <input type="text" id="txtpDocumentTypeTitle" maxlength="20" keypress="return blockSpecialChar(event)" class="form-control" />
                </div>
            </div>
        </div>
        @if ((Previlage.Contains("QPUTDP") && LayoutStatusPrevilage.Contains("QPUTDP")) || RoleWithLayoutStatusPrevilage.Contains("QPUTDP"))
        {
            <div class="box-footer" align="center">
                <button type="button" class="btn btn-primary pull-right form-group" ng-click="updatedocumentscantitle()" style="margin-right:9px">Update</button>
            </div>
        }
        <br />
        <br />
        <!-- /.box-footer -->
        <div class="box-body col-sm-12">
            <div id="AddDocumentScanProperties"></div>
        </div>
    </div>
</form>