﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmDocumentScanner" class="form-horizontal" ng-submit="PropertysaveDocumentScanner()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div class="form-group">
            <label for="lblDocumentScannerpTitle" class="control-label col-lg-4">Title</label>
            <div class="col-lg-8">
                <input type="text" maxlength="20" onkeypress="return blockSpecialChar(event)" id="txtDocumentScannerpTitle" name="txtDocumentScannerpTitle" class="form-control" />
                <input type="hidden" id="pDocumentScannerId" class="drop" />

                <input type="hidden" id="pDocumentScannernodeid" class="drop" />
                <input type="hidden" id="pDocumentScannertransportidpopup" />
            </div>

        </div>

        <div class="form-group">
            <label for="lblDocumentScannerpAlternativetextonPlacelevel" class="control-label col-lg-4">Alternative Text on Place Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtDocumentScannerpAlternativetextonPlacelevel" name="txtDocumentScannerpAlternativetextonPlacelevel" class="form-control" />
            </div>

        </div>
        <div class="form-group">
            <label for="lblDocumentScannerpAlternativetextonJoblevel" class="control-label col-lg-4">Alternative Text on Job Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtDocumentScannerpAlternativetextonJoblevel" name="txtDocumentScannerpAlternativetextonJoblevel" class="form-control" />
            </div>

        </div>
        <div class="form-group">
            <label for="lblDocumentScannerpAlternativetextonproductlevel" class="control-label col-lg-4">Alternative Text on Product Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtDocumentScannerpAlternativetextonproductlevel" name="txtDocumentScannerpAlternativetextonproductlevel" class="form-control" />
            </div>

        </div>
    </div>
    @if ((Previlage.Contains("QPFDS") && LayoutStatusPrevilage.Contains("QPFDS")) || RoleWithLayoutStatusPrevilage.Contains("QPFDS"))
    {
        <!-- /.box-body -->
        <div class="box-footer" align="center">
            <button type="submit" class="btn btn-primary pull-right form-group"  style="margin-right:20px; margin-bottom:10px;">Update</button>
        </div>
    }
    <!-- /.box-footer -->
    <div class="clearfix"></div>
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div id="DocumentScannerproperties"></div>
    </div>

</form>

