﻿<form novalidate name="frmDocumentScan" class="form-horizontal" style="padding:20px !important;margin-top:-35px" ng-submit="saveDocumentScanClick()">
    <div id="mainDocumentScan">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#dsdetailsdiv">[&nbsp;<i id="iDocScanDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span><hr class="accordion-hr" />
        <div id="dsdetailsdiv" class="collapse in">
            <div class="form-group">
                <label for="lblDocumentTitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(477);"><span class="fa fa-question-circle"></span></a> &nbsp;Name</label>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <input type="text" id="txtDocumentName" maxlength="35" class="form-control" readonly="readonly" />
                </div>
                <label for="lblDocumentName" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(478);"><span class="fa fa-question-circle"></span></a> &nbsp;Title<span class="errorfont"> *</span></label>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <input type="text" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtDocumentTitle" class="form-control" />
                    <input type="hidden" id="nodeid" class="form-control" />
                    <input type="hidden" id="ptransportidpopup" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningFeedback" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(479);"><span class="fa fa-question-circle"></span></a> &nbsp;Planning Feedback Level <span class="errorfont"> *</span></label>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <select name="sltDocumentPlanningFeedback" id="sltDocumentPlanningFeedback" class="form-control">
                        <option value="">-- Planning Feedback Level --</option>
                        <option value="None" selected>None</option>
                        <option value="Trip">Trip</option>
                        <option value="Place">Place</option>
                        <option value="Job">Job</option>
                        <option value="Product">Product</option>
                    </select>
                </div>
                <label for="lblDocumentScanComment" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(481);"><span class="fa fa-question-circle"></span></a> &nbsp;Comment </label>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <textarea id="txtDocumentScanComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#dsconditiondiv">[&nbsp;<i id="iDocScanConditions"  class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span><hr class="accordion-hr" />
        <div id="dsconditiondiv" class="collapse">
            <div class="form-group">
                <label for="lblDocumentValue" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(483);"><span class="fa fa-question-circle"></span></a> &nbsp;Value </label>
                <div class="col-sm-4">
                    <select name="sltDocumentItem" id="sltDocumentItem" ng-model="Documentvalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control">
                        @*<option value="" selected>--Select Value--</option>*@
                    </select>
                </div>
                <label for="lblDocumentConditionSavedValue" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(485);"><span class="fa fa-question-circle"></span></a> &nbsp;Condition Saved Value </label>
                <div class="col-sm-4">
                    <select name="sltDocumentConditionSavedValue" id="sltDocumentConditionSavedValue" ng-model="DocumentConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Condition Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblDocumentCompareMethod" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(487);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare Method </label>
                <div class="col-sm-4">
                    <select name="sltDocumentCompareMethod" id="sltDocumentCompareMethod" ng-model="DocumentCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in documnetScanCompareMethod  track by item.compareMethodId" class="form-control">
                        <option value="" selected>-- Select Compare Method --</option>
                    </select>
                </div>
                <label for="lblDocumentCompareTo" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(489);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare To </label>
                <div class="col-sm-4">
                    <select name="sltDocumentCompareTo" id="sltDocumentCompareTo" ng-model="DocumentCompareTo" ng-options="item.compareToId as item.compareToDesc for item in documentscancompareto track by item.compareToId" class="form-control">
                        <option value="" selected>-- Select Compare To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblDocumentComparetoSavedValue" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(491);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare To Saved Value </label>
                <div class="col-sm-4">
                    <select name="sltDocumentComparetoSavedValue" id="sltDocumentComparetoSavedValue" ng-model="DocumentCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Compare  to Saved Value --</option>
                    </select>
                </div>
                <label for="lblDocumentComparetoFixedText" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(493);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare To Fixed Text </label>
                <div class="col-sm-4">
                    <input type="text" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtDocumentComparetoFixedText" name="txtDocumentComparetoFixedText" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <!-- /.box-body -->
        <div class="box-footer" align="center">
            <button type="submit" class="btn btn-primary" style="display:none;">Save</button>
    </div>
    </div>
    <!-- /.box-body -->
    <input type="hidden" id="nodeidDC" class="form-control" />
    <input type="hidden" id="transportidDCpopup" />
    <div class="hide AddDocumentScan">
        <input type="hidden" id="hidDocumentScanQuestionId" value="0" />
        <div id="AddDocumentScan"></div>
        <br />
        <br />
        <!-- /.box-body -->
        
    </div>
    <div style="text-align:center;" class="hide AddDocumentScan">
        <button type="button" id="FinishDocumentScan" ng-click="finishadddocumentsacn()" class="btn btn-primary">Finish</button>
        <button type="button" id="dsdcancelallfields" data-dismiss="modal" aria-hidden="true" class="btn" ng-click="cancelDocumentScanDetail()">Cancel</button>
    </div>

    <!-- /.box-footer -->
</form>
