﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmEntry" class="form-horizontal" ng-submit="PropertysaveentryClick()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#epdetailsdiv">[&nbsp;<i id="iPEntryDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>

        <hr class="accordion-hr" />
        <div id="epdetailsdiv" class="collapse in">
            <div class="form-group">
                <label for="lbltitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(244);"><span class="fa fa-question-circle"></span></a> &nbsp;Title <span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <input type="text" id="txtpTitle" data-keyinvalue="" maxlength="35" ng-blur="entryTitleBlurp()" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblmasktext" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(245);"><span class="fa fa-question-circle"></span></a>&nbsp;Mask Text </label>
                <div class="col-lg-8">
                    <input type="text" id="txtpMask" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    <input type="hidden" id="pnodeid" class="form-control" />
                    <input type="hidden" id="ptransportidpopup" />
                    <input type="hidden" id="entryid" />
                    <input type="hidden" id="hidEntryPropertyName" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblentry" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(246);"><span class="fa fa-question-circle"></span></a>&nbsp;Entry Type <span class="errorfont">*</span></label>
                <div class="col-lg-8">
                    <select name="sltpentry" id="sltpentry" class="form-control">
                        <option value="">-- Select Entry --</option>
                        <option value="Alphanumeric">Alphanumeric</option>
                        <option value="Numeric">Numeric</option>
                        <option value="Custom">Custom</option>
                        <option value="Datetime">Datetime</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpredefined" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(248);"><span class="fa fa-question-circle"></span></a>&nbsp;Predefined </label>
                <div class="col-lg-8">
                    <select name="sltppredefined" id="sltppredefined" class="form-control">
                        <option value="">-- Select Predefined --</option>
                        <option value="A(100)">A(100)</option>
                        <option value="N(4.1)">N(4.1)</option>
                        <option value="A(50)">A(50)</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblsize" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(250);"><span class="fa fa-question-circle"></span></a>&nbsp;Size </label>
                <div class="col-lg-8">
                    <input type="number" id="txtpSize" class="form-control" min="1" max="100" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpentry" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(251);"><span class="fa fa-question-circle"></span></a>&nbsp;DateTime Format </label>
                <div class="col-lg-8">
                    <select name="sltpentryDateTimeformat" id="sltpentryDateTimeformat" class="form-control">
                        <option value="">-- Select DateTime Format --</option>
                        <option value="hh:mm">hh:mm</option>
                        <option value="DD/MM/YYYY">DD/MM/YYYY</option>
                        <option value="DD/MM/YYYY hh:mm">DD/MM/YYYY hh:mm</option>
                        <option value="YYYY/MM/DD">YYYY/MM/DD</option>
                        <option value="YYYY/MM/DD hh:mm">YYYY/MM/DD hh:mm</option>
                        <option value="MM/DD/YYYY">MM/DD/YYYY</option>
                        <option value="MM/DD/YYYY hh:mm">MM/DD/YYYY hh:mm</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblregex" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(253);"><span class="fa fa-question-circle"></span></a>&nbsp;Regex</label>
                <div class="col-lg-8">
                    <input type="text" id="txtpRegex" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label for="lblnull" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(254);"><span class="fa fa-question-circle"></span></a>&nbsp;Null Not Allowed </label>
                <div class="col-lg-8">
                    <input type="checkbox" class="dropDownCB" id="chkpNotnull" checked />
                </div>
            </div>
            <div class="form-group">
                <label for="lblzero" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(255);"><span class="fa fa-question-circle"></span></a>&nbsp;Zero Not Allowed </label>
                <div class="col-lg-8">
                    <input type="checkbox" class="dropDownCB" id="chkp0not" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblcharacters" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(256);"><span class="fa fa-question-circle"></span></a>&nbsp;Minimum # Of Characters </label>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-2">  <input type="checkbox" class="dropDownCB" id="chkpminimChar" ng-click="CheckMinCharEntryProperties()" /></div>
                        <div class="col-lg-10" style="display:none" id="divMinChars"> <input type="number" id="txtMinCharacters" min="1" class="form-control dropDownCB" /></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="lblSave" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(257);"><span class="fa fa-question-circle"></span></a>&nbsp;Save </label>
                <div class="col-lg-8">
                    @*Divakar Modified*@
                    <input type="checkbox" class="dropDownCB" id="chkpsave" ng-click="saveEntrypcheckboxproperties()" />
                    @*END*@
                </div>
            </div>
            <div class="form-group" style="margin-top:17px">
                <label for="lblpEntrySaveto" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(258);"><span class="fa fa-question-circle"></span></a>&nbsp;Save To </label>
                <div class="col-lg-8">
                    <input type="text" tabindex="1" id="sltpEntrySaveto" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblPropose" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(260);"><span class="fa fa-question-circle"></span></a>&nbsp;Propose </label>
                <div class="col-lg-8">
                    @*<input type="checkbox" class="dropDownCB" id="chkpPropose" />*@
                    @*<select name="sltpChiocepropose" id="sltPEntryPropose" ng-model="EntryCompareProposeDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                            <option value="" selected>No</option>
                        </select>*@
                    <select name="sltPEntryPropose" id="sltPEntryPropose" ng-model="EntryQPCompareProposeDetails" class="form-control">
                        <option value="" selected>No</option>
                        <option value="99999999">Fixed Value</option>
                        <option value="99999998">Begin_Current_Activity</option>
                        <option value="99999997">Current_Date/Time</option>
                        <option ng-repeat="item in AliasNameDetails" value="{{item.aliasNameDetailsId}}">
                            {{item.aliasName}}
                        </option>

                    </select>
                </div>
            </div>
            <div class="form-group" id="divPropertyProposeFixedValue" style="display:none">
                <label for="lblPropertyFixedValue" class="control-label col-sm-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(702);"><span class="fa fa-question-circle"></span></a>&nbsp;Fixed Value </label>
                <div class="col-sm-8">
                    <input type="text" maxlength="35" id="txtPropertyproposeFixedValue" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpAutogenerate" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(261);"><span class="fa fa-question-circle"></span></a>&nbsp;Autogenerate </label>
                <div class="col-lg-8">
                    <input type="checkbox" class="dropDownCB" id="chkPAutogenerate" ng-click="ptitleconversion()" />
                </div>
            </div>
            <div class="form-group">
                <label id="lblPExactCharacters" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(262);"><span class="fa fa-question-circle"></span></a>&nbsp;Exact # Of Characters </label>
                <label id="lblPExactDigits" for="lblexact" class="control-label col-sm-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(262);"><span class="fa fa-question-circle"></span></a>&nbsp;Exact # Of Digits </label>
                <div class="col-lg-8">
                    <input type="checkbox" class="dropDownCB" id="chkpExactchar" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblcomment" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(263);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                <div class="col-lg-8">
                    <textarea id="txtpEntryComment" maxlength="100" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control"> </textarea>
                </div>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#epfeedbackdiv">[&nbsp;<i id="iPEntryFeedBack" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Feedback</b></span><hr class="accordion-hr" />
        <div id="epfeedbackdiv" class="collapse">
            <div class="form-group">
                <label for="lblPEntryInfoColumn" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(265);"><span class="fa fa-question-circle"></span></a>&nbsp;Info Column </label>
                <div class="col-lg-8">
                    <select name="sltPEntryInfoColumn" id="sltPEntryInfoColumn" class="form-control" ng-model="PEntryInfoColumns" ng-options="item.iC_ID as item.icM_Column_Name for item in Info  track by item.iC_ID">
                        <option value="" selected>Not Set</option>
                    </select>
                </div>

            </div>

            <div class="form-group">
                <label for="lblPEntryInfoColumnAction" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(267);"><span class="fa fa-question-circle"></span></a>&nbsp;Info Column Action </label>
                <div class="col-lg-8">
                    <select name="sltPEntryInfoColumnAction" id="sltPEntryInfoColumnAction" ng-model="PEntryInfoColumnAction" ng-options="item.infoColumnActionId as item.infoColumnActionDesc for item in InfoColumnAction  track by item.infoColumnActionId" class="form-control">
                        @*<option value="" selected>Not Set</option>*@
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPEntryFileNumber" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(269);"><span class="fa fa-question-circle"></span></a>&nbsp;File Number </label>
                <div class="col-lg-8">
                    <select name="sltPEntryFileNumber" id="sltPEntryFileNumber" class="form-control">
                        <option value="Not Set" selected>Not Set</option>
                        <option value="Set">Set</option>
                        <option value="Reset">Reset</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblplanning" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(270);"><span class="fa fa-question-circle"></span></a>&nbsp;Planning Feedback </label>
                <div class="col-lg-8">
                    <select class="form-control" id="sltpPlanningFeed" name="sltpPlanningFeed" ng-model="epplanningfeedbacks">

                        <option ng-repeat="val in PlanningLeveldropdown" value="{{val.planningfeedback}}">
                            {{val.planningfeedback}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpredefined" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(271);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Type</label>
                <div class="col-lg-8">
                    <select name="sltpFeedbackType" id="sltpFeedbackType" class="form-control" disabled>
                        <option value="">-- Select Feedback Type --</option>
                        <option value="Extra info">Extra info</option>
                        <option value="Pallets">Pallets</option>
                        <option value="Anomaly">Anomaly</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lbltitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(273);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback code </label>
                <div class="col-lg-8">
                    <input type="text" tabindex="1" id="sltPEntryFeedbackCode" max="35" />
                </div>
            </div>

            <div class="form-group">
                <label for="lblPartnerCode" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(274);"><span class="fa fa-question-circle"></span></a>&nbsp;Partner Code </label>
                <div class="col-lg-8">
                    <input type="text" id="txtPEntryPartnerCode" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#epconditiondiv">[&nbsp;<i id="iPEntryCondition" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span><hr class="accordion-hr" />
        <div id="epconditiondiv" class="collapse">
            <div class="form-group">
                <label for="lblpEntryValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(276);"><span class="fa fa-question-circle"></span></a>&nbsp;Value </label>
                <div class="col-lg-8">
                    <select name="sltpEntryItem" id="sltpEntryItem" ng-model="pEntryvalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control">
                        @*<option value="" selected>--Select Value--</option>*@
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPEntryConditionSavedValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(278);"><span class="fa fa-question-circle"></span></a>&nbsp;Condition Saved Value </label>
                <div class="col-lg-8">
                    <select name="sltPEntryConditionSavedValue" id="sltPEntryConditionSavedValue" ng-model="PEntryConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Condition Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPEntryCompareMethod" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(280);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Method </label>
                <div class="col-lg-8">
                    <select name="sltPEntryCompareMethod" id="sltPEntryCompareMethod" ng-model="PEntryCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in entryPCompareMethod  track by item.compareMethodId" class="form-control">
                        <option value="" selected>-- Select Compare Method --</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="lblPEntryCompareTo" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(282);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To </label>
                <div class="col-lg-8">
                    <select name="sltPEntryCompareTo" id="sltPEntryCompareTo" ng-model="PEntryCompareTo" ng-options="item.compareToId as item.compareToDesc for item in entrypcompareto  track by item.compareToId" class="form-control">
                        <option value="" selected>-- Select Compare To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPEntryComparetoSavedValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(284);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Saved Value </label>
                <div class="col-lg-8">
                    <select name="sltPEntryComparetoSavedValue" id="sltPEntryComparetoSavedValue" ng-model="PEntryCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Compare  to Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPEntryComparetoFixedText" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(286);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Fixed Text </label>
                <div class="col-lg-8">
                    <input type="text" maxlength="100" id="txtPEntryComparetoFixedText" name="txtPEntryComparetoFixedText" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    @if ((Previlage.Contains("QPUEP") && LayoutStatusPrevilage.Contains("QPUEP")) || RoleWithLayoutStatusPrevilage.Contains("QPUEP"))
    {
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:9px;display:none;">Update</button>
    }
</form>
<script type="text/javascript">

    $(document).ready(function () {

        $("#sltpPlanningFeed").change(function () {
            $("#sltpFeedbackType").val("");
            $("#txtpfeedbackcode").val("");
            if ($("#sltpPlanningFeed").val() == "Not set" || $("#sltpPlanningFeed").val() == "None") {
                $("#sltpFeedbackType").attr("disabled", true);
                $("#txtpfeedbackcode").attr("disabled", true);
            } else {
                $("#sltpFeedbackType").attr("disabled", false);
                $("#txtpfeedbackcode").attr("disabled", false);
            }
        });

        $("#sltpFeedbackType").change(function () {
            if ($("#sltpFeedbackType").val().trim().length == 0) {
                $("#txtpfeedbackcode").attr("disabled", true);
            } else {
                $("#txtpfeedbackcode").attr("disabled", false);
            }
        });

    });

</script>