﻿<form novalidate name="frmEntry" class="form-horizontal" style="padding:20px !important;margin-top:-35px" ng-submit="saveentryClick()">
    <div class="box-body col-sm-12">
        <div>
            <span class="collapsebutton" data-toggle="collapse" data-target="#edetailsdiv">[&nbsp;<i id="iEntryDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>
            <hr class="accordion-hr" />
            <div id="edetailsdiv" class="collapse in">
                <div class="form-group">
                    <label for="lbltitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(244);"><span class="fa fa-question-circle"></span></a> &nbsp;Title <span class="errorfont"> *</span></label>
                    <div class="col-sm-4">
                        <input type="text" id="txtTitle" data-keyinvalue="" maxlength="35" ng-blur="entryTitleBlur()" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    </div>
                    <label for="lblmasktext" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(245);"><span class="fa fa-question-circle"></span></a>&nbsp;Mask Text</label>
                    <div class="col-sm-4">
                        <input type="text" id="txtMask" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                        <input type="hidden" id="nodeid" value="{{nodeid}}" class="form-control" />
                        <input type="hidden" id="transportidpopup" value="{{transportTypeId}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblentry" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(246);"><span class="fa fa-question-circle"></span></a>&nbsp;Entry Type <span class="errorfont"> *</span></label>
                    <div class="col-sm-4">
                        <select name="sltentry" id="sltentry" class="form-control">
                            <option value="">-- Select Entry --</option>
                            <option value="Alphanumeric">Alphanumeric</option>
                            <option value="Numeric">Numeric</option>
                            <option value="Custom">Custom</option>
                            <option value="Datetime">Datetime</option>
                        </select>
                    </div>
                    <label for="lblpredefined" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(248);"><span class="fa fa-question-circle"></span></a>&nbsp;Predefined </label>
                    <div class="col-sm-4">
                        <select name="sltpredefined" id="sltpredefined" class="form-control">
                            <option value="">-- Select Predefined --</option>
                            <option value="A(100)">A(100)</option>
                            <option value="N(4.1)">N(4.1)</option>
                            <option value="A(50)">A(50)</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lblsize" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(250);"><span class="fa fa-question-circle"></span></a>&nbsp;Size</label>
                    <div class="col-sm-4">
                        <input type="number" id="txtSize" class="form-control" value="100" min="1" max="100" />@*KC*@
                    </div>
                    <label for="lblentry" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(251);"><span class="fa fa-question-circle"></span></a>&nbsp;DateTime Format </label>
                    <div class="col-sm-4">
                        <select name="sltentryDateTimeformat" id="sltentryDateTimeformat" class="form-control">
                            <option value="">-- Select DateTime Format --</option>
                            <option value="hh:mm">hh:mm</option>
                            <option value="DD/MM/YYYY">DD/MM/YYYY</option>
                            <option value="DD/MM/YYYY hh:mm">DD/MM/YYYY hh:mm</option>
                            <option value="YYYY/MM/DD">YYYY/MM/DD</option>
                            <option value="YYYY/MM/DD hh:mm">YYYY/MM/DD hh:mm</option>
                            <option value="MM/DD/YYYY">MM/DD/YYYY</option>
                            <option value="MM/DD/YYYY hh:mm">MM/DD/YYYY hh:mm</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblregex" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(253);"><span class="fa fa-question-circle"></span></a>&nbsp;Regex</label>
                    <div class="col-sm-4">
                        <input type="text" id="txtRegex" class="form-control" />
                    </div>
                    <label for="lblnull" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(254);"><span class="fa fa-question-circle"></span></a>&nbsp;Null Not Allowed </label>
                    <div class="col-sm-4">
                        <input type="checkbox" class="dropDownCB" id="chkNotnull" checked />
                    </div>
                </div>

                <div class="form-group">
                    <div id="divzero">
                        <label for="lblzero" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(255);"><span class="fa fa-question-circle"></span></a>&nbsp;Zero Not Allowed </label>
                        <div class="col-sm-4">
                            <input type="checkbox" class="dropDownCB" id="chk0not" />
                        </div>
                    </div>
                    <div id="minchar">
                        <label for="lblcharacters" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(256);"><span class="fa fa-question-circle"></span></a>&nbsp;Minimum # Of Characters </label>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-lg-2"> <input type="checkbox" class="dropDownCB" id="chkminimChar" ng-click="CheckQPMinCharEntryProperties()" /></div>
                                <div class="col-lg-10" style="display:none" id="divQPMinChars"> <input type="number" id="txtQPMinCharacters" min="1" class="form-control dropDownCB" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblSave" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(257);"><span class="fa fa-question-circle"></span></a>&nbsp;Save </label>
                    <div class="col-sm-4">
                        <input type="checkbox" class="dropDownCB" id="chksave" ng-click="saveEntrycheckbox()" />
                    </div>
                    <label for="lblEntrySaveto" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(258);"><span class="fa fa-question-circle"></span></a>&nbsp;Save To </label>
                    <div class="col-sm-4">
                        <input type="text" tabindex="1" id="sltEntrySaveto" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblPropose" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(260);"><span class="fa fa-question-circle"></span></a>&nbsp;Propose </label>
                    <div class="col-sm-4">
                        <select name="sltEntrypropose" id="sltEntryPropose" ng-model="EntryQPCompareProposeDetails" class="form-control">
                            <option value="" selected>No</option>
                            <option value="99999999">Fixed Value</option>
                            <option value="99999998">Begin_Current_Activity</option>
                            <option value="99999997">Current_Date/Time</option>
                            <option ng-repeat="item in AliasNameDetails" value="{{item.aliasNameDetailsId}}">
                                {{item.aliasName}}
                            </option>

                        </select>
                    </div>
                    <label for="lblAutogenerate" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(261);"><span class="fa fa-question-circle"></span></a>&nbsp;Autogenerate Selection </label>
                    <div class="col-sm-4">
                        <input type="checkbox" class="dropDownCB" id="chkAutogenerate" ng-click="titleconversion()" />
                    </div>
                </div>
                <div class="form-group" id="divProposeFixedValue" style="display:none">
                    <label for="lblFixedValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(702);"><span class="fa fa-question-circle"></span></a>&nbsp;Fixed Value </label>
                    <div class="col-sm-4">
                        <input type="text" maxlength="35" id="txtproposeFixedValue" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div id="exactchar">
                        <label id="lblExactCharacters" for="lblexact" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(262);"><span class="fa fa-question-circle"></span></a>&nbsp;Exact # Of Characters </label>
                        <label id="lblExactDigits" for="lblexact" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(262);"><span class="fa fa-question-circle"></span></a>&nbsp;Exact # Of Digits </label>
                        <div class="col-sm-4">
                            <input type="checkbox" class="dropDownCB" id="chkExactchar" />
                        </div>
                        <label for="lblcomment" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(263);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                        <div class="col-sm-4">
                            <textarea id="txtEntryComment" maxlength="100" class="form-control" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                        </div>
                    </div>
                </div>

            </div>
            <span class="collapsebutton" data-toggle="collapse" data-target="#efeedbackdiv">[&nbsp;<i id="iEntryFeedBack" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Feedback</b></span>
            <hr class="accordion-hr" />
            <div id="efeedbackdiv" class="collapse">

                <div class="form-group">
                    <label for="lblEntryInfoColumn" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(265);"><span class="fa fa-question-circle"></span></a>&nbsp;Info Column </label>
                    <div class="col-sm-4">
                        <select name="sltEntryInfoColumn" id="sltEntryInfoColumn" class="form-control" ng-model="EntryInfoColumns" ng-options="item.iC_ID as item.icM_Column_Name for item in Info  track by item.iC_ID">
                            <option value="" selected>Not Set</option>
                        </select>
                    </div>
                    <label for="lblEntryInfoColumnAction" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(267);"><span class="fa fa-question-circle"></span></a>&nbsp;Info Column Action</label>
                    <div class="col-sm-4">
                        <select name="sltEntryInfoColumnAction" id="sltEntryInfoColumnAction" ng-model="EntryInfoColumnAction" ng-options="item.infoColumnActionId as item.infoColumnActionDesc for item in InfoColumnAction  track by item.infoColumnActionId" class="form-control">
                            @*<option value="" selected>Not Set</option>*@
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblEntryFileNumber" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(269);"><span class="fa fa-question-circle"></span></a>&nbsp;File Number </label>
                    <div class="col-sm-4">
                        <select name="sltEntryFileNumber" id="sltEntryFileNumber" class="form-control">
                            <option value="Not Set" selected>Not Set</option>
                            <option value="Set">Set</option>
                            <option value="Reset">Reset</option>
                        </select>
                    </div>
                    <label for="lblplanning" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(270);"><span class="fa fa-question-circle"></span></a>&nbsp;Planning Feedback </label>
                    <div class="col-sm-4">
                        <select name="sltPlanningFeed" id="sltPlanningFeed" class="form-control" ng-model="Eplanningfeedbacks" ng-options="item.planningfeedback as item.planningfeedback for item in PlanningLeveldropdown  track by item.planningfeedback">
                            @*<option value="">-- Select Planning Feedback --</option>*@
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblpredefined" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(271);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Type </label>
                    <div class="col-sm-4">
                        <select name="sltFeedbackType" id="sltFeedbackType" class="form-control" disabled>
                            <option value="">-- Select Feedback Type --</option>
                            <option value="Extra info">Extra info</option>
                            <option value="Pallets">Pallets</option>
                            <option value="Anomaly">Anomaly</option>
                        </select>
                    </div>
                    <label for="lblEntryValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(273);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Code </label>
                    <div class="col-sm-4">
                        <input type="text" tabindex="1" id="sltEntryFeedbackCode" max="35" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblPartnerCode" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(274);"><span class="fa fa-question-circle"></span></a>&nbsp;Partner Code </label>
                    <div class="col-sm-4">
                        <input type="text" id="txtEntryPartnerCode" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    </div>
                </div>
            </div>
            <span class="collapsebutton" data-toggle="collapse" data-target="#econditiondiv">[&nbsp;<i id="iEntryCondition" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span>
            <hr class="accordion-hr" />
            <div id="econditiondiv" class="collapse">
                <div class="form-group">
                    <label for="lblEntryValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(276);"><span class="fa fa-question-circle"></span></a>&nbsp;Value </label>
                    <div class="col-sm-4">
                        <select name="sltEntryItem" id="sltEntryItem" ng-model="Entryvalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control">
                            @*<option value="" selected>--Select Value--</option>*@
                        </select>
                    </div>
                    <label for="lblEntryConditionSavedValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(278);"><span class="fa fa-question-circle"></span></a>&nbsp;Condition Saved Value </label>
                    <div class="col-sm-4">
                        <select name="sltEntryConditionSavedValue" id="sltEntryConditionSavedValue" ng-model="EntryConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                            <option value="" selected>-- Select Condition Saved Value --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblEntryCompareMethod" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(280);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Method </label>
                    <div class="col-sm-4">
                        <select name="sltEntryCompareMethod" id="sltEntryCompareMethod" ng-model="EntryCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in entryCompareMethod  track by item.compareMethodId" class="form-control">
                            <option value="" selected>-- Select Compare Method --</option>
                        </select>
                    </div>
                    <label for="lblEntryCompareTo" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(282);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To </label>
                    <div class="col-sm-4">
                        <select name="sltEntryCompareTo" id="sltEntryCompareTo" ng-model="EntryCompareTo" ng-options="item.compareToId as item.compareToDesc for item in entrycompareto  track by item.compareToId" class="form-control">
                            <option value="" selected>-- Select Compare To --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblEntryComparetoSavedValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(284);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare to Saved Value </label>
                    <div class="col-sm-4">
                        <select name="sltEntryComparetoSavedValue" id="sltEntryComparetoSavedValue" ng-model="EntryCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                            <option value="" selected>-- Select Compare  to Saved Value --</option>
                        </select>
                    </div>
                    <label for="lblEntryComparetoFixedText" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(286);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare to Fixed Text </label>
                    <div class="col-sm-4">
                        <input type="text" maxlength="100" id="txtEntryComparetoFixedText" name="txtEntryComparetoFixedText" class="form-control" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer" align="center">
        <button type="submit" class="btn btn-primary" style="display:none;">Save</button>
    </div>
    <!-- /.box-footer -->
</form>
<script type="text/javascript">

    $(document).ready(function () {

        $("#sltPlanningFeed").change(function () {
            $("#sltFeedbackType").val("");
            $("#txtfeedbackcode").val("");
            if ($("#sltPlanningFeed").val() == "Not set" || $("#sltPlanningFeed").val() == "None") {
                $("#sltFeedbackType").attr("disabled", true);
            } else {
                $("#sltFeedbackType").attr("disabled", false);
            }
        });

        $("#sltFeedbackType").change(function () {
            if ($("#sltFeedbackType option:selected").val().trim().length == 0) {
                $("#txtfeedbackcode").attr("disabled", true);
            } else {
                $("#txtfeedbackcode").attr("disabled", false);
            }
        });

    });

</script>