﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyExtraInfo" ng-submit="PropertysaveExtraInfo()" class="form-horizontal">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div class="form-group">
            <label for="lblExtraInfopTitle" class="control-label col-lg-4">Title</label>
            <div class="col-lg-8">
                <input type="text" maxlength="20" onkeypress="return blockSpecialChar(event)" id="txtExtraInfopTitle" name="txtExtraInfopTitle" class="form-control" />
                <input type="hidden" id="pExtraInfoId" class="drop" />

                <input type="hidden" id="pExtraInfonodeid" class="drop" />
                <input type="hidden" id="pExtraInfotransportidpopup" />
            </div>

        </div>
        <div class="form-group">
            <label for="lblExtraInfopAlternativetextonPlacelevel" class="control-label col-lg-4">Alternative Text on Place Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtExtraInfopAlternativetextonPlacelevel" name="txtExtraInfopAlternativetextonPlacelevel" class="form-control" />
            </div>

        </div>
        <div class="form-group">
            <label for="lblExtraInfopAlternativetextonJoblevel" class="control-label col-lg-4">Alternative Text on Job Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtExtraInfopAlternativetextonJoblevel" name="txtExtraInfopAlternativetextonJoblevel" class="form-control" />
            </div>

        </div>
        <div class="form-group">
            <label for="lblExtraInfopAlternativetextonproductlevel" class="control-label col-lg-4">Alternative Text on Product Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtExtraInfopAlternativetextonproductlevel" name="txtExtraInfopAlternativetextonproductlevel" class="form-control" />
            </div>

        </div>
    </div>
    @if ((Previlage.Contains("QPFEI") && LayoutStatusPrevilage.Contains("QPFEI")) || RoleWithLayoutStatusPrevilage.Contains("QPFEI"))
    {
        <div class="box-footer" align="center">
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:20px; margin-bottom:10px;">Update</button>
        </div>
    }
    <div class="clearfix"></div>
    <div id="Extrainfoproperties"></div>
</form>


