﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmGetSystemValues" class="form-horizontal" ng-submit="PropertysaveGetSystemValuesClick()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#gsvpdetailsdiv">[&nbsp;<i id="iGetSystemValuesPDetails" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>

        <hr class="accordion-hr" />
        <div id="gsvpdetailsdiv" class="collapse in">
            <div class="form-group">
                <label for="lblgsvptitle" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(696);"><span class="fa fa-question-circle"></span></a>&nbsp;Name</label>
                <div class="col-lg-8">
                    <input type="text" id="txtgsvpName" readonly class="form-control" />
                    <input type="hidden" id="pgsvnodeid" class="form-control" />
                    <input type="hidden" id="pgsvtransportidpopup" />
                    <input type="hidden" id="GetSystemValuesid" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblgsvpValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(698);"><span class="fa fa-question-circle"></span></a> &nbsp;Value<span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <select name="sltpGetSystemValues" id="sltpGetSystemValues" ng-model="pGetSystemValuesDetails" class="form-control">
                        <option value="" selected>-- Select Value --</option>
                        <option ng-repeat="item in getSystemValuesList" value="{{item.getSystemValuesId}}">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="divpGSVFormat">
                <label for="lblgsvpFormat" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(708);"><span class="fa fa-question-circle"></span></a>&nbsp;Format<span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <select name="sltpGetSystemValuesFormat" id="sltpGetSystemValuesFormat" ng-model="pGetSystemValuesFormatDetails" class="form-control">
                        <option value="" selected>-- Select Format --</option>
                        <option ng-repeat="item in getSystemValuesFormatList" value="{{item.getSystemValuesFormatId}}">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblgsvpSaveTo" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(697);"><span class="fa fa-question-circle"></span></a>&nbsp;Save To <span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <input type="text" tabindex="1" id="sltpGetSystemValuesSaveto" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblgsvpcomment" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(699);"><span class="fa fa-question-circle"></span></a> &nbsp;Comment</label>
                <div class="col-lg-8">
                    <textarea id="txtpGetSystemValuesComment" maxlength="100" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control"> </textarea>
                </div>
            </div>
        </div>
    </div>
    @if ((Previlage.Contains("QPUGSV") && LayoutStatusPrevilage.Contains("QPUGSV")) || RoleWithLayoutStatusPrevilage.Contains("QPUGSV"))
    {
        <button type="submit"  class="btn btn-primary pull-right updateButton"  style="margin-top:4px;display:none">Update</button>
    }
</form>
