﻿<form novalidate name="frmGetSystemValues"  class="form-horizontal" style="padding:20px !important;margin-top:-35px" ng-submit="saveGetSystemValuesClick()">
    <div class="box-body col-sm-12">
        <div>
            <span class="collapsebutton" data-toggle="collapse" data-target="#gsvdetailsdiv">[&nbsp;<i id="iGetSystemValuesDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>
            <hr class="accordion-hr" />
            <div id="gsvdetailsdiv" class="collapse in">
                <div class="form-group">
                    <label for="lblgsvtitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(696);"><span class="fa fa-question-circle"></span></a>&nbsp;Name </label>
                    <div class="col-sm-4">
                        <input type="hidden" id="nodeid" class="form-control" />
                        <input type="hidden" id="transportidpopup" value="{{transportTypeId}}" />
                        <input type="text" id="txtgsvName" readonly class="form-control" />
                    </div>
                    <label for="lblgsvValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(698);"><span class="fa fa-question-circle"></span></a>&nbsp;Value <span class="errorfont"> *</span></label>
                    <div class="col-sm-4">
                        <select name="sltGetSystemValues" id="sltGetSystemValues" ng-model="GetSystemValuesDetails" class="form-control">
                            <option value="" selected>-- Select Value --</option>
                            <option ng-repeat="item in getSystemValuesList" value="{{item.getSystemValuesId}}">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="divGSVFormat">
                    <label for="lblgsvFormat" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(708);"><span class="fa fa-question-circle"></span></a> &nbsp;Format <span class="errorfont"> *</span></label>
                    <div class="col-sm-4">
                        <select name="sltGetSystemValuesFormat" id="sltGetSystemValuesFormat" ng-model="GetSystemValuesFormatDetails" class="form-control">
                            <option value="" selected>-- Select Format --</option>
                            <option ng-repeat="item in getSystemValuesFormatList" value="{{item.getSystemValuesFormatId}}">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblGetSystemValuesSaveto" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(697);"><span class="fa fa-question-circle"></span></a>&nbsp;Save To <span class="errorfont"> *</span></label>
                    <div class="col-sm-4">
                        <input type="text" tabindex="1" id="sltGetSystemValuesSaveto" />
                    </div>
                    <label for="lblgsvcomment" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(699);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                    <div class="col-sm-4">
                        <textarea id="txtGetSystemValuesComment" maxlength="100" class="form-control" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
        <button type="submit" class="btn btn-primary" style="display:none">Save</button>
    <!-- /.box-footer -->
</form>
