﻿<form novalidate name="frmInfomessage" class="form-horizontal" style="padding:20px !important;margin-top:-35px" ng-submit="saveInfomessageClick()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#imdetailsdiv">[&nbsp;<i id="iInfoMessageDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span><hr class="accordion-hr" />
        <div id="imdetailsdiv" class="collapse in">
            <div class="form-group">
                @*<label for="lblInfomessageName" class="control-label col-lg-2">Name</label>
                    <div class="col-lg-4">
                        <input type="text" id="txtInfomessageName" class="form-control" readonly style="display:none;" />
                    </div>*@
                <input type="text" id="txtInfomessageName" class="form-control" readonly style="display:none;" />
                <label for="lblInfomessageMessagetype" class="control-label col-lg-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(355);"><span class="fa fa-question-circle"></span></a>&nbsp;Message Type </label>
                <div class="col-lg-4">
                    <select name="sltInfomessageMessagetype" id="sltInfomessageMessagetype" class="form-control">
                        <option value="">-- Select Message Type --</option>
                        <option value="Line">Line</option>
                        <option value="Popup">Popup</option>
                        <option value="Line Popup">Line + Popup</option>
                    </select>
                    <input type="hidden" id="nodeid" class="form-control" />
                    <input type="hidden" id="ptransportidpopup" />
                    <input type="hidden" id="hidInfomessageActivitiesName" />
                </div>
                <label for="lblInfomessageIcontype" class="control-label col-lg-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(357);"><span class="fa fa-question-circle"></span></a>&nbsp;Icon Type </label>
                <div class="col-lg-4">
                    <select name="sltInfomessageIcontype" id="sltInfomessageIcontype" ng-model="IMMCIconType" ng-options="item.infoMessageIconTypeId as item.infoMessageIconTypeName for item in infomessageicontype  track by item.infoMessageIconTypeId" class="form-control">
                        <option value="" selected>-- Select Icon Type --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblInfomessageTitle" class="control-label col-lg-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(359);"><span class="fa fa-question-circle"></span></a>&nbsp;Title </label>
                <div class="col-lg-4">
                    <textarea id="txtInfomessageTitle"></textarea>
                </div>
                <label for="lblInfomessageMessagecontent" class="control-label col-lg-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(360);"><span class="fa fa-question-circle"></span></a> &nbsp;Message Content</label>
                <div class="col-lg-4">
                    <textarea id="txtInfomessageMessagecontent" class="form-control"></textarea>
                </div>

                @*<label for="lblInfomessageTitlestyle" class="control-label col-lg-2">Title Font Style</label>
                    <div class="col-lg-4">
                        <select name="sltInfomessageTitlestyle" id="sltInfomessageTitlestyle" class="form-control">
                            <option value="">-- Select Title Style --</option>
                            <option value="Regular" selected>Regular</option>
                            <option value="Bold">Bold</option>
                            <option value="Underline">Underline</option>
                            <option value="Bold & Underline">Bold & Underline</option>
                        </select>
                    </div>*@
            </div>
            <div class="form-group">
                <label for="lblInsertSavedMsg" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(361);"><span class="fa fa-question-circle"></span></a>&nbsp;Insert Saved Values To Title </label>
                <div class="col-lg-4">
                    <select name="sltIMInsertSavedValue" id="sltIMInsertSavedValue" ng-model="IMInsertSavedValues" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Saved Value --</option>
                    </select>
                </div>
                <label for="lblInsertSavedMsg" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(363);"><span class="fa fa-question-circle"></span></a>&nbsp;Insert Saved Values To Message Content </label>
                <div class="col-lg-4">
                    <select name="sltIMMCInsertSavedValue" id="sltIMMCInsertSavedValue" ng-model="IMMCInsertSavedValues" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Saved Value --</option>
                    </select>
                </div>
            </div>
            @*<div class="form-group">

                    <label for="lblInfomessageFontstyle" class="control-label col-lg-2">Font Style</label>
                    <div class="col-lg-4">
                        <select name="sltInfomessageFontstyle" id="sltInfomessageFontstyle" class="form-control">
                            <option value="">-- Select Font Style --</option>
                            <option value="Regular">Regular</option>
                            <option value="Bold">Bold</option>
                            <option value="Underline">Underline</option>
                            <option value="Bold & Underline">Bold & Underline</option>
                        </select>
                    </div>
                </div>*@
            <div class="form-group">
                <label for="lblIMcommnet" class="control-label col-lg-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(365);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                <div class="col-lg-4">
                    <textarea id="txtInfomessageComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#imconditiondiv">[&nbsp;<i id="iInfoMessageCondition" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span><hr class="accordion-hr" />
        <div id="imconditiondiv" class="collapse">
            <div class="form-group">
                <label for="lblInfomessageValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(367);"><span class="fa fa-question-circle"></span></a>&nbsp;Value </label>
                <div class="col-sm-4">
                    <select name="sltInfomessageItem" id="sltInfomessageItem" ng-model="Infomessagevalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control">
                        @*<option value="" selected>--Select Value--</option>*@
                    </select>
                </div>
                <label for="lblInfomessageConditionSavedValue" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(369);"><span class="fa fa-question-circle"></span></a>&nbsp;Condition Saved Value</label>
                <div class="col-sm-4">
                    <select name="sltInfomessageConditionSavedValue" id="sltInfomessageConditionSavedValue" ng-model="InfomessageConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Condition Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblInfomessageCompareMethod" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(371);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Method </label>
                <div class="col-sm-4">
                    <select name="sltInfomessageCompareMethod" id="sltInfomessageCompareMethod" ng-model="InfomessageCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in infoMessageCompareMethod  track by item.compareMethodId" class="form-control">
                        <option value="" selected>-- Select Compare Method --</option>
                    </select>
                </div>
                <label for="lblInfomessageCompareTo" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(373);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To </label>
                <div class="col-sm-4">
                    <select name="sltInfomessageCompareTo" id="sltInfomessageCompareTo" ng-model="InfomessageCompareTo" ng-options="item.compareToId as item.compareToDesc for item in infomessagecompareto  track by item.compareToId" class="form-control">
                        <option value="" selected>-- Select Compare To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblInfomessageComparetoSavedValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(375);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare to Saved Value </label>
                <div class="col-sm-4">
                    <select name="sltInfomessageComparetoSavedValue" id="sltInfomessageComparetoSavedValue" ng-model="InfomessageCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Compare  to Saved Value --</option>
                    </select>
                </div>
                <label for="lblInfomessageComparetoFixedText" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(377);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare to Fixed Text </label>
                <div class="col-sm-4">
                    <input type="text" maxlength="100" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtInfomessageComparetoFixedText" name="txtInfomessageComparetoFixedText" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
        <button type="submit" class="btn btn-primary" style="display:none;">Save</button>
    <!-- /.box-footer -->
</form>
<style>

    p {
        margin-bottom: 0px !important;
        margin-top: 5px !important;
    }
</style>
