﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmInfomessage" class="form-horizontal" ng-submit="PropertysaveInfomessageClick()">
    <div class="box-body col-sm-12 col-md-12 col-lg-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#impdetailsdiv">[&nbsp;<i id="iInfoMessagePDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>

        <hr class="accordion-hr" />
        <div id="impdetailsdiv" class="collapse in">
            <div class="form-group">
                <input type="hidden" id="txtpInfomessageName" class="form-control" />
                <label for="lblpInfomessageMessagetype" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(355);"><span class="fa fa-question-circle"></span></a>&nbsp;Message Type </label>
                <div class="col-lg-8">
                    <select name="sltpInfomessageMessagetype" id="sltpInfomessageMessagetype" class="form-control">
                        <option value="">-- Select Message Type --</option>
                        <option value="Line">Line</option>
                        <option value="Popup">Popup</option>
                        <option value="Line Popup">Line + Popup</option>
                    </select>
                    <input type="hidden" id="pInfomessagenodeid" class="form-control" />
                    <input type="hidden" id="pInfomessagetransportidpopup" />
                    <input type="hidden" id="InfomessageId" />
                    <input type="hidden" id="hidpInfomessageActivitiesName" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpInfomessageIcontype" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(357);"><span class="fa fa-question-circle"></span></a>&nbsp;Icon Type </label>
                <div class="col-lg-8">
                    <select name="sltpInfomessageIcontype" id="sltpInfomessageIcontype" ng-model="IMMCIconType" ng-options="item.infoMessageIconTypeId as item.infoMessageIconTypeName for item in infomessageicontype  track by item.infoMessageIconTypeId" class="form-control">
                        <option value="" selected>-- Select Icon Type --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpInfomessageTitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(359);"><span class="fa fa-question-circle"></span></a>&nbsp;Title </label>
                <div class="col-lg-8">
                    <textarea id="txtpInfomessageTitle" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="lblInsertSavedMsg" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(361);"><span class="fa fa-question-circle"></span></a>&nbsp;Insert Saved Values To Title </label>
                <div class="col-lg-8">
                    <select name="sltIMpInsertSavedValue" id="sltIMpInsertSavedValue" ng-model="IMpInsertSavedValues" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpInfomessageMessagecontent" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(360);"><span class="fa fa-question-circle"></span></a> &nbsp;Message Content</label>
                <div class="col-lg-8">
                    <textarea id="txtpInfomessageMessagecontent" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="lblInsertSavedMsg" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(363);"><span class="fa fa-question-circle"></span></a>&nbsp;Insert Saved Values To Message Content </label>
                <div class="col-lg-8">
                    <select name="sltIMMCpInsertSavedValue" id="sltIMMCpInsertSavedValue" ng-model="IMMCpInsertSavedValues" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpInfomessageMessagecontent" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(365);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                <div class="col-lg-8">
                    <textarea id="txtpInfomessageComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>
        </div>
        <br />
        <span class="collapsebutton" data-toggle="collapse" data-target="#impconditiondiv">[&nbsp;<i id="iInfoMessagePCondition" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span><hr class="accordion-hr" />
        <div id="impconditiondiv" class="collapse">
            <div class="form-group">
                <label for="lblPInfomessageValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(367);"><span class="fa fa-question-circle"></span></a>&nbsp;Value </label>
                <div class="col-lg-8">
                    <select name="sltPInfomessageItem" id="sltPInfomessageItem" ng-model="PInfomessagevalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control"></select>
                </div>
            </div>

            <div class="form-group">
                <label for="lblPInfomessageConditionSavedValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(369);"><span class="fa fa-question-circle"></span></a>&nbsp;Condition Saved Value </label>
                <div class="col-lg-8">
                    <select name="sltPInfomessageConditionSavedValue" id="sltPInfomessageConditionSavedValue" ng-model="PInfomessageConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Condition Saved Value --</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="lblPInfomessageCompareMethod" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(371);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Method </label>
                <div class="col-lg-8">
                    <select name="sltPInfomessageCompareMethod" id="sltPInfomessageCompareMethod" ng-model="PInfomessageCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in infoMessagePCompareMethod  track by item.compareMethodId" class="form-control">
                        <option value="" selected>-- Select Compare Method --</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="lblPInfomessageCompareTo" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(373);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To </label>
                <div class="col-lg-8">
                    <select name="sltPInfomessageCompareTo" id="sltPInfomessageCompareTo" ng-model="PInfomessageCompareTo" ng-options="item.compareToId as item.compareToDesc for item in infomessagepcompareto  track by item.compareToId" class="form-control">
                        <option value="" selected>-- Select Compare To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPInfomessageComparetoSavedValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(375);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare to Saved Value</label>
                <div class="col-lg-8">
                    <select name="sltPInfomessageComparetoSavedValue" id="sltPInfomessageComparetoSavedValue" ng-model="PInfomessageCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Compare  to Saved Value --</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="lblPInfomessageComparetoFixedText" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(377);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare to Fixed Text</label>
                <div class="col-lg-8">
                    <input type="text" maxlength="100" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtPInfomessageComparetoFixedText" name="txtPInfomessageComparetoFixedText" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <!-- /.box-footer -->
    @if ((Previlage.Contains("QPUIMP") && LayoutStatusPrevilage.Contains("QPUIMP")) || RoleWithLayoutStatusPrevilage.Contains("QPUIMP"))
    {
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:9px;display:none">Update</button>
    }
</form>
