﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="Propertyfrmpallets" class="form-horizontal" ng-submit="Propertysavepallets()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div class="form-group">
            <label for="lblpalletspTitle" class="control-label col-lg-4">Title</label>
            <div class="col-lg-8">
                <input type="text" maxlength="20" onkeypress="return blockSpecialChar(event)" id="txtpalletspTitle" name="txtpalletspTitle" class="form-control" />
                <input type="hidden" id="ppalletsId" class="drop" />

                <input type="hidden" id="ppalletsnodeid" class="drop" />
                <input type="hidden" id="ppalletstransportidpopup" />
            </div>

        </div>
        <div class="form-group">
            <label for="lblpalletspAlternativetextonPlacelevel" class="control-label col-lg-4">Alternative Text on Place Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtpalletspAlternativetextonPlacelevel" name="txtpalletspAlternativetextonPlacelevel" class="form-control" />
            </div>

        </div>
        <div class="form-group">
            <label for="lblpalletspAlternativetextonJoblevel" class="control-label col-lg-4">Alternative Text on Job Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtpalletspAlternativetextonJoblevel" name="txtpalletspAlternativetextonJoblevel" class="form-control" />
            </div>

        </div>
        <div class="form-group">
            <label for="lblpalletspAlternativetextonproductlevel" class="control-label col-lg-4">Alternative Text on Product Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtpalletspAlternativetextonproductlevel" name="txtpalletspAlternativetextonproductlevel" class="form-control" />
            </div>

        </div>
    </div>
    @if ((Previlage.Contains("QPFP") && LayoutStatusPrevilage.Contains("QPFP")) || RoleWithLayoutStatusPrevilage.Contains("QPFP"))
    {
        <div class="box-footer" align="center">
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:20px; margin-bottom:10px;">Update</button>
        </div>
    }
    <div class="clearfix"></div>
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div id="Palletsproperties"></div>
    </div>

</form>
