﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyPicure" class="form-horizontal" ng-submit="PropertysavePicure()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div class="form-group">
            <label for="lblPicturepTitle" class="control-label col-lg-4">Title</label>
            <div class="col-lg-8">
                <input type="text" maxlength="20" onkeypress="return blockSpecialChar(event)" id="txtPicturepTitle" name="txtPicturepTitle" class="form-control" />
                <input type="hidden" id="pFlexId" class="drop" />

                <input type="hidden" id="pPicturenodeid" class="drop" />
                <input type="hidden" id="pPictureId" />
            </div>
        </div>
        <div class="form-group">
            <label for="lblPicturepAlternativetextonPlacelevel" class="control-label col-lg-4">Alternative Text on Place Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtPicturepAlternativetextonPlacelevel" name="txtPicturepAlternativetextonPlacelevel" class="form-control" />
            </div>

        </div>
        <div class="form-group">
            <label for="lblPicturepAlternativetextonJoblevel" class="control-label col-lg-4">Alternative Text on Job Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtPicturepAlternativetextonJoblevel" name="txtPicturepAlternativetextonJoblevel" class="form-control" />
            </div>

        </div>
        <div class="form-group">
            <label for="lblPicturepAlternativetextonproductlevel" class="control-label col-lg-4">Alternative Text on Product Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtPicturepAlternativetextonproductlevel" name="txtPicturepAlternativetextonproductlevel" class="form-control" />
            </div>
        </div>
    </div>
    @if ((Previlage.Contains("QPFPIC") && LayoutStatusPrevilage.Contains("QPFPIC")) || RoleWithLayoutStatusPrevilage.Contains("QPFPIC"))
    {
        <div class="box-footer" align="center">
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:9px">Update</button>
        </div>
    }
    <div class="clearfix"></div>
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div id="Picureproperties"></div>
    </div>

</form>
