﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmPlanningselect" class="form-horizontal" ng-submit="PropertysavePlanningselectClick()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#pspdetailsdiv">[&nbsp;<i id="iPPSDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>
        <hr class="accordion-hr" />
        <div id="pspdetailsdiv" class="collapse in">
            <div class="form-group">
                <label for="lblPlanningselectpTitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(292);"><span class="fa fa-question-circle"></span></a>&nbsp;Title <span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <input type="text" maxlength="35" id="txtpPlanningselectTitle" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectpPlanninglevel" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(293);"><span class="fa fa-question-circle"></span></a>&nbsp;Planning Level </label>
                <div class="col-lg-8">
                    <select name="sltPlanningselectpPlanninglevel" id="sltPlanningselectpPlanninglevel" class="form-control" ng-model="ppplanninglevel" ng-options="item.planningfeedback as item.planningfeedback for item in PlanningLevelDashbord  track by item.planningfeedback">
                        <option value="">-- Select Planning Level --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectpPlanningspecific" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(295);"><span class="fa fa-question-circle"></span></a>&nbsp;Planning Specific<span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <select name="sltPlanningselectpPlanningspecific" id="sltPlanningselectpPlanningspecific" class="form-control">
                        <option value="">-- Select Planning specific --</option>
                        <option value="Places of current activity" ng-show="actRegPlanning == 'Receive'">Places of current activity</option>
                        <option value="All places">All places</option>
                        <option value="Places of other activity">Places of other activity</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectpChooseactivity" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(297);"><span class="fa fa-question-circle"></span></a>&nbsp;Choose Activity </label>
                <div class="col-lg-8">
                    <input type="text" id="pChooseactivity" />
                </div>
                <input type="hidden" id="pPlanningselectnodeid" class="form-control" />
                <input type="hidden" id="pPlanningselecttransportidpopup" />
                <input type="hidden" id="PlanningselectId" />
            </div>
            <div class="form-group">
                <label for="lblPlanningselectpOther" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(298);"><span class="fa fa-question-circle"></span></a>&nbsp;Other </label>
                <div class="col-lg-8">
                    <select name="sltPlanningselectpOther" id="sltPlanningselectpOther" class="form-control">
                        <option value="Driver entry (A50)" selected>Driver entry (A50)</option>
                        <option value="Fixed value">Fixed value</option>
                        <option value="QP (save to DriverCreated)">QP (save to DriverCreated)</option>
                        <option value="No other">No other</option>
                        <option value="No other Driver entry (A50)">No other + Driver entry (A50)</option>
                        <option value="No other Fixed value">No other + Fixed value</option>
                        <option value="No other QP (save to DriverCreated)">No other + QP (save to DriverCreated)</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectpOtherTitle" id="lblPlanningselectpOtherTitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(299);"><span class="fa fa-question-circle"></span></a>&nbsp;Other Title  </label>
                <div class="col-lg-8">
                    <input type="text" id="txtPlanningselectpOtherTitle" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" maxlength="35" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectpOtherMaskText" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(300);"><span class="fa fa-question-circle"></span></a>&nbsp;Other Mask Text </label>
                <div class="col-lg-8">
                    <input type="text" id="txtPlanningselectpMasktext" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" maxlength="35" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectpStartselecteditem" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(292);"><span class="fa fa-question-circle"></span></a>&nbsp;Start Selected Item </label>
                <div class="col-lg-8">
                    <input type="checkbox" class="dropDownCB" id="chkPlanningselectpStartselecteditem" checked />
                </div>
            </div>
            @*<div class="form-group">
                    <label for="lblPlanningselectpStartSelection" class="control-label col-lg-4">Selection Method</label>
                    <div class="col-lg-8">
                        <select name="sltPlanningselectpStartSelection" id="sltPlanningselectpStartSelection" class="form-control">
                            <option value="">-- Select Start Selection --</option>
                            <option value="None" selected>None</option>
                            <option value="Optional">Optional</option>
                            <option value="All items mandatory">All items mandatory</option>
                            <option value="Multiple items optional">Multiple items optional</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblPlanningselectpCheckOffPlanning" class="control-label col-lg-4">Check Off Planning</label>
                    <div class="col-lg-8">
                        <select name="sltPlanningselectpCheckOffPlanning" id="sltPlanningselectpCheckOffPlanning" class="form-control">
                            <option value="">-- Select Check Off Planning --</option>
                            <option value="No default" selected>No default</option>
                            <option value="Automatically at end of QP">Automatically at end of QP</option>
                            <option value="Default Yes / No option">Default Yes / No option</option>
                        </select>
                    </div>
                </div>*@
            @*<div class="form-group">
                    <label for="lblPlanningselectpFixedvalue" class="control-label col-lg-4">Fixed Value</label>
                    <div class="col-lg-8">
                        <input type="text" id="txtPlanningselectpFixedvalue" maxlength="50" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    </div>
                </div>*@
            <div class="form-group">
                <label for="lblPPlanningSelectionMethod" class="control-label col-sm-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(691);"><span class="fa fa-question-circle"></span></a>&nbsp;Planning Selection Method </label>
                <div class="col-sm-8">
                    <select name="sltPPlanningSelectionMethod" id="sltPPlanningSelectionMethod" class="form-control">
                        <option value="Default" selected>Default</option>
                        <option value="All items mandatory">All items mandatory</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpComment" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(302);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                <div class="col-lg-8">
                    <textarea id="txtpPlanningSelectComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#pspfilterdiv">[&nbsp;<i id="iPPSFilter" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Filter</b></span><hr class="accordion-hr" />
        <div id="pspfilterdiv" class="collapse">
            <div class="form-group">
                <label for="lblPlanningselectpFilterLoadedPlanning" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(304);"><span class="fa fa-question-circle"></span></a>&nbsp;Filter Loaded Planning </label>
                <div class="col-lg-8">
                    <select name="sltPlanningselectpFilterLoadedPlanning" id="sltPlanningselectpFilterLoadedPlanning" class="form-control" ng-model="FilterLoadedPlanningdas" ng-options="item.filterId as item.filterDesc for item in filterloadedplanning  track by item.filterId"></select>
                </div>
            </div>

            <div class="form-group">
                <label for="lblPlanningselectCompareMethod" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(305);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Method </label>
                <div class="col-lg-8">
                    <select name="sltPlanningselectpCompareMethod" id="sltPlanningselectpCompareMethod" class="form-control" ng-model="PPalanningSelectCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in CompareMethodWithSavedValue  track by item.compareMethodId">
                        <option value="" selected>-- Select Compare Method --</option>

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectpCompareTo" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(307);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To </label>
                <div class="col-lg-8">
                    <select name="sltPlanningselectpCompareTo" id="sltPlanningselectpCompareTo" class="form-control" ng-model="pPlanningselectCompareTo" ng-options="item.psComparetoId as item.psComparetoDesc for item in filtercompareto  track by item.psComparetoId"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectpCompareToSavedvalues" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(309);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To Saved Value<span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <select name="sltPlanningselectpCompareToSavedvalues" id="sltPlanningselectpCompareToSavedvalues" ng-model="PlanningselectpCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Compare To Saved Value --</option>
                    </select>
                </div>
            </div>
            @*<div class="form-group">
                    <label for="lblPlanningselectpQP" class="control-label col-lg-4">QP</label>
                    <div class="col-lg-8">
                        <input type="text" id="txtPlanningselectpQP" class="form-control" maxlength="35" />
                    </div>
                </div>*@

        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#pspreadoutdiv">[&nbsp;<i id="iPPSReadOut" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Readout</b></span><hr class="accordion-hr" />
        <div id="pspreadoutdiv" class="collapse">
            <div class="form-group">
                <input type="hidden" id="hidPlanningSelectReadoutDetailId" />
                <label for="lblPlanningselectpReadOutValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(312);"><span class="fa fa-question-circle"></span></a>&nbsp;Readout Value </label>
                <div class="col-lg-8">
                    <input type="text" id="sltPlanningselectpReadOutValue" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectpConfigID" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(313);"><span class="fa fa-question-circle"></span></a>&nbsp;Config ID </label>
                <div class="col-lg-8">
                    <input min="0" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtPlanningselectpConfigID" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectpCommentID" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(314);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment ID </label>
                <div class="col-lg-8">
                    <input min="0" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtPlanningselectpCommentID" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectpReadOutRange" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(315);"><span class="fa fa-question-circle"></span></a>&nbsp;Readout Range </label>
                <div class="col-lg-8">
                    <select name="sltPlanningselectpReadOutRange" id="sltPlanningselectpReadOutRange" class="form-control">
                        <option value="">-- Select ReadOut Range --</option>
                        <option value="Complete" selected>Complete</option>
                        <option value="Part">Part</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="lblPlanningselectpStartChar" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(317);"><span class="fa fa-question-circle"></span></a>&nbsp;Start Char </label>
                <div class="col-lg-8">
                    <input min="1" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtPlanningselectpStartChar" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectpLength" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(318);"><span class="fa fa-question-circle"></span></a>&nbsp;Length </label>
                <div class="col-lg-8">
                    <input min="1" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtPlanningselectpLength" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectpSaveTo" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(319);"><span class="fa fa-question-circle"></span></a>&nbsp;Save To </label>
                <div class="col-lg-8">
                    <input type="text" tabindex="1" id="sltPlanningSelectpSaveto" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectpReadoutexample" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(321);"><span class="fa fa-question-circle"></span></a>&nbsp;Readout Example</label>
                <div class="col-lg-8">
                    <input type="text" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtPlanningselectpReadoutexample" class="form-control" />
                </div>
            </div>
            @if ((Previlage.Contains("QPUPSP") && LayoutStatusPrevilage.Contains("QPUPSP")) || RoleWithLayoutStatusPrevilage.Contains("QPUPSP"))
            {
                <div class="form-group" style="text-align:center;">
                    <button type="button" id="btnpaddreadout" ng-click="addPlanningSelectpReadout()" class="btn btn-primary" uib-tooltip="Add Readout"><span style="color:white;padding-right:5px" class="fa fa-plus"></span>Add Readout</button>
                    <button type="button" style="display:none;" id="btnpupdatereadout" ng-click="updatePlanningSelectpReadout()" class="btn btn-primary" uib-tooltip="Update Readout"><span style="color:white;padding-right:5px" class="fa fa-pencil"></span>Update Readout</button>
                    <button type="button" style="display:none;" id="btnpcancelreadout" ng-click="cancelPlanningSelectpReadout()" class="btn" uib-tooltip="Cancel Readout"><span style="color:white;padding-right:5px" class="fa fa-close"></span>Cancel</button>
                </div>
            }
            <div class="form-group">
                <div id="pReadoutDetail" style="border-radius:5px;">
                </div>
                <script type="text/ng-template" id="pDelete">
                    @if ((Previlage.Contains("QPPSDRO") && LayoutStatusPrevilage.Contains("QPPSDRO")) || RoleWithLayoutStatusPrevilage.Contains("QPPSDRO"))
                    {
                        <a class="fa fa-trash" data="{{:planningSelectReadoutDetailId}}" name="eidtdata" id="{{:planningSelectReadoutDetailId}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Delete"></a>
                    }
                    &nbsp; &nbsp; &nbsp;
                    @if ((Previlage.Contains("QPPSERO") && LayoutStatusPrevilage.Contains("QPPSERO")) || RoleWithLayoutStatusPrevilage.Contains("QPPSERO"))
                    {
                        <a class="fa fa-pencil-square" data="{{:planningSelectReadoutDetailId}}" name="eidtdata" id="{{:planningSelectReadoutDetailId}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Edit"></a>
                    }
                </script>
            </div>
        </div>
    </div>
    @if ((Previlage.Contains("QPUPSP") && LayoutStatusPrevilage.Contains("QPUPSP")) || RoleWithLayoutStatusPrevilage.Contains("QPUPSP"))
    {
        <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:9px;display:none;">Update</button>
    }
</form>