﻿<form novalidate name="frmPlanningselect" class="form-horizontal" style="padding:20px !important;margin-top:-35px" ng-submit="savePlanningselectClick()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#psdetailsdiv">[&nbsp;<i id="iPSDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span><hr class="accordion-hr" />
        <div id="psdetailsdiv" class="collapse in">
            <div class="form-group">
                <label for="lblPlanningselectTitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(292);"><span class="fa fa-question-circle"></span></a>&nbsp;Title <span class="errorfont"> *</span></label>
                <div class="col-sm-4">
                    <input type="text" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtPlanningselectTitle" class="form-control" />

                </div>
                <label for="lblPlanningselectPlanninglevel" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(293);"><span class="fa fa-question-circle"></span></a>&nbsp;Planning Level </label>
                <div class="col-sm-4">
                    <select name="sltPlanningselectPlanninglevel" id="sltPlanningselectPlanninglevel" class="form-control" ng-model="pplanninglevel" ng-options="item.planningfeedback as item.planningfeedback for item in PlanningLevelDashbord  track by item.planningfeedback">
                        <option value="">-- Select Planning Level --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectPlanningspecific" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(295);"><span class="fa fa-question-circle"></span></a>&nbsp;Planning Specific <span class="errorfont"> *</span></label>
                <div class="col-sm-4">
                    <select name="sltPlanningselectPlanningspecific" id="sltPlanningselectPlanningspecific" class="form-control">
                        <option value="">-- Select Planning specific --</option>
                        <option value="Places of current activity" ng-show="actRegPlanning == 'Receive'">Places of current activity</option>
                        <option value="All places">All places</option>
                        <option value="Places of other activity">Places of other activity</option>
                    </select>
                </div>
                <label for="lblPlanningselectChooseactivity" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(297);"><span class="fa fa-question-circle"></span></a>&nbsp;Choose Activity </label>
                <div class="col-sm-4">
                    <input type="text" id="Chooseactivity" />
                </div>
                <input type="hidden" id="nodeid" class="form-control" />
                <input type="hidden" id="ptransportidpopup" />
            </div>
            <div class="form-group">
                <label for="lblPlanningselectOther" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(298);"><span class="fa fa-question-circle"></span></a>&nbsp;Other </label>
                <div class="col-sm-4">
                    <select name="sltPlanningselectOther" id="sltPlanningselectOther" class="form-control">
                        <option value="Driver entry (A50)" selected>Driver entry (A50)</option>
                        <option value="Fixed value">Fixed value</option>
                        <option value="QP (save to DriverCreated)">QP (save to DriverCreated)</option>
                        <option value="No other">No other</option>
                        <option value="No other Driver entry (A50)">No other + Driver entry (A50)</option>
                        <option value="No other Fixed value">No other + Fixed value</option>
                        <option value="No other QP (save to DriverCreated)">No other + QP (save to DriverCreated)</option>
                    </select>
                </div>
                <label for="lblPlanningselectOtherTitle" id="lblPlanningselectOtherTitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(299);"><span class="fa fa-question-circle"></span></a>&nbsp;Other Title </label>
                <div class="col-sm-4">
                    <input type="text" id="txtPlanningselectOtherTitle" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />

                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectMasktext" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(300);"><span class="fa fa-question-circle"></span></a> &nbsp;Other Mask Text</label>
                <div class="col-sm-4">
                    <input type="text" id="txtPlanningselectMasktext" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
                <label for="lblPlanningselectStartselecteditem" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(301);"><span class="fa fa-question-circle"></span></a>&nbsp;Start Selected Item </label>
                <div class="col-sm-4">
                    <input type="checkbox" class="dropDownCB pull-left" id="chkPlanningselectStartselecteditem" checked />
                </div>
            </div>
            @*<div class="form-group">
                <label for="lblPlanningselectStartSelection" class="control-label col-sm-2">Selection Method</label>
                <div class="col-sm-4">
                    <select name="sltPlanningselectStartSelection" id="sltPlanningselectStartSelection" class="form-control">
                        <option value="">-- Select Start Selection --</option>
                        <option value="None" selected>None</option>
                        <option value="Optional">Optional</option>
                        <option value="All items mandatory">All items mandatory</option>
                        <option value="Multiple items optional">Multiple items optional</option>
                    </select>
                </div>
                <label for="lblPlanningselectCheckOffPlanning" class="control-label col-sm-2">Check Off Planning</label>
                <div class="col-sm-4">
                    <select name="sltPlanningselectCheckOffPlanning" id="sltPlanningselectCheckOffPlanning" class="form-control">
                        <option value="">-- Select Check Off Planning --</option>
                        <option value="No default" selected>No default</option>
                        <option value="Automatically at end of QP">Automatically at end of QP</option>
                        <option value="Default Yes / No option">Default Yes / No option</option>
                    </select>
                </div>
            </div>*@
            @*<div class="form-group">
                <label for="lblPlanningselectFixedvalue" class="control-label col-sm-2">Fixed Value</label>
                <div class="col-sm-4">
                    <input type="text" id="txtPlanningselectFixedvalue" maxlength="50" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
            </div>*@
            <div class="form-group">
                <label for="lblPlanningSelectionMethod" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(691);"><span class="fa fa-question-circle"></span></a> &nbsp;Planning Selection Method</label>
                <div class="col-sm-4">
                    <select name="sltPlanningSelectionMethod" id="sltPlanningSelectionMethod" class="form-control">
                        <option value="Default" selected>Default</option>
                        <option value="All items mandatory">All items mandatory</option>
                    </select>
                </div>
                <label for="lblComment" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(302);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                <div class="col-sm-4">
                    <textarea id="txtPlanningSelectComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#psfilterdiv">[&nbsp;<i id="iPSFilter" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Filter</b></span><hr class="accordion-hr" />
        <div id="psfilterdiv" class="collapse">
            <div class="form-group">
                <label for="lblPlanningselectFilterLoadedPlanning" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(304);"><span class="fa fa-question-circle"></span></a>&nbsp;Filter Loaded Planning </label>
                <div class="col-sm-4">
                    <select name="sltPlanningselectFilterLoadedPlanning" id="sltPlanningselectFilterLoadedPlanning" class="form-control" ng-model="FilterLoadedPlanningdas" ng-options="item.filterId as item.filterDesc for item in filterloadedplanning  track by item.filterId"></select>
                </div>
                <label for="lblPlanningselectCompareMethod" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(305);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Method </label>
                <div class="col-sm-4">
                    <select name="sltPlanningselectCompareMethod" id="sltPlanningselectCompareMethod" class="form-control" ng-model="PalanningSelectCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in CompareMethodWithSavedValue  track by item.compareMethodId">
                        <option value="" selected>-- Select Compare Method --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectCompareTo" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(307);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To </label>
                <div class="col-sm-4">
                    <select name="sltPlanningselectCompareTo" id="sltPlanningselectCompareTo" class="form-control" ng-model="PlanningselectCompareTo" ng-options="item.psComparetoId as item.psComparetoDesc for item in filtercompareto  track by item.psComparetoId">
                        <option value="" selected>-- Select Compare To --</option>
                    </select>
                </div>
                <label for="lblPlanningselectCompareToSavedvalues" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(309);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To Saved Value <span class="errorfont"> *</span></label>
                <div class="col-sm-4">
                    <select name="sltPlanningselectCompareToSavedvalues" id="sltPlanningselectCompareToSavedvalues" ng-model="PlanningselectCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Compare To Saved Value --</option>
                    </select>
                </div>
            </div>
            @*<div class="form-group">
                <label for="lblPlanningselectQP" class="control-label col-sm-2">QP</label>
                <div class="col-sm-4">
                    <input type="text" id="txtPlanningselectQP" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
            </div>*@
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#psreadoutdiv">[&nbsp;<i id="iPSReadOut" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Readout</b></span><hr class="accordion-hr" />
        <div id="psreadoutdiv" class="collapse in">
            <div class="form-group">
                <input type="hidden" id="hidreadoutDetailId" />
                <input type="hidden" id="hidtokenId" />
                <label for="lblPlanningselectReadOutValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(312);"><span class="fa fa-question-circle"></span></a>&nbsp;Readout Value </label>
                <div class="col-sm-4">
                    <input type="text" id="sltPlanningselectReadOutValue" />
                </div>
                <label for="lblPlanningselectConfigID" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(313);"><span class="fa fa-question-circle"></span></a>&nbsp;Config ID </label>
                <div class="col-sm-4">
                    <input min="0" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtPlanningselectConfigID" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectCommentID" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(314);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment ID </label>
                <div class="col-sm-4">
                    <input min="0" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" ng-blur="blurPlanningselectCommentID()" id="txtPlanningselectCommentID" class="form-control" />
                </div>
                <label for="lblPlanningselectReadOutRange" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(315);"><span class="fa fa-question-circle"></span></a>&nbsp;Readout Range </label>
                <div class="col-sm-4">
                    <select name="sltPlanningselectReadOutRange" id="sltPlanningselectReadOutRange" class="form-control">
                        <option value="">-- Select ReadOut Range --</option>
                        <option value="Complete" selected>Complete</option>
                        <option value="Part">Part</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPlanningselectStartChar" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(317);"><span class="fa fa-question-circle"></span></a>&nbsp;Start Char </label>
                <div class="col-sm-4">
                    <input min="1" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtPlanningselectStartChar" class="form-control" />
                </div>
                <label for="lblPlanningselectLength" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(318);"><span class="fa fa-question-circle"></span></a>&nbsp;Length </label>
                <div class="col-sm-4">
                    <input min="1" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtPlanningselectLength" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                @*<label for="lblPSSave" class="control-label col-sm-2">Save</label>
                <div class="col-sm-4">
                    <input type="checkbox" class="dropDownCB" id="chkplanningselectsave" ng-click="planningselectsavecheckbox()" />
                </div>*@
                <label for="lblPSSaveto" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(319);"><span class="fa fa-question-circle"></span></a>&nbsp;Save To </label>
                <div class="col-sm-4">
                    <input type="text" tabindex="1" id="sltPlanningSelectSaveto" />
                </div>
                <label for="lblPlanningselectReadoutexample" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(321);"><span class="fa fa-question-circle"></span></a>&nbsp;Readout Example </label>
                <div class="col-sm-4">
                    <input type="text" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtPlanningselectReadoutexample" class="form-control" />
                </div>
            </div>
            <div class="form-group" style="text-align:center;">
                <button type="button" id="btnaddreadout" ng-click="addPlanningSelectReadout()" class="btn btn-primary" uib-tooltip="Add Readout"><span style="color:white;padding-right:5px" class="fa fa-plus"></span>Add Readout</button>
                <button type="button" style="display:none;" id="btnupdatereadout" ng-click="updatePlanningSelectReadout()" class="btn btn-primary" uib-tooltip="Update Readout"><span style="color:white;padding-right:5px" class="fa fa-pencil"></span>Update Readout</button>
                <button type="button" style="display:none;" id="btncancelreadout" ng-click="cancelPlanningSelectReadout()" class="btn" uib-tooltip="Cancel Readout"><span style="color:white;padding-right:5px" class="fa fa-close"></span>Cancel</button>
            </div>
            <div class="form-group">
                <div id="ReadoutDetail" style="border-radius:5px;">
                </div>
                <script type="text/ng-template" id="Delete">
                    <a class="fa fa-trash-o deletereadout" data="{{:readoutDetailId}}" name="eidtdata" id="{{:readoutDetailId}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Delete"></a>
                    &nbsp;&nbsp;&nbsp;
                    <a class="fa fa-pencil-square-o editreadout" data="{{:readoutDetailId}}" name="eidtdata" id="{{:readoutDetailId}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Edit"></a>
                </script>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
        <button type="submit" class="btn btn-primary" style="display:none;">Save</button>
    <!-- /.box-footer -->
</form>
