﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmProblem" class="form-horizontal" ng-submit="PropertysaveProblem()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div class="form-group">
            <label for="lblProblempTitle" class="control-label col-lg-4">Title</label>
            <div class="col-lg-8">
                <input type="text" maxlength="20" onkeypress="return blockSpecialChar(event)" id="txtProblempTitle" name="txtProblempTitle" class="form-control" />
                <input type="hidden" id="pProblemId" class="drop" />

                <input type="hidden" id="pProblemnodeid" class="drop" />
                <input type="hidden" id="pProblemtransportidpopup" />
            </div>

        </div>
        <div class="form-group">
            <label for="lblProblempAlternativetextonPlacelevel" class="control-label col-lg-4">Alternative Text on Place Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtProblempAlternativetextonPlacelevel" name="txtProblempAlternativetextonPlacelevel" class="form-control" />
            </div>

        </div>
        <div class="form-group">
            <label for="lblProblempAlternativetextonJoblevel" class="control-label col-lg-4">Alternative Text on Job Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtProblempAlternativetextonJoblevel" name="txtProblempAlternativetextonJoblevel" class="form-control" />
            </div>

        </div>
        <div class="form-group">
            <label for="lblProblempAlternativetextonproductlevel" class="control-label col-lg-4">Alternative Text on Product Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtProblempAlternativetextonproductlevel" name="txtProblempAlternativetextonproductlevel" class="form-control" />
            </div>

        </div>
    </div>
    @if ((Previlage.Contains("QPFPM") && LayoutStatusPrevilage.Contains("QPFPM")) || RoleWithLayoutStatusPrevilage.Contains("QPFPM"))
    {
        <div class="box-footer" align="center">
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:20px; margin-bottom:10px;">Update</button>
        </div>
    }
    <div class="clearfix"></div>
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div id="Problemproperties"></div>
    </div>

</form>
