﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="questionPathComment" class="form-horizontal" ng-submit="saveQuestionPathComment()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div class="form-group">
            <label for="lblQuestionPathComment" class="control-label col-lg-4">Comment</label>
            <div class="col-lg-8">
                <textarea id="txtQuestionPathComment" class="form-control" maxlength="1500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                <input type="hidden" id="pQuestionPathnodeid" class="drop" />
            </div>
        </div>
    </div>
    @if ((Previlage.Contains("DAREB") && LayoutStatusPrevilage.Contains("DAREB")) || RoleWithLayoutStatusPrevilage.Contains("DAREB"))
    {
        <div class="box-footer" align="center">
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:9px">Update</button>
        </div>
    }
</form>
