﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmSetaction" class="form-horizontal" ng-submit="PropertysaveSetactionClick()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#savpdetailsdiv">[&nbsp;<i id="iSAPDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>

        <hr class="accordion-hr" />
        <div id="savpdetailsdiv" class="collapse in">
            <div class="form-group">
                <label for="lblpSetactionTitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(407);"><span class="fa fa-question-circle"></span></a> &nbsp;Set Action / Value Type<span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <select class="form-control" id="sltpSetActionValueType" name="sltpSetActionValueType" ng-model="psetactionvaluetype">
                        <option value="" selected>-- Select Set Action / Value Type --</option>
                        <option ng-repeat="val in setpAvtionValueType" value="{{val.id}}">
                            {{val.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpSetactionTitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(409);"><span class="fa fa-question-circle"></span></a>&nbsp;Title <span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <input type="text" readonly maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtpSetactionTitle" class="form-control" />
                </div>
            </div>
            <div class="form-group divnextqpsavp">
                <label for="lblpSetactionQP" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(411);"><span class="fa fa-question-circle"></span></a>&nbsp;Select QP </label>
                <div class="col-lg-8">
                    <select class="form-control" id="sltpSetactionQP" name="sltpSetactionQP" ng-model="pActivitiesregistrationselect">
                        <option value="" selected>None</option>
                        <option ng-repeat="val in Activitiesregistration" value="{{val.activitiesRegistrationId}}">{{val.activitiesRegistrationName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group divnextqpsavp">
                <label for="lblpSetactionCancelcurrentQP" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(412);"><span class="fa fa-question-circle"></span></a>&nbsp;Cancel Current QP </label>
                <div class="col-lg-8">
                    <input type="checkbox" class="dropDownCB" id="pchkcancelcurrentqp" />
                </div>
                <input type="hidden" id="pSetactionnodeid" class="form-control" />
                <input type="hidden" id="pSetactiontransportidpopup" />
                <input type="hidden" id="SetActionValueId" />
            </div>
            <div class="form-group divnextviewsavp">
                <label for="lblpSetactionSelectView" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(413);"><span class="fa fa-question-circle"></span></a>&nbsp;Select View </label>
                <div class="col-lg-8">
                    <select name="sltpSetactionSelectView" id="sltpSetactionSelectView" class="form-control">
                        <option value="" selected>-- Select View --</option>
                        <option ng-repeat="val in pSetActionNextViewValue" value="{{val.name}}">{{val.name}}</option>
                    </select>
                </div>

            </div>
            <div class="form-group divnextviewsavp divsubnextviewsavp">
                <label for="lbltitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(414);"><span class="fa fa-question-circle"></span></a>&nbsp;Planning ID OBC </label>
                <div class="col-lg-8">
                    <select name="sltpplanningidobc" id="sltpplanningidobc" ng-model="pplanningidobc" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Select Target Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group divnextviewsavp divsubnextviewsavp1">
                <label for="lbltitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(416);"><span class="fa fa-question-circle"></span></a> &nbsp;Longitude</label>
                <div class="col-lg-8">
                    <select name="sltplongitude" id="sltplongitude" ng-model="plongitude" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="">-- Select Select Target Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group divnextviewsavp divsubnextviewsavp1">
                <label for="lbltitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(418);"><span class="fa fa-question-circle"></span></a>&nbsp;Latitude </label>
                <div class="col-lg-8">
                    <select name="sltplatitude" id="sltplatitude" ng-model="platitude" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="">-- Select Select Target Saved Value --</option>
                    </select>
                </div>
            </div>

            <div class="form-group divallowanvesavp">
                <label for="lblpSetactionSelectAllowance" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(420);"><span class="fa fa-question-circle"></span></a> &nbsp;Select Allowance</label>
                <div class="col-lg-8">
                    <select name="sltpSetactionSelectAllowance" id="sltpSetactionSelectAllowance" ng-model="pAllowancesDescriptionselect"
                            ng-options="item.allowancesMasterName as item.allowancesMasterName for item
                        in AllowancesDescription" class="form-control">
                        <option value="" selected>-- Select Allowance --</option>
                    </select>
                </div>
            </div>

            <div class="form-group divinfocolumnsavp">
                <label for="lblpSetactionSelectInfoColumn" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(421);"><span class="fa fa-question-circle"></span></a>&nbsp;Select Info Column </label>
                <div class="col-lg-8">
                    <select name="sltSetactionpSelectInfoColumn" id="sltSetactionpSelectInfoColumn" ng-model="InfoColumnsselectp" ng-options="item.icM_Column_Name as item.icM_Column_Name for item in InfoColumns  track by item.iC_ID" class="form-control">
                        <option value="">-- Select Info Column --</option>
                    </select>
                </div>
            </div>
            <div class="form-group divinfocolumnsavp">
                <label for="lblpSetactionSetReset" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(422);"><span class="fa fa-question-circle"></span></a>&nbsp;Set/Reset </label>
                <div class="col-lg-8">
                    <select name="sltpSetactionSetReset" id="sltpSetactionSetReset" class="form-control">
                        <option value="Set" selected>Set</option>
                        <option value="Reset">Reset</option>
                    </select>
                </div>
            </div>
            @*Divakar*@
            <div class="form-group divinfocolumnsavp divinfocolumnsavedvaluesavp">
                <label for="lbltitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(423);"><span class="fa fa-question-circle"></span></a>&nbsp;Infocolumn Value </label>
                <div class="col-lg-8">
                    <select name="sltSetpropertiesSelectViewp" id="sltSetpropertiesSelectViewp" class="form-control">
                        <option value="" selected>-- Select Properties--</option>
                        <option value="Fixed Text">Fixed Text</option>
                        <option value="Saved Value">Saved Value</option>
                    </select>
                </div>
            </div>
            <div class="form-group divinfocolumnsavp divinfocolumnsavedvaluesavp">
                <label for="lblfixedtext" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(692);"><span class="fa fa-question-circle"></span></a>&nbsp;Fixed Text </label>
                <div class="col-lg-8">
                    <input id="txtpfixedtext" class="form-control" maxlength="50" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" />
                </div>
            </div>
            <div class="form-group divinfocolumnsavp divinfocolumnsavedvaluesavp">
                <label for="lbltitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(704);"><span class="fa fa-question-circle"></span></a>&nbsp;Saved Value </label>
                <div class="col-lg-8">
                    <select name="sltpsavSavedValue" id="sltpsavSavedValue" ng-model="savsavedvalue" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="">-- Select Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group divsavedvaluesavp">
                <label for="lbltitle" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(427);"><span class="fa fa-question-circle"></span></a>&nbsp;Select Target Saved Value</label>
                <div class="col-lg-8">
                    <input type="text" id="sltpsavstSavedValue" class="form-control" />
                </div>
            </div>
            <div class="form-group divsavedvaluesavp">
                <label for="lbltitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(425);"><span class="fa fa-question-circle"></span></a>&nbsp;Value </label>
                <div class="col-lg-8">
                    <select name="sltpSVvalue" id="sltpSVvalue" class="form-control">
                        <option value="" selected>-- Select Value --</option>
                        <option value="Fixed Text">Fixed Text</option>
                        <option value="Copy Saved Value">Copy Saved Value</option>
                        <option value="Empty">Empty</option>
                    </select>
                </div>
                @*<label for="lblpSetactionValue" class="control-label col-lg-4">Value</label>
            <div class="col-lg-8">
                <input id="txtpSetactionValue" class="form-control" maxlength="100" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" />
            </div>*@
            </div>
            <div class="form-group divpfixedtextandsavedvalue">
                <label for="lblSetactionSVFT" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(692);"><span class="fa fa-question-circle"></span></a> &nbsp;Fixed Text</label>
                <div class="col-lg-8">
                    <input id="txtpSetactionFT" class="form-control" maxlength="100" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" />
                </div>
            </div>
            <div class="form-group divpfixedtextandsavedvalue">
                <label for="lbltitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(693);"><span class="fa fa-question-circle"></span></a>&nbsp;Copy Saved Value </label>
                <div class="col-lg-8">
                    <select name="sltpSetactionSV" id="sltpSetactionSV" ng-model="psetactionSV" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="">-- Select Copy Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="divpcopyrange">
                <label for="lblpSAVCopyRange" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(705);"><span class="fa fa-question-circle"></span></a>&nbsp;Copy Range <span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <select name="sltpSAVCopyRange" id="sltpSAVCopyRange" class="form-control">
                        <option value="Complete" selected>Complete</option>
                        <option value="Part">Part</option>
                    </select>
                </div>
            </div>
            <div class="form-group divpcopyrangechar">
                <label for="lblpSAVStartChar" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(706);"><span class="fa fa-question-circle"></span></a>&nbsp;Start Char </label>
                <div class="col-lg-8">
                    <input min="1" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtpSAVStartChar" class="form-control" />
                </div>
            </div>
            <div class="form-group divpcopyrangechar">
                <label for="lblpSAVLength" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(707);"><span class="fa fa-question-circle"></span></a>&nbsp;Length </label>
                <div class="col-lg-8">
                    <input min="1" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtpSAVLength" class="form-control" />
                </div>
            </div>
            <div class="form-group divemptyfullsolosavp">
                <label for="lblsetstate" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(429);"><span class="fa fa-question-circle"></span></a>&nbsp;Select Set State </label>
                <div class="col-lg-8">
                    <select name="sltpsetstate" id="sltpsetstate" class="form-control">
                        <option value="">-- Select Set State --</option>
                        <option value="Empty">Empty</option>
                        <option value="Full">Full</option>
                        <option value="Solo">Solo</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblSAComment" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(410);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                <div class="col-lg-8">
                    <textarea id="txtpSetActionComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#savpconditiondiv">[&nbsp;<i id="iSAPConditions" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span><hr class="accordion-hr" />
        <div id="savpconditiondiv" class="collapse">
            <div class="form-group">
                <label for="lblpSetactionValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(425);"><span class="fa fa-question-circle"></span></a> &nbsp;Item</label>
                <div class="col-lg-8">
                    <select name="sltpSetactionItem" id="sltpSetactionItem" ng-model="pSetactionvalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control">
                        @*<option value="" selected>--Select Value--</option>*@
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpSetactionConditionSavedValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(434);"><span class="fa fa-question-circle"></span></a> &nbsp;Condition Saved Value</label>
                <div class="col-lg-8">
                    <select name="sltpSetactionConditionSavedValue" id="sltpSetactionConditionSavedValue" ng-model="pSetactionConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Condition Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpSetactionCompareMethod" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(436);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Method </label>
                <div class="col-lg-8">
                    <select name="sltpSetactionCompareMethod" id="sltpSetactionCompareMethod" ng-model="pSetactionCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in setActionPCompareMethod  track by item.compareMethodId" class="form-control">
                        <option value="" selected>-- Select Compare Method --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpSetactionCompareTo" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(438);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To </label>
                <div class="col-lg-8">
                    <select name="sltpSetactionCompareTo" id="sltpSetactionCompareTo" ng-model="pSetactionCompareTo" ng-options="item.compareToId as item.compareToDesc for item in setactionvaluepcompareto  track by item.compareToId" class="form-control">
                        <option value="" selected>-- Select Compare To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpSetactionComparetoSavedValue" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(440);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Saved Value</label>
                <div class="col-lg-8">
                    <select name="sltpSetactionComparetoSavedValue" id="sltpSetactionComparetoSavedValue" ng-model="pSetactionCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Compare Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">

                <label for="lblpSetactionComparetoFixedText" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(442);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare Fixed Text</label>
                <div class="col-lg-8">
                    <input type="text" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtpSetactionComparetoFixedText" name="txtpSetactionComparetoFixedText" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    @if ((Previlage.Contains("QPUSAVP") && LayoutStatusPrevilage.Contains("QPUSAVP")) || RoleWithLayoutStatusPrevilage.Contains("QPUSAVP"))
    {
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:9px;display:none">Update</button>
    }
</form>