﻿<form novalidate name="frmSetaction" class="form-horizontal" style="padding:20px !important;margin-top:-35px" ng-submit="saveSetactionClick()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#savdetailsdiv">[&nbsp;<i id="iSADetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span><hr class="accordion-hr" />
        <div id="savdetailsdiv" class="collapse in">
            <div class="form-group">
                <label for="lblsetactionvaluetype" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(407);"><span class="fa fa-question-circle"></span></a> &nbsp;Set Action / Value Type <span class="errorfont"> *</span></label>
                <div class="col-sm-4">
                    <select class="form-control" id="sltSetActionValueType" name="sltSetActionValueType" ng-model="setactionvaluetype">
                        <option value="" selected>-- Select Set Action / Value Type --</option>
                        <option ng-repeat="val in setAvtionValueType" value="{{val.id}}">
                            {{val.name}}
                        </option>
                    </select>
                </div>
                <label for="lblSetactionTitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(409);"><span class="fa fa-question-circle"></span></a>&nbsp;Title </label>
                <div class="col-sm-4">
                    <input type="text" readonly maxlength="35" id="txtSetactionTitle" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
            </div>

            <div class="form-group" id="divnextqpsav">
                <label for="lblSetactionQP" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(411);"><span class="fa fa-question-circle"></span></a> &nbsp;Select QP</label>
                <div class="col-sm-4">
                    <select class="form-control" id="sltSetactionQP" name="sltSetactionQP" ng-model="Activitiesregistrationselect">
                        <option value="" selected>None</option>
                        <option ng-repeat="val in Activitiesregistration" value="{{val.activitiesRegistrationId}}">{{val.activitiesRegistrationName}}</option>
                    </select>
                </div>
                <label for="lblSetactionCancelcurrentQP" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(412);"><span class="fa fa-question-circle"></span></a>&nbsp;Cancel Current QP </label>
                <div class="col-sm-4">
                    <input type="checkbox" class="dropDownCB" id="chkcancelcurrentqp" />
                </div>
            </div>
            <div id="divnextviewsav">
                <div class="form-group">
                    <label for="lblSetactionSelectView" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(413);"><span class="fa fa-question-circle"></span></a>&nbsp;Select View </label>
                    <div class="col-sm-4">
                        <select name="sltSetactionSelectView" id="sltSetactionSelectView" class="form-control">
                            <option value="" selected>-- Select View --</option>
                            <option ng-repeat="val in SetActionNextViewValue" value="{{val.name}}">{{val.name}}</option>
                        </select>
                    </div>
                    <input type="hidden" id="nodeid" class="form-control" />
                    <input type="hidden" id="ptransportidpopup" />
                </div>
                <div class="form-group" id="divsubnextviewsav1">
                    <label for="lbltitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(414);"><span class="fa fa-question-circle"></span></a>&nbsp;Planning ID OBC </label>
                    <div class="col-sm-4">
                        <select name="sltplanningidobc" id="sltplanningidobc" ng-model="planningidobc" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                            <option value="">-- Select Select Target Saved Value --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="divsubnextviewsav2">
                    <label for="lbltitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(416);"><span class="fa fa-question-circle"></span></a>&nbsp;Longitude </label>
                    <div class="col-sm-4">
                        <select name="sltlongitude" id="sltlongitude" ng-model="longitude" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                            <option value="">-- Select Select Target Saved Value --</option>
                        </select>
                    </div>
                    <label for="lbltitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(418);"><span class="fa fa-question-circle"></span></a>&nbsp;Latitude </label>
                    <div class="col-sm-4">
                        <select name="sltlatitude" id="sltlatitude" ng-model="latitude" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                            <option value="">-- Select Select Target Saved Value --</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group" id="divallowanvesav">
                <label for="lblSetactionSelectAllowance" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(420);"><span class="fa fa-question-circle"></span></a>&nbsp;Select Allowance </label>
                <div class="col-sm-4">
                    <select name="sltSetactionSelectAllowance" ng-model="AllowancesDescriptionselect" ng-options="item.allowancesMasterName as item.allowancesMasterName for item in AllowancesDescription" id="sltSetactionSelectAllowance" class="form-control">
                        <option value="" selected>-- Select Allowance --</option>
                    </select>
                </div>
            </div>
            <div id="divinfocolumnsav">
                <div class="form-group">
                    <label for="lblSetactionSelectInfoColumn" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(421);"><span class="fa fa-question-circle"></span></a>&nbsp;Select Info Column </label>
                    <div class="col-sm-4">
                        @*<select name="sltSetactionSelectInfoColumn" ng-model="InfoColumnsselect" ng-options="item.icM_Column_Name as item.icM_Column_Name for item in InfoColumns" id="sltSetactionSelectInfoColumn" class="form-control">
                                <option value="" selected>-- Select Info Column --</option>
                            </select>*@
                        <select name="sltSetactionSelectInfoColumn" id="sltSetactionSelectInfoColumn" ng-model="InfoColumnsselect" ng-options="item.icM_Column_Name as item.icM_Column_Name for item in InfoColumns  track by item.iC_ID" class="form-control">
                            <option value="">-- Select Info Column --</option>
                        </select>
                    </div>
                    <label for="lblSetactionSetReset" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(422);"><span class="fa fa-question-circle"></span></a>&nbsp;Set/Reset </label>
                    <div class="col-sm-4">
                        <select name="sltSetactionSetReset" id="sltSetactionSetReset" class="form-control">
                            <option value="Set" selected>Set</option>
                            <option value="Reset">Reset</option>
                        </select>
                    </div>

                </div>
                @*Divakar*@
                <div class="form-group" id="divinfocolumnproperties">
                    <label for="lbltitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(423);"><span class="fa fa-question-circle"></span></a>&nbsp;Infocolumn Value </label>
                    <div class="col-sm-4">
                        <select name="sltSetpropertiesSelectView" id="sltSetpropertiesSelectView" class="form-control">
                            <option value="" selected>-- Select Value --</option>
                            <option value="Fixed Text">Fixed Text</option>
                            <option value="Saved Value">Saved Value</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="divinfocolumnsavedvaluesav">
                    <label for="lblfixedtext" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(692);"><span class="fa fa-question-circle"></span></a> &nbsp;Fixed Text</label>
                    <div class="col-sm-4">
                        <input id="txtfixedtext" class="form-control" maxlength="50" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" />
                    </div>
                    <label for="lbltitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(704);"><span class="fa fa-question-circle"></span></a>&nbsp;Saved Value </label>
                    <div class="col-sm-4">
                        <select name="sltsavSavedValue" id="sltsavSavedValue" ng-model="savsavedvalue" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                            <option value="">-- Select Saved Value --</option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="divsavedvaluesav">
                <div class="form-group">
                    <label for="lbltitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(427);"><span class="fa fa-question-circle"></span></a>&nbsp;Select Target Saved Value </label>
                    <div class="col-sm-4">
                        <input type="text" id="sltsavstSavedValue" class="form-control" />
                    </div>
                    <label for="lbltitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(425);"><span class="fa fa-question-circle"></span></a>&nbsp;Value </label>
                    <div class="col-sm-4">
                        <select name="sltSVvalue" id="sltSVvalue" class="form-control">
                            <option value="" selected>-- Select Value --</option>
                            <option value="Fixed Text">Fixed Text</option>
                            <option value="Copy Saved Value">Copy Saved Value</option>
                            <option value="Empty">Empty</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="divfixedtextandsavedvalue">
                    <label for="lblSetactionSVFT" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(692);"><span class="fa fa-question-circle"></span></a>&nbsp;Fixed Text </label>
                    <div class="col-sm-4">
                        <input id="txtSetactionFT" class="form-control" maxlength="100" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" />
                    </div>
                    <label for="lbltitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(693);"><span class="fa fa-question-circle"></span></a>&nbsp;Copy Saved Value </label>
                    <div class="col-sm-4">
                        <select name="sltSetactionSV" id="sltSetactionSV" ng-model="setactionSV" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                            <option value="">-- Select Copy Saved Value --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="divcopyrange">
                    <label for="lblSAVCopyRange" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(705);"><span class="fa fa-question-circle"></span></a>&nbsp;Copy Range <span class="errorfont"> *</span></label>
                    <div class="col-sm-4">
                        <select name="sltSAVCopyRange" id="sltSAVCopyRange" class="form-control">
                            <option value="Complete" selected>Complete</option>
                            <option value="Part">Part</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="divcopyrangechar">
                    <label for="lblSAVStartChar" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(706);"><span class="fa fa-question-circle"></span></a> &nbsp;Start Char</label>
                    <div class="col-sm-4">
                        <input min="1" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtSAVStartChar" class="form-control" />
                    </div>
                    <label for="lblSAVLength" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(Length);"><span class="fa fa-question-circle"></span></a>&nbsp;Length </label>
                    <div class="col-sm-4">
                        <input min="1" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtSAVLength" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group" id="divemptyfullsolosav">
                <label for="lblsetstate" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(429);"><span class="fa fa-question-circle"></span></a>&nbsp;Select Set State </label>
                <div class="col-sm-4">
                    <select name="sltsetstate" id="sltsetstate" class="form-control">
                        <option value="">-- Select Set State --</option>
                        <option value="Empty">Empty</option>
                        <option value="Full">Full</option>
                        <option value="Solo">Solo</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblSAComment" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(410);"><span class="fa fa-question-circle"></span></a> &nbsp;Comment</label>
                <div class="col-sm-4">
                    <textarea id="txtSetActionComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>
            @*<div class="form-group">
                    <label for="lblSAComment" class="control-label col-sm-2">Next QP Name</label>
                    <div class="col-sm-4">
                        <input type="text" maxlength="35" id="txtSetactionName" readonly="readonly" class="form-control" />
                    </div>
                    <label for="lblSAComment" class="control-label col-sm-2">Next View Name</label>
                    <div class="col-sm-4">
                        <input type="text" maxlength="35" id="txtSetactionViewName" readonly="readonly" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblSAComment" class="control-label col-sm-2">Allowance Name</label>
                    <div class="col-sm-4">
                        <input type="text" maxlength="35" id="txtSetactionAllowanceName" readonly="readonly" class="form-control" />
                    </div>
                    <label for="lblSAComment" class="control-label col-sm-2">InfoColumn Name</label>
                    <div class="col-sm-4">
                        <input type="text" id="txtSetactionInfoColumnName" readonly="readonly" class="form-control" />
                    </div>
                </div>*@
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#savconditiondiv">[&nbsp;<i id="iSAConditions" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span><hr class="accordion-hr" />
        <div id="savconditiondiv" class="collapse">
            <div class="form-group">
                <label for="lblSetactionValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(425);"><span class="fa fa-question-circle"></span></a> &nbsp;Value</label>
                <div class="col-sm-4">
                    <select name="sltSetactionItem" id="sltSetactionItem" ng-model="Setactionvalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control">
                        @*<option value="" selected>--Select Value--</option>*@
                    </select>
                </div>
                <label for="lblSetactionConditionSavedValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(434);"><span class="fa fa-question-circle"></span></a>&nbsp;Condition Saved Value </label>
                <div class="col-sm-4">
                    <select name="sltSetactionConditionSavedValue" id="sltSetactionConditionSavedValue" ng-model="SetactionConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Condition Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblSetactionCompareMethod" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(436);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare Method</label>
                <div class="col-sm-4">
                    <select name="sltSetactionCompareMethod" id="sltSetactionCompareMethod" ng-model="SetactionCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in setActionCompareMethod  track by item.compareMethodId" class="form-control">
                        <option value="" selected>-- Select Compare Method --</option>
                    </select>
                </div>
                <label for="lblSetactionCompareTo" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(438);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare To</label>
                <div class="col-sm-4">
                    <select name="sltSetactionCompareTo" id="sltSetactionCompareTo" ng-model="SetactionCompareTo" ng-options="item.compareToId as item.compareToDesc for item in setactionvaluecompareto  track by item.compareToId" class="form-control">
                        <option value="" selected>-- Select Compare To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblSetactionComparetoSavedValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(440);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Saved Value </label>
                <div class="col-sm-4">
                    <select name="sltSetactionComparetoSavedValue" id="sltSetactionComparetoSavedValue" ng-model="SetactionCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Compare  to Saved Value --</option>
                    </select>
                </div>
                <label for="lblSetactionComparetoFixedText" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(442);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare Fixed Text</label>
                <div class="col-sm-4">
                    <input type="text" id="txtSetactionComparetoFixedText" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" name="txtSetactionComparetoFixedText" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <!-- /.box-body -->
    <button type="submit" class="btn btn-primary" style="display:none">Save</button>
    <!-- /.box-footer -->
</form>
