﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmSignature" class="form-horizontal" ng-submit="PropertysaveSignature()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div class="form-group">
            <label for="lblSignaturepTitle" class="control-label col-lg-4">Title</label>
            <div class="col-lg-8">
                <input type="text" maxlength="20" onkeypress="return blockSpecialChar(event)" id="txtSignaturepTitle" name="txtSignaturepTitle" class="form-control" />
                <input type="hidden" id="pSignatureId" class="drop" />

                <input type="hidden" id="pSignaturenodeid" class="drop" />
                <input type="hidden" id="pSignaturetransportidpopup" />
            </div>

        </div>
        <div class="form-group">
            <label for="lblSignaturepAlternativetextonPlacelevel" class="control-label col-lg-4">Alternative Text on Place Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtSignaturepAlternativetextonPlacelevel" name="txtSignaturepAlternativetextonPlacelevel" class="form-control" />
            </div>

        </div>
        <div class="form-group">
            <label for="lblSignaturepAlternativetextonJoblevel" class="control-label col-lg-4">Alternative Text on Job Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtSignaturepAlternativetextonJoblevel" name="txtSignaturepAlternativetextonJoblevel" class="form-control" />
            </div>

        </div>
        <div class="form-group">
            <label for="lblSignaturepAlternativetextonproductlevel" class="control-label col-lg-4">Alternative Text on Product Level</label>
            <div class="col-lg-8">
                <input type="text" maxlength="15" onkeypress="return blockSpecialChar(event)" id="txtSignaturepAlternativetextonproductlevel" name="txtSignaturepAlternativetextonproductlevel" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="lblPlaceLevel" class="control-label col-lg-4">Place Level</label>
            <div class="col-lg-8">
                <input type="checkbox" class="dropDownCB" id="chkPlaceLevel" />
            </div>
        </div>
        <div class="form-group">
            <label for="lblJobLevel" class="control-label col-lg-4">Job Level</label>
            <div class="col-lg-8">
                <input type="checkbox" class="dropDownCB" id="chkJobLevel" />
            </div>
        </div>
    </div>

    @if ((Previlage.Contains("QPFS") && LayoutStatusPrevilage.Contains("QPFS")) || RoleWithLayoutStatusPrevilage.Contains("QPFS"))
    {
        <div class="box-footer" align="center">
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:20px; ">Update</button>
        </div>
    }
    <div class="clearfix"></div>
    @*<div class="box-body col-sm-12  col-md-12 col-lg-12">
            <div id="Signatureproperties"></div>
        </div>*@

</form>
