﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmSmartpallets" class="form-horizontal" ng-submit="PropertySmartsavepallets()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div class="form-group">
            <label for="lblpalletspTitle" class="control-label col-lg-4">Title</label>
            <div class="col-lg-8">
                <input type="text" maxlength="20" onkeypress="return blockSpecialChar(event)" id="txtSmartpalletspTitle" name="txtSmartpalletspTitle" class="form-control" />
                <input type="hidden" id="pSmartpalletsId" class="drop" />

                <input type="hidden" id="pSmartpalletsnodeid" class="drop" />
                <input type="hidden" id="pSmartpalletstransportidpopup" />
            </div>

        </div>

    </div>
    @if ((Previlage.Contains("QPSP") && LayoutStatusPrevilage.Contains("QPSP")) || RoleWithLayoutStatusPrevilage.Contains("QPSP"))
    {
        <div class="box-footer" align="center">
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:20px; margin-bottom:10px;">Update</button>
        </div>
    }
    <div class="clearfix"></div>
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div id="SmartPalletsproperties"></div>
    </div>

</form>
