﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmSmartSignature" class="form-horizontal" ng-submit="PropertysaveSmartSignature()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div class="form-group">
            <label for="lblSignaturepTitle" class="control-label col-lg-4">Title</label>
            <div class="col-lg-8">
                <input type="text" maxlength="20" onkeypress="return blockSpecialChar(event)" id="txtSmartSignaturepTitle" name="txtSmartSignaturepTitle" class="form-control" />
                <input type="hidden" id="pSmartSignaturenodeid" class="drop" />
                <input type="hidden" id="pSmartSignaturetransportidpopup" />
            </div>
        </div>
    </div>
    @if ((Previlage.Contains("QPSS") && LayoutStatusPrevilage.Contains("QPSS")) || RoleWithLayoutStatusPrevilage.Contains("QPSS"))
    {
        <div class="box-footer" align="center">
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:20px; margin-bottom:10px;">Update</button>
        </div>
    }
</form>
