﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertySmartExtraInfo" ng-submit="PropertySmartsaveExtraInfo()" class="form-horizontal">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div class="form-group">
            <label for="lblExtraInfopTitle" class="control-label col-lg-4">Title</label>
            <div class="col-lg-8">
                <input type="text" maxlength="20" onkeypress="return blockSpecialChar(event)" id="txtSmartExtraInfopTitle" name="txtSmartExtraInfopTitle" class="form-control" />
                <input type="hidden" id="pSmartExtraInfoId" class="drop" />

                <input type="hidden" id="pSmartExtraInfonodeid" class="drop" />
                <input type="hidden" id="pSmartExtraInfotransportidpopup" />
            </div>

        </div>
    </div>
    @if ((Previlage.Contains("QPSEI") && LayoutStatusPrevilage.Contains("QPSEI")) || RoleWithLayoutStatusPrevilage.Contains("QPSEI"))
    {
        <!-- /.box-body -->
        <div class="box-footer" align="center">
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:20px; margin-bottom:10px;">Update</button>
            @*<button type="reset" class="btn btn-info">Reset</button>*@
        </div>
        <!-- /.box-footer -->
    }
    <div class="clearfix"></div>
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div id="SmartExtrainfoproperties"></div>
    </div>
</form>
