﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmSmartProblem" class="form-horizontal" ng-submit="PropertysaveSmartProblem()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div class="form-group">
            <label for="lblProblempTitle" class="control-label col-lg-4">Title</label>
            <div class="col-lg-8">
                <input type="text" maxlength="20" onkeypress="return blockSpecialChar(event)" id="txtSmartProblempTitle" name="txtSmartProblempTitle" class="form-control" />
                <input type="hidden" id="pSmartProblemId" class="drop" />

                <input type="hidden" id="pSmartProblemnodeid" class="drop" />
                <input type="hidden" id="pSmartProblemtransportidpopup" />
            </div>
        </div>
    </div>
    @if ((Previlage.Contains("QPSPM") && LayoutStatusPrevilage.Contains("QPSPM")) || RoleWithLayoutStatusPrevilage.Contains("QPSPM"))
    {
        <!-- /.box-body -->
        <div class="box-footer" align="center">
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:20px; margin-bottom:10px;">Update</button>
        </div>
        <!-- /.box-footer -->
    }
    <div class="clearfix"></div>
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div id="SmartProblemproperties"></div>
    </div>

</form>
