﻿<form novalidate name="frmTextMessage" class="form-horizontal"  style="padding:20px !important;margin-top:-35px" ng-submit="saveTextMessageClick()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#tmdetailsdiv">[&nbsp;<i id="iTextMessageDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span><hr class="accordion-hr" />
        <div id="tmdetailsdiv" class="collapse in">
            <div class="form-group">
                <label for="lblTextMessageName" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(383);"><span class="fa fa-question-circle"></span></a>&nbsp;Name </label>
                <div class="col-lg-4">
                    <input type="text" id="txtTextMessageName" readonly="readonly" class="form-control" />
                </div>
                <label for="lblTextMessagecontent" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(384);"><span class="fa fa-question-circle"></span></a>&nbsp;Message Content <span class="errorfont"> *</span></label>
                <div class="col-lg-4">
                    <textarea id="txtTextMessagecontent" maxlength="256" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="lblTextMessageSendMethod" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(385);"><span class="fa fa-question-circle"></span></a>&nbsp;Send Method  <span class="errorfont"> *</span></label>
                <div class="col-lg-4">
                    <select name="sltTextMessageSendMethod" id="sltTextMessageSendMethod" class="form-control">
                        <option value="">-- Select Send Method --</option>
                        <option value="Upon finishing QP" selected>Upon finishing QP</option>
                        <option value="Immediately">Immediately</option>
                    </select>
                    <input type="hidden" id="nodeid" class="form-control" />
                    <input type="hidden" id="ptransportidpopup" />
                </div>
                <label for="lblTMComment" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(387);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment</label>
                <div class="col-lg-4">
                    <textarea id="txtTextMessageComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="lblInsertSavedMsg" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(388);"><span class="fa fa-question-circle"></span></a>&nbsp;Insert Saved Values </label>
                <div class="col-lg-4">
                    <select disabled name="sltInsertSavedValue" id="sltInsertSavedValue" ng-model="InsertSavedValues" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Saved Value --</option>
                    </select>
                </div>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#tmconditiondiv">[&nbsp;<i id="iTextMessageConditions" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span><hr class="accordion-hr" />
        <div id="tmconditiondiv" class="collapse">
            <div class="form-group">
                <label for="lblTextMessageValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(391);"><span class="fa fa-question-circle"></span></a>&nbsp;Value </label>
                <div class="col-sm-4">
                    <select name="sltTextMessageItem" id="sltTextMessageItem" ng-model="TextMessagevalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control">
                        @*<option value="" selected>--Select Value--</option>*@
                    </select>
                </div>
                <label for="lblTextMessageConditionSavedValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(393);"><span class="fa fa-question-circle"></span></a>&nbsp;Condition Saved Value </label>
                <div class="col-sm-4">
                    <select name="sltTextMessageConditionSavedValue" id="sltTextMessageConditionSavedValue" ng-model="TextMessageConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Condition Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblTextMessageCompareMethod" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(395);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Method </label>
                <div class="col-sm-4">
                    <select name="sltTextMessageCompareMethod" id="sltTextMessageCompareMethod" ng-model="TextMessageCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in textMessageCompareMethod  track by item.compareMethodId" class="form-control">
                        <option value="" selected>-- Select Compare Method --</option>
                    </select>
                </div>
                <label for="lblTextMessageCompareTo" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(397);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To </label>
                <div class="col-sm-4">
                    <select name="sltTextMessageCompareTo" id="sltTextMessageCompareTo" ng-model="TextMessageCompareTo" ng-options="item.compareToId as item.compareToDesc for item in textmessagecompareto  track by item.compareToId" class="form-control">
                        <option value="" selected>-- Select Compare To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblTextMessageComparetoSavedValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(399);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Saved Value </label>
                <div class="col-sm-4">
                    <select name="sltTextMessageComparetoSavedValue" id="sltTextMessageComparetoSavedValue" ng-model="TextMessageCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Compare  to Saved Value --</option>
                    </select>
                </div>

                <label for="lblTextMessageComparetoFixedText" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(401);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Fixed Text </label>
                <div class="col-sm-4">
                    <input type="text" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtTextMessageComparetoFixedText" name="txtTextMessageComparetoFixedText" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
        <button type="submit" class="btn btn-primary" style="display:none;">Save</button>
    <!-- /.box-footer -->
</form>
<script type="text/javascript">

    $(document).ready(function () {
        $("#tmreset").click(function () {

        $("#sltTextMessageSendMethod").val('Upon finishing QP');

        $("#txtTextMessagecontent").val('');
        $("#txtTextMessageComment").val('');


        $("#sltTextMessageItem").val('');
        $("#sltTextMessageConditionSavedValue").val('');
        $("#sltTextMessageCompareMethod").val('');
        $("#sltTextMessageCompareTo").val('');
        $("#sltTextMessageComparetoSavedValue").val('');
        $("#txtTextMessageComparetoFixedText").val('');

        var sltTextMessageItem = $("#sltTextMessageItem option:selected").text();
        if (sltTextMessageItem == 'Saved Value') {
            $('#sltTextMessageConditionSavedValue').attr("disabled", false);
        }
        else {
            $('#sltTextMessageConditionSavedValue').val("");
            $('#sltTextMessageConditionSavedValue').attr("disabled", true);
        }

        var sltTextMessageCompareTo = $("#sltTextMessageCompareTo option:selected").text();
        if (sltTextMessageCompareTo == 'Saved Value') {
            $('#sltTextMessageComparetoSavedValue').attr("disabled", false);
        }
        else {
            $('#sltTextMessageComparetoSavedValue').val("");
            $('#sltTextMessageComparetoSavedValue').attr("disabled", true);
        }

        if (sltTextMessageCompareTo == 'Fixed Text') {
            $('#txtTextMessageComparetoFixedText').attr("disabled", false);
        }
        else {
            $('#txtTextMessageComparetoFixedText').val("");
            $('#txtTextMessageComparetoFixedText').attr("disabled", true);
        }
        });
    });
</script>