﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="frmTextMessage" class="form-horizontal" ng-submit="PropertysaveTextMessageClick()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#tmpdetailsdiv">[&nbsp;<i id="iTextMessagePDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>

        <hr class="accordion-hr" />
        <div id="tmpdetailsdiv" class="collapse in">
            <div class="form-group">
                <label for="lblTextMessageName" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(383);"><span class="fa fa-question-circle"></span></a>&nbsp;Name </label>
                <div class="col-lg-8">
                    <input type="text" id="txtpTextMessageName" readonly="readonly" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblTextMessagecontent" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(384);"><span class="fa fa-question-circle"></span></a> &nbsp;Message Content<span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <textarea id="txtpTextMessagecontent" maxlength="100" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(388);"><span class="fa fa-question-circle"></span></a>&nbsp;Insert Saved Values </label>
                <div class="col-lg-8">
                    <select name="sltPropertyInsertSavedValue" disabled id="sltPropertyInsertSavedValue" ng-model="PropertyInsertSavedValue" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Insert Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblTextMessageSendMethod" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(385);"><span class="fa fa-question-circle"></span></a>&nbsp;Send Method <span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <select name="sltpTextMessageSendMethod" id="sltpTextMessageSendMethod" class="form-control">
                        <option value="">-- Select Send Method --</option>
                        <option value="Upon finishing QP">Upon finishing QP</option>
                        <option value="Immediately">Immediately</option>
                    </select>
                    <input type="hidden" id="pTextMessagenodeid" class="form-control" />
                    <input type="hidden" id="pTextMessagetransportidpopup" />
                    <input type="hidden" id="textMessageId" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblTextMessagecontent" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(387);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                <div class="col-lg-8">
                    <textarea id="txtpTextMessageComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>

        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#tmpconditiondiv">[&nbsp;<i id="iTextMessagePConditions" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span><hr class="accordion-hr" />
        <div id="tmpconditiondiv" class="collapse">
            <div class="form-group">
                <label for="lblPTextMessageValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(391);"><span class="fa fa-question-circle"></span></a>&nbsp;Value </label>
                <div class="col-lg-8">
                    <select name="sltPTextMessageItem" id="sltPTextMessageItem" ng-model="PTextMessagevalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control">
                        @*<option value="" selected>--Select Value--</option>*@
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPTextMessageConditionSavedValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(393);"><span class="fa fa-question-circle"></span></a>&nbsp;Condition Saved Value </label>
                <div class="col-lg-8">
                    <select name="sltPTextMessageConditionSavedValue" id="sltPTextMessageConditionSavedValue" ng-model="PTextMessageConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Condition Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPTextMessageCompareMethod" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(395);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Method </label>
                <div class="col-lg-8">
                    <select name="sltPTextMessageCompareMethod" id="sltPTextMessageCompareMethod" ng-model="PTextMessageCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in textMessagePCompareMethod  track by item.compareMethodId" class="form-control">
                        <option value="" selected>-- Select Compare Method --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPTextMessageCompareTo" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(397);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare To</label>
                <div class="col-lg-8">
                    <select name="sltPTextMessageCompareTo" id="sltPTextMessageCompareTo" ng-model="PTextMessageCompareTo" ng-options="item.compareToId as item.compareToDesc for item in textmessagepcompareto  track by item.compareToId" class="form-control">
                        <option value="" selected>-- Select Compare To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPTextMessageComparetoSavedValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(399);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare to Saved Value </label>
                <div class="col-lg-8">
                    <select name="sltPTextMessageComparetoSavedValue" id="sltPTextMessageComparetoSavedValue" ng-model="PTextMessageCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Compare  to Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPTextMessageComparetoFixedText" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(401);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare to Fixed Text </label>
                <div class="col-lg-8">
                    <input type="text" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtPTextMessageComparetoFixedText" name="txtPTextMessageComparetoFixedText" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    @if ((Previlage.Contains("QPUTMP") && LayoutStatusPrevilage.Contains("QPUTMP")) || RoleWithLayoutStatusPrevilage.Contains("QPUTMP"))
    {
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:9px;display:none">Update</button>
    }
</form>