﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmTransportType" class="form-horizontal" ng-submit="PropertysaveTransportTypeClick()">
    <div class="box-body col-sm-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#titledivtt">[&nbsp;<i id="iTTPDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>

        <hr class="accordion-hr" />
        <div id="titledivtt" class="collapse in">
            <div class="form-group">
                <label for="lblpTransportTypetitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(528);"><span class="fa fa-question-circle"></span></a>&nbsp;Title <span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <input type="text" maxlength="35" onkeyup="valid(this)" data-keyinvalue="" onblur="valid(this)" id="txtpTransportTypetitle" name="txtpTransportTypetitle" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    <input type="hidden" id="TransportTypepropertyquestionid" class="form-control" />
                </div>
                <input type="hidden" id="TransportTypeId" />
                <input type="hidden" id="TransportTypesavevalue" />
                <input type="hidden" id="pTransportTypeNodeId" class="form-control" />
            </div>

            <div class="form-group">
                <label for="lblpTransportTypeSave" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(529);"><span class="fa fa-question-circle"></span></a>&nbsp;Save </label>
                <div class="col-lg-4">
                    <input type="checkbox" class="dropDownCB" id="chkpTransportTypesave" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpTransportTypeSaveto" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(532);"><span class="fa fa-question-circle"></span></a>&nbsp;Save To </label>
                <div class="col-lg-8">
                    <input type="text" tabindex="1" id="sltpTransportTypeSaveto" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpTransportTypeAction" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(530);"><span class="fa fa-question-circle"></span></a>&nbsp;Action </label>
                <div class="col-lg-4">
                    <select name="sltpTransportTypeAction" id="sltpTransportTypeAction" class="form-control">
                        <option value="" selected>-- Seelct Action --</option>
                        <option value="Select">Select</option>
                        <option value="Generate">Generate</option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label for="lblpTransportTypeComment" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(533);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                <div class="col-lg-8">
                    <textarea id="txtpTransportTypeComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>
            @*<div class="form-group">
                    <label for="lblpTransportTypeAddDefault" class="control-label col-lg-4">Add Default</label>
                    <div class="col-lg-8">
                        <input type="checkbox" id="chkpTransportTypeAddDefault" />
                    </div>
                </div>*@
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#feedbackdivtt">[&nbsp;<i id="iTTPFeedBack" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Feedback</b></span>
        <hr class="accordion-hr" />
        <div id="feedbackdivtt" class="collapse">
            <div class="form-group">
                <label for="lblpTransportTypeInfoColumn" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(535);"><span class="fa fa-question-circle"></span></a>&nbsp;Info Column </label>
                <div class="col-lg-8">
                    <select name="sltpTransportTypeInfoColumn" id="sltpTransportTypeInfoColumn" class="form-control" ng-model="pTransportTypepInfoColumns" ng-options="item.iC_ID as item.icM_Column_Name for item in Info  track by item.iC_ID">
                        <option value="" selected>Not Set</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblTransportTypeInfoColumnAction" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(537);"><span class="fa fa-question-circle"></span></a>&nbsp;Info Column Action </label>
                <div class="col-lg-8">
                    <select name="sltpTransportTypeInfoColumnAction" id="sltpTransportTypeInfoColumnAction" ng-model="pTransportTypepInfoColumnAction" ng-options="item.infoColumnActionId as item.infoColumnActionDesc for item in InfoColumnAction  track by item.infoColumnActionId" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpTransportTypeplanning" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(539);"><span class="fa fa-question-circle"></span></a>&nbsp;Planning Feedback </label>
                <div class="col-lg-8">

                    <select class="form-control" id="sltpTransportTypePlanningFeed" name="sltpTransportTypePlanningFeed" ng-model="ttpplanningfeedbacks">
                        <option ng-repeat="val in PlanningLeveldropdown" value="{{val.planningfeedback}}">
                            {{val.planningfeedback}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpTransportTypepredefined" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(540);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Type </label>
                <div class="col-lg-8">
                    <select name="sltpTransportTypeFeedbackType" id="sltpTransportTypeFeedbackType" class="form-control">
                        <option value="">-- Select Feedback Type --</option>
                        <option value="Extra info">Extra info</option>
                        <option value="Pallets">Pallets</option>
                        <option value="Anomaly">Anomaly</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpTransportTypefeedback" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(542);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Code </label>
                <div class="col-lg-8">
                    <input type="text" tabindex="1" id="sltPTransportTypeFeedbackCode" max="35" />
                </div>
            </div>

            <div class="form-group">
                <label for="lblpTransportTypePartnerCode" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(544);"><span class="fa fa-question-circle"></span></a>&nbsp;Partner Code </label>
                <div class="col-lg-8">
                    <input type="text" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" id="txtpTransportTypePartnerCode" name="txtpTransportTypePartnerCode" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
            </div>

        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#conditiondivtt">[&nbsp;<i id="iTTPConditions" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span>
        <hr class="accordion-hr" />
        <div id="conditiondivtt" class="collapse">
            @*TO DO Start*@
            <div class="form-group">
                <label for="lblTransportTypeValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(546);"><span class="fa fa-question-circle"></span></a>&nbsp;Value </label>
                <div class="col-lg-8">
                    <select name="sltpTransportTypeValue" id="sltpTransportTypeValue" ng-model="pTransportTypepvalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control">
                        @*<option value="" selected>-- Select Value --</option>*@
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblTransportTypeConditionSavedValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(548);"><span class="fa fa-question-circle"></span></a>&nbsp;Condition Saved Value </label>
                <div class="col-lg-8">
                    <select name="sltpTransportTypeConditionSavedValue" id="sltpTransportTypeConditionSavedValue" ng-model="pTransportTypepConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Condition Saved Value --</option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label for="lblTransportTypeCompareMethod" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(550);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Method </label>
                <div class="col-lg-8">
                    <select name="sltpTransportTypeCompareMethod" id="sltpTransportTypeCompareMethod" ng-model="pTransportTypepCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in transportTypePCompareMethod  track by item.compareMethodId" class="form-control">
                        <option value="" selected>-- Select Compare Method --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpTransportTypeCompareTo" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(552);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To </label>
                <div class="col-lg-8">
                    <select name="sltpTransportTypeCompareTo" id="sltpTransportTypeCompareTo" ng-model="pTransportTypepCompareTo" ng-options="item.compareToId as item.compareToDesc for item in transporttypepcompareto  track by item.compareToId" class="form-control">
                        <option value="" selected>-- Select Compare To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpTransportTypeComparetoSavedValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(554);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Saved Value </label>
                <div class="col-lg-8">
                    <select name="sltpTransportTypeComparetoSavedValue" id="sltpTransportTypeComparetoSavedValue" ng-model="pTransportTypepCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Compare  to Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpTransportTypeComparetoFixedText" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(556);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare Fixed Text</label>
                <div class="col-lg-8">
                    <input type="text" maxlength="100" id="txtpTransportTypeComparetoFixedText" onkeyup="valid(this)" onblur="valid(this)" name="txtpTransportTypeComparetoFixedText" class="form-control" />
                </div>
            </div>
            @*TO DO End*@
        </div>
    </div>
    <!-- /.box-body -->
    @if ((Previlage.Contains("QPUTTP") && LayoutStatusPrevilage.Contains("QPUTTP")) || RoleWithLayoutStatusPrevilage.Contains("QPUTTP"))
    {
            <button type="submit" class="btn btn-primary  pull-right form-group" style="margin-right:36px;display:none">Update</button>
    }
    <div class="box-body col-sm-12">
        <br />
        <div id="AddTransportTypedataproperties"></div>
    </div>
    <!-- /.box-footer -->
</form>
