﻿<form novalidate name="frmTrailer" class="form-horizontal" style="padding:20px !important;margin-top:-35px" ng-submit="saveTrailerClick()">
    <div class="box-body col-sm-12">
        <div class="form-group">
            <label for="lblactionType" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(688);"><span class="fa fa-question-circle"></span></a>&nbsp;Action Type <span class="errorfont"> *</span></label>
            <div class="col-sm-4">
                <input type="hidden" id="nodeid" value="{{nodeid}}" class="form-control" />
                <input type="hidden" id="transportidpopup" value="{{transportTypeId}}" />

                <select name="sltactionType" id="sltactionType" class="form-control">
                    <option value="">-- Select Action Type --</option>
                    <option value="Connect">Connect</option>
                    <option value="Disconnect">Disconnect</option>
                    <option value="WTR">WTR</option>
                </select>
            </div>
        </div>
        <div id="divConnect">
            <span class="collapsebutton" data-toggle="collapse" data-target="#trdetailsdiv">[&nbsp;<i id="iTrailerConnect" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>
            <hr class="accordion-hr" />
            <div id="trdetailsdiv" class="collapse in">
                <div class="form-group">
                    <label for="lblTrailerCName" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(500);"><span class="fa fa-question-circle"></span></a> &nbsp;Name</label>
                    <div class="col-sm-4">
                        <input type="text" id="txtTrailerCName" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    </div>
                    <label for="lbltrailertitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(501);"><span class="fa fa-question-circle"></span></a>&nbsp;Title <span class="errorfont"> *</span></label>
                    <div class="col-sm-4">
                        <input type="text" id="txtTrailerTitle" data-keyinvalue="" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerFormat" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(502);"><span class="fa fa-question-circle"></span></a>&nbsp;Trailer Format <span class="errorfont"> *</span></label>
                    <div class="col-sm-4">
                        <select name="sltTrailerFormat" id="sltTrailerFormat" class="form-control">
                            <option value="">-- Select Trailer Format --</option>
                            <option value="Alphanumeric">Alphanumeric</option>
                            <option value="Numeric">Numeric</option>
                            <option value="Custom">Custom</option>
                        </select>
                    </div>
                    <label for="lblTrailerSize" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(504);"><span class="fa fa-question-circle"></span></a>&nbsp;Size </label>
                    <div class="col-sm-4">
                        <input type="number" id="txtTrailerSize" class="form-control" value="100" min="1" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerMasktext" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(505);"><span class="fa fa-question-circle"></span></a>&nbsp;Mask Text </label>
                    <div class="col-sm-4">
                        <input type="text" id="txtTrailerMaskText" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    </div>
                    <label for="lblTrailerRegex" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(506);"><span class="fa fa-question-circle"></span></a>&nbsp;Regex </label>
                    <div class="col-sm-4">
                        <input type="text" id="txtTrailerRegex" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerNullnotAllowded" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(507);"><span class="fa fa-question-circle"></span></a>&nbsp;Null Not Allowed </label>
                    <div class="col-sm-4">
                        <input type="checkbox" class="dropDownCB" id="chkTrailerNotNullAllowed" checked />
                    </div>
                    <label for="lblTrailerZeroNotAllowed" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(508);"><span class="fa fa-question-circle"></span></a>&nbsp;Zero Not Allowed </label>
                    <div class="col-sm-4">
                        <input type="checkbox" class="dropDownCB" id="chkTrailerZeroNotAllowed" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerminimumofcharacters" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(689);"><span class="fa fa-question-circle"></span></a>&nbsp;Minimum # Of Characters </label>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-lg-2"> <input type="checkbox" class="dropDownCB" id="chkTrailerQPMinimumOfCharacters" ng-click="chkTrailerMinimumOfCharacters()" /></div>
                            <div class="col-lg-10" style="display:none" id="divTrailerQPMinChars"> <input type="number" id="txtTrailerQPMinimumOfCharacters" min="1" class="form-control dropDownCB" /></div>
                        </div>
                    </div>
                    <label for="lblTrailerExactOfCharacters" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(690);"><span class="fa fa-question-circle"></span></a>&nbsp;Exact # Of Characters </label>
                    <div class="col-sm-4">
                        <input type="checkbox" class="dropDownCB" id="chkTrailerExactOfCharacters" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerSave" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(509);"><span class="fa fa-question-circle"></span></a> &nbsp;Save</label>
                    <div class="col-sm-4">
                        <input type="checkbox" class="dropDownCB" id="chkTrailerSave" />
                    </div>
                    <label for="lblTrailerSaveto" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(510);"><span class="fa fa-question-circle"></span></a>&nbsp;Save To </label>
                    <div class="col-sm-4">
                        <input type="text" tabindex="1" id="sltTrailerSaveto" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblPropose" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(511);"><span class="fa fa-question-circle"></span></a>&nbsp;Propose </label>
                    <div class="col-sm-4">
                        <select name="sltTrailerpropose" id="sltTrailerPropose" ng-model="TrailerQPCompareProposeDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                            <option value="" selected>No</option>
                        </select>
                    </div>
                    <label for="lblTrailerAutogenerate" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(512);"><span class="fa fa-question-circle"></span></a>&nbsp;Autogenerate  Selection </label>
                    <div class="col-sm-4">
                        <input type="checkbox" class="dropDownCB" id="chkTrailerAutogenerate" ng-click="trailertitleconversion()" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailercomment" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(513);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                    <div class="col-sm-4">
                        <textarea id="txtTrailerComment" class="form-control" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                    </div>
                </div>
            </div>
            <span class="collapsebutton" data-toggle="collapse" data-target="#trfeedbackdiv">[&nbsp;<i id="iTrailerFeedBack" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Feedback</b></span>
            <hr class="accordion-hr" />
            <div id="trfeedbackdiv" class="collapse">
                <div class="form-group">
                    <label for="lblTrailerplanning" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(515);"><span class="fa fa-question-circle"></span></a>&nbsp;Planning Feedback </label>
                    <div class="col-sm-4">
                        <select name="sltTrailerPlanningFeedback" id="sltTrailerPlanningFeedback" class="form-control" ng-model="trailerplanningfeedbacks" ng-options="item.planningfeedback as item.planningfeedback for item in PlanningLeveldropdown  track by item.planningfeedback"></select>
                    </div>
                    <label for="lblTrailerFeedback" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(703);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Type </label>
                    <div class="col-sm-4">
                        <select name="sltTrailerFeedbackType" id="sltTrailerFeedbackType" class="form-control" disabled>
                            <option value="">-- Select Feedback Type --</option>
                            <option value="Extra info">Extra info</option>
                            <option value="Pallets">Pallets</option>
                            <option value="Anomaly">Anomaly</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerFeedbackcode" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(519);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Code </label>
                    <div class="col-sm-4">
                        <input type="text" tabindex="1" id="sltTrailerFeedbackCode" max="35" />
                    </div>
                    <label for="lblPartnerCode" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(521);"><span class="fa fa-question-circle"></span></a> &nbsp;Partner Code</label>
                    <div class="col-sm-4">
                        <input type="text" id="txtTrailerPartnerCode" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div id="divDisconnet">
            <span class="collapsebutton" data-toggle="collapse" data-target="#trddetailsdiv">[&nbsp;<i id="iTrailerDisconnect" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>
            <hr class="accordion-hr" />
            <div id="trddetailsdiv" class="collapse in">
                <div class="form-group">
                    <label for="lblTrailerDCName" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(500);"><span class="fa fa-question-circle"></span></a>&nbsp;Name </label>
                    <div class="col-sm-4">
                        <input type="text" id="txtTrailerDCName" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    </div>
                    <label for="lblTrailerDCcomment" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(513);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                    <div class="col-sm-4">
                        <textarea id="txtTrailerDCComment" class="form-control" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                    </div>
                </div>
            </div>
        </div>
        <div id="divWTR">
            <span class="collapsebutton" data-toggle="collapse" data-target="#trwdetailsdiv">[&nbsp;<i id="iTrailerWTRDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>
            <hr class="accordion-hr" />
            <div id="trwdetailsdiv" class="collapse in">
                <div class="form-group">
                    <label for="lblTrailerWTRName" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(500);"><span class="fa fa-question-circle"></span></a>&nbsp;Name </label>
                    <div class="col-sm-4">
                        <input type="text" id="txtTrailerWTRName" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    </div>
                    <label for="lblTrailerWTRTitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(501);"><span class="fa fa-question-circle"></span></a> &nbsp;Title<span class="errorfont"> *</span></label>
                    <div class="col-sm-4">
                        <input type="text" id="txtTrailerWTRTitle" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerWTRSave" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(509);"><span class="fa fa-question-circle"></span></a>&nbsp;Save </label>
                    <div class="col-sm-4">
                        <input type="checkbox" class="dropDownCB" id="chkTrailerWTRSave" />
                    </div>
                    <label for="lblTrailerWTRSaveto" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(510);"><span class="fa fa-question-circle"></span></a>&nbsp;Save To </label>
                    <div class="col-sm-4">
                        <input type="text" tabindex="1" id="sltTrailerWTRSaveto" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerOther" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(522);"><span class="fa fa-question-circle"></span></a>&nbsp;Other </label>
                    <div class="col-sm-4">
                        <input type="checkbox" class="dropDownCB" id="chkTrailerOther" />
                    </div>
                    <label for="lblTrailerWTRcomment" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(513);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                    <div class="col-sm-4">
                        <textarea id="txtTrailerWTRComment" class="form-control" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <button type="submit" class="btn btn-primary" style="display:none;">Save</button>
    </div>
    <!-- /.box-footer -->
</form>
