﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyTransportTypeDetails" class="form-horizontal" ng-submit="PropertySaveTransportTypeDetailsClick()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div class="form-group">
            <label for="lblTransportTypePTitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(734);"><span class="fa fa-question-circle"></span></a>&nbsp;Title <span class="errorfont"> *</span></label>
            <div class="col-lg-8">
                <input type="text" maxlength="35" onkeypress="return blockSpecialChar(event)" id="txtTransportTypeDetailsPTitle" name="txtTransportTypeDetailsPTitle" class="form-control" />

                <input type="hidden" id="TransportTypeDetailsId" />
                <input type="hidden" id="TransportTypeRefId" />
                <input type="hidden" id="TransportTypeDetQuestionRefId" />
                <input type="hidden" id="CretedBy" />
                <input type="hidden" id="CreatedOn" />
            </div>
        </div>
        <div class="form-group">
            <label for="lblTransportTypeDetailsPFeedback" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(735);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Code </label>
            <div class="col-lg-8">
                <input type="text" id="txtTransportTypeDetailsPFeedbackCode" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="lblTransportTypeDetailsPInfoColumn" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(736);"><span class="fa fa-question-circle"></span></a>&nbsp;Info Column </label>
            <div class="col-lg-8">
                <select name="sltTransportTypeDetailsPInfoColumn" id="sltTransportTypeDetailsPInfoColumn" class="form-control" ng-model="pTransportTypeDetailsPInfoColumns" ng-options="item.iC_ID as item.icM_Column_Name for item in Info  track by item.iC_ID">
                    <option value="" selected>Not Set</option>
                </select>
            </div>
        </div>
        <div class="form-group" style="display:none">
            <label for="lblTransportTypeDetailsPInfoColumnAction" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(737);"><span class="fa fa-question-circle"></span></a>&nbsp;Info Column Action </label>
            <div class="col-lg-8">
                <select name="sltTransportTypeDetailsPInfoColumnAction" id="sltTransportTypeDetailsPInfoColumnAction" ng-model="pTransportTypeDetailsPInfoColumnAction" ng-options="item.infoColumnActionDesc as item.infoColumnActionDesc for item in InfoColumnAction  track by item.infoColumnActionDesc" class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <label for="lblTransportTypeDetailsPfeedback" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(738);"><span class="fa fa-question-circle"></span></a>&nbsp;Partner Code </label>
            <div class="col-lg-8">
                <input type="text" id="txtTransportTypeDetailsPPartnerCode" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    @if ((Previlage.Contains("QPFEI") && LayoutStatusPrevilage.Contains("QPFEI")) || RoleWithLayoutStatusPrevilage.Contains("QPFEI"))
    {
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:20px; margin-bottom:10px;display:none;">Update</button>
    }
</form>