﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmTrailer" class="form-horizontal" ng-submit="PropertysaveTrailerClick()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <div class="form-group" style="text-align: right;margin-right: 8px;">

        </div>
        <div class="form-group">
            <label for="lblpactionType" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(688);"><span class="fa fa-question-circle"></span></a>&nbsp;Action Type <span class="errorfont"> *</span></label>
            <div class="col-lg-8">
                <input type="hidden" id="pnodeid" class="form-control" />
                <input type="hidden" id="ptransportidpopup" />
                <input type="hidden" id="trailerid" />
                <input type="hidden" id="hidTrailerPropertyName" />
                <select name="sltpactionType" id="sltpactionType" class="form-control">
                    <option value="">-- Select Action Type --</option>
                    <option value="Connect">Connect</option>
                    <option value="Disconnect">Disconnect</option>
                    <option value="WTR">WTR</option>
                </select>
            </div>
        </div>
        <div id="divpConnect">
            <span class="collapsebutton" data-toggle="collapse" data-target="#trpdetailsdiv">[&nbsp;<i id="iPTrailerConnect" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>

            <hr class="accordion-hr" />
            <div id="trpdetailsdiv" class="collapse in">
                <div class="form-group">
                    <label for="lblTrailerpCName" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(500);"><span class="fa fa-question-circle"></span></a>&nbsp;Name </label>
                    <div class="col-lg-8">
                        <input type="text" id="txtTrailerpCName" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerptitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(501);"><span class="fa fa-question-circle"></span></a>&nbsp;Title <span class="errorfont"> *</span></label>
                    <div class="col-lg-8">
                        <input type="text" id="txtTrailerpTitle" data-keyinvalue="" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerpFormat" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(502);"><span class="fa fa-question-circle"></span></a>&nbsp;Trailer Format <span class="errorfont"> *</span></label>
                    <div class="col-lg-8">
                        <select name="sltTrailerpFormat" id="sltTrailerpFormat" class="form-control">
                            <option value="">-- Select Trailer Format --</option>
                            <option value="Alphanumeric">Alphanumeric</option>
                            <option value="Numeric">Numeric</option>
                            <option value="Custom">Custom</option>
                        </select>
                    </div>
                </div><div class="form-group">
                          <label for="lblTrailerpSize" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(504);"><span class="fa fa-question-circle"></span></a>&nbsp;Size </label>
                    <div class="col-lg-8">
                        <input type="number" id="txtTrailerpSize" class="form-control" value="100" min="1" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerpMasktext" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(505);"><span class="fa fa-question-circle"></span></a>&nbsp;Mask Text </label>
                    <div class="col-lg-8">
                        <input type="text" id="txtTrailerpMaskText" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    </div>
                </div><div class="form-group">
                          <label for="lblTrailerpRegex" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(506);"><span class="fa fa-question-circle"></span></a>&nbsp;Regex  </label>
                    <div class="col-lg-8">
                        <input type="text" id="txtTrailerpRegex" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerpNullnotAllowded" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(507);"><span class="fa fa-question-circle"></span></a>&nbsp;Null Not Allowed </label>
                    <div class="col-lg-8">
                        <input type="checkbox" class="dropDownCB" id="chkTrailerpNotNullAllowed" />
                    </div>
                </div><div class="form-group">
                          <label for="lblTrailerpZeroNotAllowed" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(508);"><span class="fa fa-question-circle"></span></a>&nbsp;Zero Not Allowed </label>
                    <div class="col-lg-8">
                        <input type="checkbox" class="dropDownCB" id="chkTrailerpZeroNotAllowed" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerpminimumofcharacters" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(689);"><span class="fa fa-question-circle"></span></a>&nbsp;Minimum # Of Characters </label>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3"> <input type="checkbox" class="dropDownCB" id="chkTrailerpQPMinimumOfCharacters" ng-click="chkTrailerpMinimumOfCharacters()" /></div>
                            <div class="col-lg-9" style="display:none" id="divTrailerpQPMinChars"> <input type="number" id="txtTrailerpQPMinimumOfCharacters" min="1" class="form-control dropDownCB" /></div>
                        </div>
                    </div>
                </div><div class="form-group">
                          <label for="lblTrailerpExactOfCharacters" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(690);"><span class="fa fa-question-circle"></span></a>&nbsp;Exact # Of Characters</label>
                    <div class="col-lg-8">
                        <input type="checkbox" class="dropDownCB" id="chkTrailerpExactOfCharacters" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerpSave" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(509);"><span class="fa fa-question-circle"></span></a>&nbsp;Save </label>
                    <div class="col-lg-8">
                        <input type="checkbox" class="dropDownCB" id="chkTrailerpSave" />
                    </div>
                </div><div class="form-group">
                          <label for="lblTrailerpSaveto" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(510);"><span class="fa fa-question-circle"></span></a>&nbsp;Save To </label>
                    <div class="col-lg-8">
                        <input type="text" tabindex="1" id="sltTrailerpSaveto" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblPropose" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(511);"><span class="fa fa-question-circle"></span></a>&nbsp;Propose </label>
                    <div class="col-lg-8">
                        <select name="sltTrailerppropose" id="sltTrailerpPropose" ng-model="TrailerpQPCompareProposeDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                            <option value="" selected>No</option>
                        </select>
                    </div>
                </div><div class="form-group">
                          <label for="lblTrailerpAutogenerate" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(512);"><span class="fa fa-question-circle"></span></a>&nbsp;Autogenerate  Selection </label>
                    <div class="col-lg-8">
                        <input type="checkbox" class="dropDownCB" id="chkTrailerpAutogenerate" ng-click="Trailerptitleconversion()" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerpcomment" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(513);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                    <div class="col-lg-8">
                        <textarea id="txtTrailerpComment" class="form-control" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                    </div>
                </div>
            </div>
            <span class="collapsebutton" data-toggle="collapse" data-target="#trpfeedbackdiv">[&nbsp;<i id="iPTrailerFeedBack" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Feedback</b></span>
            <hr class="accordion-hr" />
            <div id="trpfeedbackdiv" class="collapse">
                <div class="form-group">
                    <label for="lblTrailerpplanning" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(515);"><span class="fa fa-question-circle"></span></a>&nbsp;Planning Feedback </label>
                    <div class="col-lg-8">
                        <select class="form-control" id="sltTrailerpPlanningFeedback" name="sltTrailerpPlanningFeedback" ng-model="Trailerpplanningfeedbacks">
                            <option ng-repeat="val in PlanningLeveldropdown" value="{{val.planningfeedback}}">
                                {{val.planningfeedback}}
                            </option>
                        </select>

                        @*<select name="sltTrailerpPlanningFeedback" id="sltTrailerpPlanningFeedback" class="form-control" ng-model="Trailerpplanningfeedbacks" ng-options="item.planningfeedback as item.planningfeedback for item in PlanningLeveldropdown  track by item.planningfeedback">
                                <option value="">-- Select Planning Feedback --</option>
                            </select>*@
                    </div>
                </div><div class="form-group">
                          <label for="lblTrailerpFeedback" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(703);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Type  </label>
                    <div class="col-lg-8">
                        <select name="sltTrailerpFeedbackType" id="sltTrailerpFeedbackType" class="form-control" disabled>
                            <option value="">-- Select Feedback Type --</option>
                            <option value="Extra info">Extra info</option>
                            <option value="Pallets">Pallets</option>
                            <option value="Anomaly">Anomaly</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerpFeedbackcode" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(519);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Code </label>
                    <div class="col-lg-8">
                        <input type="text" tabindex="1" id="sltPTrailerFeedbackCode" max="35" />
                        @*<input type="text" id="txtTrailerpFeedbackCode" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />*@
                    </div>
                </div>
                @*<div class="form-group">
                        <label for="lbltitle" class="control-label col-lg-4">[ OR ]</label>
                        <div class="col-lg-8">
                            <select name="sltTrailerpFeedbackCode" id="sltTrailerpFeedbackCode" class="form-control" ng-model="trailerpplanningfeedbackCodes" ng-options="item.planningfeedbackcode as item.planningfeedbackcode for item in pplanningLevelCodedropdown  track by item.planningfeedbackcode">
                                <option value="">-- Select Feedback Code --</option>
                            </select>
                        </div>
                    </div>*@
                <div class="form-group">
                    <label for="lblPartnerCode" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(521);"><span class="fa fa-question-circle"></span></a>&nbsp;Partner Code </label>
                    <div class="col-lg-8">
                        <input type="text" id="txtTrailerpPartnerCode" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div id="divpDisconnet">
            <span class="collapsebutton" data-toggle="collapse" data-target="#trdpdetailsdiv">[&nbsp;<i id="iPTrailerDisconnect" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>
            <hr class="accordion-hr" />
            <div id="trdpdetailsdiv" class="collapse in">
                <div class="form-group">
                    <label for="lblTrailerpDCName" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(500);"><span class="fa fa-question-circle"></span></a>&nbsp;Name </label>
                    <div class="col-lg-8">
                        <input type="text" id="txtTrailerpDCName" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    </div>
                </div><div class="form-group">
                          <label for="lblTrailerpDCcomment" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(513);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                    <div class="col-lg-8">
                        <textarea id="txtTrailerpDCComment" class="form-control" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                    </div>
                </div>
            </div>
        </div>
        <div id="divpWTR">
            <span class="collapsebutton" data-toggle="collapse" data-target="#trwpdetailsdiv">[&nbsp;<i id="iPTrailerWTRDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>
            <hr class="accordion-hr" />
            <div id="trwpdetailsdiv" class="collapse in">
                <div class="form-group">
                    <label for="lblTrailerpWTRName" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(500);"><span class="fa fa-question-circle"></span></a>&nbsp;Name </label>
                    <div class="col-lg-8">
                        <input type="text" id="txtTrailerpWTRName" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    </div>
                </div><div class="form-group">
                          <label for="lblTrailerpWTRTitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(501);"><span class="fa fa-question-circle"></span></a>&nbsp;Title <span class="errorfont"> *</span></label>
                    <div class="col-lg-8">
                        <input type="text" id="txtTrailerpWTRTitle" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerpWTRSave" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(509);"><span class="fa fa-question-circle"></span></a> &nbsp;Save</label>
                    <div class="col-lg-8">
                        <input type="checkbox" class="dropDownCB" id="chkTrailerpWTRSave" />
                    </div>
                </div><div class="form-group">
                          <label for="lblTrailerpWTRSaveto" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(510);"><span class="fa fa-question-circle"></span></a>&nbsp;Save To </label>
                    <div class="col-lg-8">
                        <input type="text" tabindex="1" id="sltTrailerpWTRSaveto" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="lblTrailerpOther" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(522);"><span class="fa fa-question-circle"></span></a>&nbsp;Other </label>
                    <div class="col-lg-8">
                        <input type="checkbox" class="dropDownCB" id="chkTrailerpOther" />
                    </div>
                </div><div class="form-group">
                          <label for="lblTrailerpWTRcomment" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(513);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                    <div class="col-lg-8">
                        <textarea id="txtTrailerpWTRComment" class="form-control" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if ((Previlage.Contains("QPUTRP") && LayoutStatusPrevilage.Contains("QPUTRP")) || RoleWithLayoutStatusPrevilage.Contains("QPUTRP"))
    {
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:9px;display:none;">Update</button>
    }
</form>
