﻿
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#chkTransportTypesave').is(':checked')) {
            $('#sltTransportTypeSaveto').attr("disabled", false);
        }
        if ($('#chkTransportTypesave').is(':checked') == false) {
            $('#sltTransportTypeSaveto').attr("disabled", true);
        }
        var sltTransportTypeInfoColumn = $("#sltTransportTypeInfoColumn option:selected").text();

        if (sltTransportTypeInfoColumn == "Not set" || sltTransportTypeInfoColumn == "Info 1" || sltTransportTypeInfoColumn == "Info 2" || sltTransportTypeInfoColumn == "Info 3" || sltTransportTypeInfoColumn == "Info 4" || sltTransportTypeInfoColumn == "Info 5") {
            $('#sltTransportTypeInfoColumnAction').val("");
            $('#sltTransportTypeInfoColumnAction').attr("disabled", true);
        }
        else {
            $('#sltTransportTypeInfoColumnAction').attr("disabled", false);
        }
    });
</script>
<form novalidate name="frmTransportType" class="form-horizontal" ng-submit="saveTransportTypeClick()">
    <div id="mainTransportType" class="box-body col-sm-12 show">
        <span class="collapsebutton" data-toggle="collapse" data-target="#ttdetaildiv">[&nbsp;<i id="iTTDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>
        <hr class="accordion-hr" />
        <div id="ttdetaildiv" class="collapse in">
            <div class="form-group">
                <label for="lblTransportTypetitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(528);"><span class="fa fa-question-circle"></span></a>&nbsp;Title <span class="errorfont"> *</span></label>
                <div class="col-sm-4">
                    <input type="text" maxlength="35" onkeyup="valid(this)" data-keyinvalue="Transport type?" onblur="valid(this)" id="txtTransportTypetitle" name="txtTransportTypetitle" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
                <label for="lblTransportTypeSave" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(529);"><span class="fa fa-question-circle"></span></a>&nbsp;Save </label>
                <div class="col-sm-4">
                    <input type="checkbox" class="dropDownCB" id="chkTransportTypesave" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblTransportTypeSaveto" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(532);"><span class="fa fa-question-circle"></span></a>&nbsp;Save To </label>
                <div class="col-sm-4">
                    <input type="text" tabindex="1" id="sltTransportTypeSaveto" />
                </div>
                <label for="lblTransportTypeAction" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(530);"><span class="fa fa-question-circle"></span></a>&nbsp;Action </label>
                <div class="col-sm-4">
                    <select name="sltTransportTypeAction" id="sltTransportTypeAction" class="form-control">
                        <option value="" selected>-- Seelct Action --</option>
                        <option value="Select">Select</option>
                        <option value="Generate">Generate</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblTransportTypeComment" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(533);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                <div class="col-sm-4">
                    <textarea id="txtTransportTypeComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#ttfeedbackdiv">[&nbsp;<i id="iTTFeedBack" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Feedback</b></span>
        <hr class="accordion-hr" />
        <div id="ttfeedbackdiv" class="collapse">
            <div class="form-group">
                <label for="lblTransportTypeInfoColumn" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(535);"><span class="fa fa-question-circle"></span></a>&nbsp;Info Column </label>
                <div class="col-sm-4">
                    <select name="sltTransportTypeInfoColumn" id="sltTransportTypeInfoColumn" class="form-control" ng-model="TransportTypeInfoColumns" ng-options="item.iC_ID as item.icM_Column_Name for item in Info  track by item.iC_ID">
                        <option value="" selected>Not Set</option>
                    </select>
                </div>
                <label for="lblTransportTypeInfoColumnAction" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(537);"><span class="fa fa-question-circle"></span></a>&nbsp;Info Column Action </label>
                <div class="col-sm-4">
                    <select name="sltTransportTypeInfoColumnAction" id="sltTransportTypeInfoColumnAction" ng-model="TransportTypeInfoColumnAction" ng-options="item.infoColumnActionId as item.infoColumnActionDesc for item in InfoColumnAction  track by item.infoColumnActionId" class="form-control">
                        @*<option value="" selected>Not Set</option>*@
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblTransportTypeplanning" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(539);"><span class="fa fa-question-circle"></span></a>&nbsp;Planning Feedback </label>
                <div class="col-sm-4">
                    <select name="sltTransportTypePlanningFeed" id="sltTransportTypePlanningFeed" class="form-control" ng-model="planningfeedbacks" ng-options="item.planningfeedback as item.planningfeedback for item in PlanningLeveldropdown  track by item.planningfeedback"></select>
                </div>
                <label for="lblTransportTypepredefined" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(540);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Type </label>
                <div class="col-sm-4">
                    <select name="sltTransportTypeFeedbackType" id="sltTransportTypeFeedbackType" class="form-control">
                        <option value="">-- Select Feedback Type --</option>
                        <option value="Extra info">Extra info</option>
                        <option value="Pallets">Pallets</option>
                        <option value="Anomaly">Anomaly</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblTransportTypefeedback" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(542);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Code </label>
                <div class="col-sm-4">
                    <input type="text" tabindex="1" id="sltTransportTypeFeedbackCode" max="35" />
                </div>
                <label for="lblTransportTypePartnerCode" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(544);"><span class="fa fa-question-circle"></span></a>&nbsp;Partner Code </label>
                <div class="col-sm-4">
                    <input type="text" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" id="txtTransportTypePartnerCode" name="txtTransportTypePartnerCode" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
            </div>

        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#ttcondiv">[&nbsp;<i id="iTTConditions" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span>
        <hr class="accordion-hr" />
        <div id="ttcondiv" class="collapse">
            <div class="form-group">
                <label for="lblTransportTypeValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(546);"><span class="fa fa-question-circle"></span></a>&nbsp;Value </label>
                <div class="col-sm-4">
                    <select name="sltTransportTypeValue" id="sltTransportTypeValue" ng-model="TransportTypevalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control">
                        @*<option value="" selected>--Select Value--</option>*@
                    </select>
                </div>
                <label for="lblTransportTypeConditionSavedValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(548);"><span class="fa fa-question-circle"></span></a>&nbsp;Condition Saved Value </label>
                <div class="col-sm-4">
                    <select name="sltTransportTypeConditionSavedValue" id="sltTransportTypeConditionSavedValue" ng-model="TransportTypeConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Condition Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblTransportTypeCompareMethod" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(550);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Method </label>
                <div class="col-sm-4">
                    <select name="sltTransportTypeCompareMethod" id="sltTransportTypeCompareMethod" ng-model="TransportTypeCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in transportTypeCompareMethod  track by item.compareMethodId" class="form-control">
                        <option value="" selected>-- Select Compare Method --</option>
                    </select>
                </div>
                <label for="lblTransportTypeCompareTo" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(552);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To </label>
                <div class="col-sm-4">
                    <select name="sltTransportTypeCompareTo" id="sltTransportTypeCompareTo" ng-model="TransportTypeCompareTo" ng-options="item.compareToId as item.compareToDesc for item in transporttypecompareto  track by item.compareToId" class="form-control">
                        <option value="" selected>-- Select Compare To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblTransportTypeComparetoSavedValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(554);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Saved Value </label>
                <div class="col-sm-4">
                    <select name="sltTransportTypeComparetoSavedValue" id="sltTransportTypeComparetoSavedValue" ng-model="TransportTypeCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="" selected>-- Select Compare  to Saved Value --</option>
                    </select>
                </div>
                <label for="lblTransportTypeComparetoFixedText" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(556);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Fixed Text </label>
                <div class="col-sm-4">
                    <input type="text" maxlength="100" id="txtTransportTypeComparetoFixedText" onkeyup="valid(this)" onblur="valid(this)" name="txtTransportTypeComparetoFixedText" class="form-control" />
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" style="display:none;">Save</button>

    </div>
    <!-- /.box-body -->
    <input type="hidden" id="nodeid" class="form-control" />
    <input type="hidden" id="transportidpopup" />
    <div id="AddTransportType" class="box-body col-sm-12 hide">
        <input type="hidden" id="hidTransportTypeQuestionId" value="0" />
        <br />
        <div id="AddTransportTypedata"></div>
        <br />

        <!-- /.box-body -->
        <div id="subitem" align="center">
            <br />
            <button type="button" id="FinishTT" ng-click="finishaddTransportType()" class="btn btn-primary">Finish</button>
        </div>
    </div>
    <!-- /.box-footer -->
</form>

