﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmVarList" class="form-horizontal" ng-submit="savePropertyVarListClick()">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#vlpdetailsdiv">[&nbsp;<i id="ipVarListDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>


        <hr class="accordion-hr" />
        <div id="vlpdetailsdiv" class="collapse in">
            <div class="form-group">
                <label for="lblpVarListTitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(639);"><span class="fa fa-question-circle"></span></a>&nbsp;Title <span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <input type="text" id="txtpVarListTitle" maxlength="35" data-title="" onkeyup="valid(this)" onblur="valid(this)" ng-blur="pvarListTitleBlur()" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    <input type="hidden" id="hiddenpVarListTitle" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListid" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(640);"><span class="fa fa-question-circle"></span></a>&nbsp;Varlist ID <span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <input type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="if(this.value.length==2) return false;" id="txtpVarListid" min="1" max="63" class="form-control" />
                    <input type="hidden" id="pVarListnodeid" class="form-control" />
                    <input type="hidden" id="pVarListtransportidpopup" />
                    <input type="hidden" id="pVarListId" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListOther" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(709);"><span class="fa fa-question-circle"></span></a>&nbsp;Other </label>
                <div class="col-lg-8">
                    <select name="sltpVarListOther" id="sltpVarListOther" class="form-control">
                        <option value="Driver entry" selected>Driver entry</option>
                        <option value="QP (save to DriverCreated)">QP (save to DriverCreated)</option>
                        <option value="No other">No other</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListRegisterAsTailer" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(641);"><span class="fa fa-question-circle"></span></a>&nbsp;Register As Trailer </label>
                <div class="col-lg-8">
                    <select name="sltpVarListRegisterAsTailer" id="sltpVarListRegisterAsTailer" class="form-control">
                        <option value="No" selected>No</option>
                        <option value="Yes, Driver Selection">Yes, Driver Selection</option>
                        <option value="Yes, From Readout">Yes, From Readout</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListOtherTitle" id="lblpVarListOtherTitle" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(642);"><span class="fa fa-question-circle"></span></a>&nbsp;Other Title </label>
                <div class="col-lg-8">
                    <input type="text" id="txtpVarListOtherTitle" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListMasktext" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(643);"><span class="fa fa-question-circle"></span></a>&nbsp;Other Mask Text </label>
                <div class="col-lg-8">
                    <input type="text" id="txtpVarListMasktext" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListSaveDisplay" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(644);"><span class="fa fa-question-circle"></span></a>&nbsp;Save Display </label>
                <div class="col-lg-8">
                    <input type="checkbox" class="dropDownCB pull-left" id="chkpVarListSaveDisplay" ng-click="pvarListSaveDisplayCheckbox()" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListSaveDistplayTo" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(645);"><span class="fa fa-question-circle"></span></a> &nbsp;Save Display To</label>
                <div class="col-lg-8">
                    <input type="text" tabindex="1" id="sltpVarListSaveDisplayTo" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblVLComment" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(646);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                <div class="col-lg-8">
                    <textarea id="txtpVarListComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#vlpfeedbackdiv">[&nbsp;<i id="ipVarListFeedBack" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Feedback</b></span>
        <hr class="accordion-hr" />
        <div id="vlpfeedbackdiv" class="collapse">
            <div class="form-group">
                <label for="lblpVarListInfoColumn" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(648);"><span class="fa fa-question-circle"></span></a>&nbsp;Info Column </label>
                <div class="col-lg-8">
                    <select name="sltpVarListInfoColumn" id="sltpVarListInfoColumn" class="form-control" ng-model="pVarListInfoColumns" ng-options="item.iC_ID as item.icM_Column_Name for item in Info  track by item.iC_ID">
                        <option value="" selected>Not Set</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListInfoColumnAction" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(649);"><span class="fa fa-question-circle"></span></a> &nbsp;Info Column Action</label>
                <div class="col-lg-8">
                    <select name="sltpVarListInfoColumnAction" id="sltpVarListInfoColumnAction" ng-model="pVarListInfoColumnAction" ng-options="item.infoColumnActionId as item.infoColumnActionDesc for item in InfoColumnAction  track by item.infoColumnActionId" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListFileNumber" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(650);"><span class="fa fa-question-circle"></span></a>&nbsp;File Number </label>
                <div class="col-lg-8">
                    <select name="sltpVarListFileNumber" id="sltpVarListFileNumber" class="form-control">
                        <option value="Not Set" selected>Not Set</option>
                        <option value="Set">Set</option>
                        <option value="Reset">Reset</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblplanning" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(651);"><span class="fa fa-question-circle"></span></a>&nbsp;Planning Feedback </label>
                <div class="col-lg-8">
                    <select name="sltpVarListPlanningFeed" id="sltpVarListPlanningFeed" class="form-control" ng-model="VLplanningfeedbacks" ng-options="item.planningfeedback as item.planningfeedback for item in PlanningLeveldropdown  track by item.planningfeedback"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblvlfeedbacktype" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(652);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Type </label>
                <div class="col-lg-8">
                    <select name="sltpVarListFeedbackType" id="sltpVarListFeedbackType" class="form-control" disabled>
                        <option value="">-- Select Feedback Type --</option>
                        <option value="Extra info">Extra info</option>
                        <option value="Pallets">Pallets</option>
                        <option value="Anomaly">Anomaly</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(653);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Code </label>
                <div class="col-lg-8">
                    <input type="text" tabindex="1" id="sltpVarListFeedbackCode" max="35" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListPartnerCode" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(654);"><span class="fa fa-question-circle"></span></a>&nbsp;Partner Code </label>
                <div class="col-lg-8">
                    <input type="text" id="txtpVarListPartnerCode" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#vlpcommentdiv">[&nbsp;<i id="ipVarListComment" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Comment Readout</b></span><hr class="accordion-hr" />
        <div id="vlpcommentdiv" class="collapse">
            <div class="form-group">
                <input type="hidden" id="hidpVarListCommentReadoutDetailId" />
                <input type="hidden" id="hidpVarListPropertiesId" />
                <label for="lblpVarListCommentID" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(656);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment ID <span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <input min="0" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" ng-blur="blurpVarListCommentID()" id="txtpVarListCommentID" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListReadOutRange" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(657);"><span class="fa fa-question-circle"></span></a>&nbsp;Readout Range <span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <select name="sltpVarListReadOutRange" id="sltpVarListReadOutRange" class="form-control">
                        <option value="Complete" selected>Complete</option>
                        <option value="Part">Part</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListStartChar" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(658);"><span class="fa fa-question-circle"></span></a>&nbsp;Start Char </label>
                <div class="col-lg-8">
                    <input min="1" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtpVarListStartChar" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListLength" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(659);"><span class="fa fa-question-circle"></span></a>&nbsp;Length</label>
                <div class="col-lg-8">
                    <input min="1" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtpVarListLength" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblPSSaveto" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(660);"><span class="fa fa-question-circle"></span></a>&nbsp;Save To </label>
                <div class="col-lg-8">
                    <input type="text" tabindex="1" id="sltpVarListSaveTo" />
                </div>
            </div>
            <div class="form-group" style="text-align:center;">
                <button type="button" id="btnpaddcommentreadout" ng-click="addpVarListReadout()" class="btn btn-primary" uib-tooltip="Add Readout"><span style="color:white;padding-right:5px" class="fa fa-plus"></span>Add Comment</button>
                <button type="button" style="display:none;" id="btnpupdatecommentreadout" ng-click="updatepVarListReadout()" class="btn btn-primary" uib-tooltip="Update Readout"><span style="color:white;padding-right:5px" class="fa fa-pencil"></span>Update Comment</button>
                <button type="button" style="display:none;" id="btnpcancelcommentreadout" ng-click="cancelpVarListReadout()" class="btn" uib-tooltip="Cancel Readout"><span style="color:white;padding-right:5px" class="fa fa-close"></span>Cancel</button>
            </div>
            <div class="form-group">
                <div id="pCommentReadoutDetail" style="border-radius:5px;">
                </div>
                <script type="text/ng-template" id="pCommentDelete">
                    <a class="fa fa-trash-o pdeletecommentreadout" data="{{:varListCommentReadoutDetailId}}" name="eidtdata" id="{{:varListCommentReadoutDetailId}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Delete"></a>
                    &nbsp;&nbsp;&nbsp;
                    <a class="fa fa-pencil-square-o peditcommentreadout" data="{{:varListCommentReadoutDetailId}}" name="eidtdata" id="{{:varListCommentReadoutDetailId}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Edit"></a>
                </script>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#vlpfilteriv">[&nbsp;<i id="ipVarListFilter" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Filter</b></span><hr class="accordion-hr" />
        <div id="vlpfilteriv" class="collapse">
            <div class="form-group">
                <input type="hidden" id="hidpVarListFilterDetailId" />
                <label for="lblpVarListFilterCommentID" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(663);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment ID <span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <input min="0" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" ng-blur="blurpVarListFilterCommentID()" id="txtpVarListFilterCommentID" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListFliterMethod" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(664);"><span class="fa fa-question-circle"></span></a>&nbsp;Filter Method <span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <select name="sltpVarListFliterMethod" id="sltpVarListFliterMethod" class="form-control">
                        <option value="" selected>-- Select Filter Method -- </option>
                        <option value="==">==</option>
                        <option value="<>"><></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListFilterSavedTo" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(665);"><span class="fa fa-question-circle"></span></a>&nbsp;Saved Value </label>
                <div class="col-lg-8">
                    <select name="sltpVarListFilterSavedTo" id="sltpVarListFilterSavedTo" ng-model="pVarListFilterSavedTo" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="">-- Select Save To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group" style="text-align:center;">
                <button type="button" id="btnpaddfilter" ng-click="addpVarListFilterReadout()" class="btn btn-primary" uib-tooltip="Add Readout"><span style="color:white;padding-right:5px" class="fa fa-plus"></span>Add Filter</button>
                <button type="button" style="display:none;" id="btnpupdatefilter" ng-click="updatepVarListFilterReadout()" class="btn btn-primary" uib-tooltip="Update Readout"><span style="color:white;padding-right:5px" class="fa fa-pencil"></span>Update Filter</button>
                <button type="button" style="display:none;" id="btnpcancelfilter" ng-click="cancelpVarListFilterReadout()" class="btn" uib-tooltip="Cancel Readout"><span style="color:white;padding-right:5px" class="fa fa-close"></span>Cancel</button>
            </div>
            <div class="form-group">
                <div id="pFilterDetail" style="border-radius:5px;">
                </div>
                <script type="text/ng-template" id="pFilterDelete">
                    <a class="fa fa-trash-o pdeletefilter" data="{{:varListFilterDetailId}}" name="eidtdata" id="{{:varListFilterDetailId}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Delete"></a>
                    &nbsp;&nbsp;&nbsp;
                    <a class="fa fa-pencil-square-o peditfilter" data="{{:varListFilterDetailId}}" name="eidtdata" id="{{:varListFilterDetailId}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Edit"></a>
                </script>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#vlpconditiondiv">[&nbsp;<i id="ipVarListPConditions" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span>
        <hr class="accordion-hr" />
        <div id="vlpconditiondiv" class="collapse">
            <div class="form-group">
                <label for="lblpVarListValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(668);"><span class="fa fa-question-circle"></span></a>&nbsp;Value </label>
                <div class="col-lg-8">
                    <select name="sltpVarListItem" id="sltpVarListItem" ng-model="pVarListvalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListConditionSavedValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(669);"><span class="fa fa-question-circle"></span></a>&nbsp;Condition Saved Value </label>
                <div class="col-lg-8">
                    <select name="sltpVarListConditionSavedValue" id="sltpVarListConditionSavedValue" ng-model="pVarListConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="">-- Select Condition Saved Value --</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="lblpVarListCompareMethod" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(670);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Method </label>
                <div class="col-lg-8">
                    <select name="sltpVarListCompareMethod" id="sltpVarListCompareMethod" ng-model="pVarListCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in pvarListCompareMethod  track by item.compareMethodId" class="form-control">
                        <option value="" selected>-- Select Compare Method --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListCompareTo" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(671);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To </label>
                <div class="col-lg-8">
                    <select name="sltpVarListCompareTo" id="sltpVarListCompareTo" ng-model="pVarListCompareTo" ng-options="item.compareToId as item.compareToDesc for item in pvarListcompareto track by item.compareToId" class="form-control">
                        <option value="" selected>-- Select Compare To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListComparetoSavedValue" class="control-label col-lg-4"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(672);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare to Saved Value </label>
                <div class="col-lg-8">
                    <select name="sltpVarListComparetoSavedValue" id="sltpVarListComparetoSavedValue" ng-model="pVarListCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="">-- Select Compare  to Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVarListComparetoFixedText" class="control-label col-lg-4"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(673);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare to Fixed Text</label>
                <div class="col-lg-8">
                    <input type="text" maxlength="100" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtpVarListComparetoFixedText" name="txtpVarListComparetoFixedText" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    @if ((Previlage.Contains("QPUVLP") && LayoutStatusPrevilage.Contains("QPUVLP")) || RoleWithLayoutStatusPrevilage.Contains("QPUVLP"))
    {
        <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:9px;display:none">Save</button>
    }
</form>