﻿@{
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}
<form novalidate name="PropertyfrmVariableList"  class="form-horizontal">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#vlpdetailsdiv">[&nbsp;<i id="iVarListPDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Detailsfdssdf</b></span>
        <hr class="accordion-hr" />
        <div id="vlpdetailsdiv" class="collapse in">
            <div class="form-group">
                <label for="lblpVariableListTitle" class="control-label col-lg-4">Title<span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <input type="text" id="txtpVariableListTitle" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                    <input type="hidden" id="hiddenpVariableListTitle" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVariableListVarlistid" class="control-label col-lg-4">VarList ID<span class="errorfont"> *</span></label>
                <div class="col-lg-8">
                    <input type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="if(this.value.length==2) return false;" id="txtpVariableListVarlistid" min="0" max="63" class="form-control" />
                    <input type="hidden" id="pVariableListnodeid" class="form-control" />
                    <input type="hidden" id="pVariableListtransportidpopup" />
                    <input type="hidden" id="VariableListId" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVariableListVarlistothers" class="control-label col-lg-4">Other<span class="errorfont"> *</span></label>
                <div class="pull-left col-lg-8">
                    <input type="checkbox" class="pull-left" id="chkpVariableListVarlistOthers" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVariableListSaveDisplay" class="control-label col-lg-4">Save Display</label>
                <div class="col-lg-8">
                    <input type="checkbox" class="dropDownCB pull-left" id="chkpVariableListVarlistSaveDisplay" ng-click="pVarlistsavecheckbox()" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVariableListSaveComment" class="control-label col-lg-4">Save Comment</label>
                <div class="col-lg-8">
                    <input type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="if(this.value.length==2) return false;" ng-blur="pVarlistSaveComment()" id="txtpVariableListVarlistSaveComment" min="0" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVLComment" class="control-label col-lg-4">Comment</label>
                <div class="col-lg-8">
                    <textarea id="txtpVariableListComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#vlpfilteriv">[&nbsp;<i id="iVarListPFilter" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Filter</b></span>
        <hr class="accordion-hr" />
        <div id="vlpfilteriv" class="collapse">
            @*<div class="form-group">
                    <label for="lblVariableListFilter" class="control-label col-lg-4">Filter</label>
                    <div class="col-lg-8">
                        <select name="sltpVariableListFilter" id="sltpVariableListFilter" ng-model="pVariableListFilter" class="form-control">
                            <option value="" selected>-- Select Filter --</option>
                            <option value="Comment Part">Comment Part</option>
                            <option value="Filter Method">Filter Method</option>
                            <option value="Saved value">Saved value</option>
                        </select>
                    </div>
                </div>*@
            <div class="form-group">
                <label for="lblpVariableListCommentPart" class="control-label col-lg-4">Comment Part</label>
                <div class="col-lg-8">
                    <input type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="if(this.value.length==2) return false;" id="txtpVariableListVarlistCommentPart" min="0" max="63" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVariableListFilterMethod" class="control-label col-lg-4">Filter Method</label>
                <div class="col-lg-8">
                    <select name="sltpVariableListFilterMethod" id="sltpVariableListFilterMethod" ng-model="pVariableListFilterMethod" class="form-control">
                        <option value="" selected>-- Select Filter Method --</option>
                        <option value="==">==</option>
                        <option value="<>"><></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblpVariableListSavedValue" class="control-label col-lg-4">Saved value</label>
                <div class="col-lg-8">
                    <input class="form-control" id="sltpVariableListSavedValue" />
                    @*<select name="sltpVariableListSavedValue" id="sltpVariableListSavedValue" ng-model="pVariableListCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                            <option value="">-- Select Saved Value --</option>
                        </select>*@
                </div>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#vlpconditiondiv">[&nbsp;<i id="iVarListPConditions"  class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span>
        <hr class="accordion-hr" />
        <div id="vlpconditiondiv" class="collapse">
            <div class="form-group">
                <label for="lblPVariableListValue" class="control-label col-lg-4">Value</label>
                <div class="col-lg-8">
                    <select name="sltPVariableListItem" id="sltPVariableListItem" ng-model="PVariableListvalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control">
                        @*<option value="" selected>--Select Value--</option>*@
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPVariableListConditionSavedValue" class="control-label col-lg-4">Condition Saved Value</label>
                <div class="col-lg-8">
                    <select name="sltPVariableListConditionSavedValue" id="sltPVariableListConditionSavedValue" ng-model="PVariableListConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="">-- Select Condition Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPVariableListCompareMethod" class="control-label col-lg-4">Compare Method</label>
                <div class="col-lg-8">
                    <select name="sltPVariableListCompareMethod" id="sltPVariableListCompareMethod" ng-model="PVariableListCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in variableListPCompareMethod  track by item.compareMethodId" class="form-control">
                        <option value="" selected>-- Select Compare Method --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPVariableListCompareTo" class="control-label col-lg-4">Compare To</label>
                <div class="col-lg-8">
                    <select name="sltPVariableListCompareTo" id="sltPVariableListCompareTo" ng-model="PVariableListCompareTo" ng-options="item.compareToId as item.compareToDesc for item in variablelistpcompareto  track by item.compareToId" class="form-control">
                        <option value="" selected>-- Select Compare To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPVariableListComparetoSavedValue" class="control-label col-lg-4">Compare to Saved Value</label>
                <div class="col-lg-8">
                    <select name="sltPVariableListComparetoSavedValue" id="sltPVariableListComparetoSavedValue" ng-model="PVariableListCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="">- -Select Compare  to Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblPVariableListComparetoFixedText" class="control-label col-lg-4">Compare to Fixed Text</label>
                <div class="col-lg-8">
                    <input type="text" maxlength="100" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtPVariableListComparetoFixedText" name="txtPVariableListComparetoFixedText" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    @if ((Previlage.Contains("QPUVLP") && LayoutStatusPrevilage.Contains("QPUVLP")) || RoleWithLayoutStatusPrevilage.Contains("QPUVLP"))
    {
        <div class="box-footer" align="center">
            <button type="submit" class="btn btn-primary pull-right form-group" style="margin-right:9px">Save</button>
        </div>
    }
</form>