﻿<form novalidate name="frmVariableList" ng-submit="saveVariableList()" class="form-horizontal" style="padding:20px !important;margin-top:-35px">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#vldetailsdiv">[&nbsp;<i id="iVarListDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span><hr class="accordion-hr" />
        <div id="vldetailsdiv" class="collapse in">
            <div class="form-group">
                <label for="lblVariableListTitle" class="control-label col-sm-2">Title<span class="errorfont"> *</span></label>
                <div class="col-sm-4">
                    VarlistSaveComment
                    <input type="text" id="txtVariableListTitle" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
                <label for="lblVariableListVarlistid" class="control-label col-sm-2">Varlist ID<span class="errorfont"> *</span></label>
                <div class="col-sm-4">
                    <input type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="if(this.value.length==2) return false;" id="txtVariableListVarlistid" min="3" max="63" class="form-control" />
                    <input type="hidden" id="nodeid" class="form-control" />
                    <input type="hidden" id="ptransportidpopup" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblVariableListVarlistothers" class="control-label col-sm-2">Other<span class="errorfont"> *</span></label>
                <div class="col-sm-4">
                    <input type="checkbox" class="dropDownCB pull-left" id="chkVariableListVarlistOthers" checked />
                </div>
                <label for="lblVariableListSaveDisplay" class="control-label col-sm-2">Save Display</label>
                <div class="col-sm-4">
                    <input type="checkbox" class="dropDownCB pull-left" id="chkVariableListVarlistSaveDisplay" ng-click="Varlistsavecheckbox()" />
                </div>

            </div>
            <div class="form-group">
                <label for="lblVariableListSaveComment" class="control-label col-sm-2">Save Comment</label>
                <div class="col-sm-4">
                    <input type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="if(this.value.length==2) return false;" id="txtVariableListVarlistSaveComment" ng-blur="VarlistSaveComment()" min="0" max="63" class="form-control" />
                </div>
                <label for="lblVLComment" class="control-label col-sm-2">Comment</label>
                <div class="col-sm-4">
                    <textarea id="txtVariableListComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>
        </div>

        <span class="collapsebutton" data-toggle="collapse" data-target="#vlfilteriv">[&nbsp;<i id="iVarListFilter" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Filter</b></span><hr class="accordion-hr" />
        <div id="vlfilteriv" class="collapse">

            <div class="form-group">
                @*<label for="lblVariableListFilter" class="control-label col-sm-2">Filter</label>
                    <div class="col-sm-4">
                        <select name="sltVariableListFilter" id="sltVariableListFilter" ng-model="VariableListFilter" class="form-control">
                            <option value="" selected>-- Select Filter --</option>
                            <option value="Comment Part">Comment Part</option>
                            <option value="Filter Method">Filter Method</option>
                            <option value="Saved Value">Saved Value</option>
                        </select>
                    </div>*@
                <label for="lblVariableListCommentPart" class="control-label col-sm-2">Comment Part</label>
                <div class="col-sm-4">
                    <input type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="if(this.value.length==2) return false;" id="txtVariableListVarlistCommentPart"  min="0" max="63" class="form-control" />
                </div>
            </div>
            <div class="form-group">

                <label for="lblVariableListFilterMethod" class="control-label col-sm-2">Filter Method</label>
                <div class="col-sm-4">
                    <select name="sltVariableListFilterMethod" id="sltVariableListFilterMethod" ng-model="VariableListFilterMethod" class="form-control">
                        <option value="" selected>-- Select Filter Method --</option>
                        <option value="==">==</option>
                        <option value="<>"><></option>
                    </select>
                </div>

                <label for="lblVariableListSavedValue" class="control-label col-sm-2">Saved value</label>
                <div class="col-sm-4">
                    @*<select class="form-control" id="sltVariableListSavedValue" name="sltVariableListSavedValue" ng-model="VariableListSavedAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId">
            <option value="">-- Select Saved Value --</option>
        </select>*@
                    @*<select class="form-control" id="sltVariableListSavedValue" name="sltVariableListSavedValue" >
        @*<option value="">-- Select Saved Value --</option>*@
                    @*</select>*@
                    <input type="text" tabindex="1" id="sltVariableListSavedValue" />
                </div>


            </div>
        </div>

        <span class="collapsebutton" data-toggle="collapse" data-target="#vlconditiondiv">[&nbsp;<i id="iVarListConditions" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span><hr class="accordion-hr" />
        <div id="vlconditiondiv" class="collapse">
            <div class="form-group">
                <label for="lblVariableListValue" class="control-label col-sm-2">Value</label>
                <div class="col-sm-4">
                    <select name="sltVariableListItem" id="sltVariableListItem" ng-model="VariableListvalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control">
                        @*<option value="" selected>--Select Value--</option>*@
                    </select>
                </div>
                <label for="lblVariableListConditionSavedValue" class="control-label col-sm-2">Condition Saved Value</label>
                <div class="col-sm-4">
                    <select name="sltVariableListConditionSavedValue" id="sltVariableListConditionSavedValue" ng-model="VariableListConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="">-- Select Condition Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblVariableListCompareMethod" class="control-label col-sm-2">Compare Method</label>
                <div class="col-sm-4">
                    <select name="sltVariableListCompareMethod" id="sltVariableListCompareMethod" ng-model="VariableListCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in variableListCompareMethod  track by item.compareMethodId" class="form-control">
                        <option value="" selected>-- Select Compare Method --</option>
                    </select>
                </div>
                <label for="lblVariableListCompareTo" class="control-label col-sm-2">Compare To</label>
                <div class="col-sm-4">
                    <select name="sltVariableListCompareTo" id="sltVariableListCompareTo" ng-model="VariableListCompareTo" ng-options="item.compareToId as item.compareToDesc for item in variablelistcompareto track by item.compareToId" class="form-control">
                        <option value="" selected>-- Select Compare To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblVariableListComparetoSavedValue" class="control-label col-sm-2">Compare to Saved Value</label>
                <div class="col-sm-4">
                    <select name="sltVariableListComparetoSavedValue" id="sltVariableListComparetoSavedValue" ng-model="VariableListCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="">-- Select Compare  to Saved Value --</option>
                    </select>
                </div>

                <label for="lblVariableListComparetoFixedText" class="control-label col-sm-2">Compare to Fixed Text</label>
                <div class="col-sm-4">
                    <input type="text" maxlength="100" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtVariableListComparetoFixedText" name="txtVariableListComparetoFixedText" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer" align="center">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" id="cancelallfields" data-dismiss="modal" aria-hidden="true" class="btn btn-primary cancelallfields" ng-click="$dismiss()">Cancel</button>
    </div>
    <!-- /.box-footer -->
</form>

<script type="text/javascript">

    $(document).ready(function () {
        var txtVariableListVarlistCommentPart = $("#txtVariableListVarlistCommentPart").val();
        if (txtVariableListVarlistCommentPart == '') {
            $('#sltVariableListFilterMethod').val("");
            $('#sltVariableListSavedValue').val("");

            $('#sltVariableListFilterMethod').attr("disabled", true);
            $('#sltVariableListSavedValue').attr("disabled", true);
        }
        else {

            $('#sltVariableListFilterMethod').attr("disabled", false);
            $('#sltVariableListSavedValue').attr("disabled", false);
        }


    });
</script>