﻿<form novalidate name="frmVarList" ng-submit="saveVarListClick()" class="form-horizontal" style="padding:20px !important;margin-top:-35px">
    <div class="box-body col-sm-12  col-md-12 col-lg-12">
        <span class="collapsebutton" data-toggle="collapse" data-target="#vldetailsdiv">[&nbsp;<i id="iVarListDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span><hr class="accordion-hr" />
        <div id="vldetailsdiv" class="collapse in">
            <div class="form-group">
                <label for="lblVarListTitle" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(639);"><span class="fa fa-question-circle"></span></a>&nbsp;Title<span class="errorfont"> *</span></label>
                <div class="col-sm-4">
                    <input type="text" id="txtVarListTitle" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" ng-blur="varListTitleBlur()" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
                <label for="lblVarListid" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(640);"><span class="fa fa-question-circle"></span></a>&nbsp;Varlist ID <span class="errorfont"> *</span></label>
                <div class="col-sm-4">
                    <input type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="if(this.value.length==2) return false;" id="txtVarListid" min="1" max="63" class="form-control" />
                    <input type="hidden" id="nodeid" class="form-control" />
                    <input type="hidden" id="ptransportidpopup" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblVarListOther" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(709);"><span class="fa fa-question-circle"></span></a>&nbsp;Other </label>
                <div class="col-sm-4">
                    <select name="sltVarListOther" id="sltVarListOther" class="form-control">
                        <option value="Driver entry" selected>Driver entry</option>
                        <option value="QP (save to DriverCreated)">QP (save to DriverCreated)</option>
                        <option value="No other">No other</option>
                    </select>
                </div>
                <label for="lblVarListRegisterAsTailer" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(641);"><span class="fa fa-question-circle"></span></a>&nbsp;Register As Trailer </label>
                <div class="col-sm-4">
                    <select name="sltVarListRegisterAsTailer" id="sltVarListRegisterAsTailer" class="form-control">
                        <option value="No" selected>No</option>
                        <option value="Yes, Driver Selection">Yes, Driver Selection</option>
                        <option value="Yes, From Readout">Yes, From Readout</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblVarListOtherTitle" id="lblVarListOtherTitle" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(642);"><span class="fa fa-question-circle"></span></a>&nbsp;Other Title</label>
                <div class="col-sm-4">
                    <input type="text" id="txtVarListOtherTitle" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
                <label for="lblVarListMasktext" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(643);"><span class="fa fa-question-circle"></span></a>&nbsp;Other Mask Text</label>
                <div class="col-sm-4">
                    <input type="text" id="txtVarListMasktext" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblVarListSaveDisplay" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(644);"><span class="fa fa-question-circle"></span></a>&nbsp;Save Display </label>
                <div class="col-sm-4">
                    <input type="checkbox" class="dropDownCB pull-left" id="chkVarListSaveDisplay" ng-click="varListSaveDisplayCheckbox()" />
                </div>
                <label for="lblVarListSaveDistplayTo" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(645);"><span class="fa fa-question-circle"></span></a>&nbsp;Save Display To </label>
                <div class="col-sm-4">
                    <input type="text" tabindex="1" id="sltVarListSaveDisplayTo" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblVLComment" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(646);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment </label>
                <div class="col-sm-4">
                    <textarea id="txtVarListComment" class="form-control" maxlength="500" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)"> </textarea>
                </div>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#vlfeedbackdiv">[&nbsp;<i id="iVarListFeedBack" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Feedback</b></span>
        <hr class="accordion-hr" />
        <div id="vlfeedbackdiv" class="collapse">
            <div class="form-group">
                <label for="lblVarListInfoColumn" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(648);"><span class="fa fa-question-circle"></span></a>&nbsp;Info Column</label>
                <div class="col-sm-4">
                    <select name="sltVarListInfoColumn" id="sltVarListInfoColumn" class="form-control" ng-model="VarListInfoColumns" ng-options="item.iC_ID as item.icM_Column_Name for item in Info  track by item.iC_ID">
                        <option value="" selected>Not Set</option>
                    </select>
                </div>
                <label for="lblVarListInfoColumnAction" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(649);"><span class="fa fa-question-circle"></span></a>&nbsp;Info Column Action </label>
                <div class="col-sm-4">
                    <select name="sltVarListInfoColumnAction" id="sltVarListInfoColumnAction" ng-model="VarListInfoColumnAction" ng-options="item.infoColumnActionId as item.infoColumnActionDesc for item in InfoColumnAction  track by item.infoColumnActionId" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblVarListFileNumber" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(650);"><span class="fa fa-question-circle"></span></a> &nbsp;File Number</label>
                <div class="col-sm-4">
                    <select name="sltVarListFileNumber" id="sltVarListFileNumber" class="form-control">
                        <option value="Not Set" selected>Not Set</option>
                        <option value="Set">Set</option>
                        <option value="Reset">Reset</option>
                    </select>
                </div>
                <label for="lblplanning" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(651);"><span class="fa fa-question-circle"></span></a>&nbsp;Planning Feedback </label>
                <div class="col-sm-4">
                    <select name="sltVarListPlanningFeed" id="sltVarListPlanningFeed" class="form-control" ng-model="VLplanningfeedbacks" ng-options="item.planningfeedback as item.planningfeedback for item in PlanningLeveldropdown  track by item.planningfeedback"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblvlfeedbacktype" class="control-label col-sm-2"> <a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(652);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Type</label>
                <div class="col-sm-4">
                    <select name="sltVarListFeedbackType" id="sltVarListFeedbackType" class="form-control" disabled>
                        <option value="">-- Select Feedback Type --</option>
                        <option value="Extra info">Extra info</option>
                        <option value="Pallets">Pallets</option>
                        <option value="Anomaly">Anomaly</option>
                    </select>
                </div>
                <label for="lblVarListValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(653);"><span class="fa fa-question-circle"></span></a>&nbsp;Feedback Code </label>
                <div class="col-sm-4">
                    <input type="text" tabindex="1" id="sltVarListFeedbackCode" max="35" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblVarListPartnerCode" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(654);"><span class="fa fa-question-circle"></span></a>&nbsp;Partner Code </label>
                <div class="col-sm-4">
                    <input type="text" id="txtVarListPartnerCode" maxlength="35" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" class="form-control" />
                </div>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#vlcommentdiv">[&nbsp;<i id="iVarListComment" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Comment Readout</b></span><hr class="accordion-hr" />
        <div id="vlcommentdiv" class="collapse">
            <div class="form-group">
                <input type="hidden" id="hidcommentReadoutDetailId" />
                <input type="hidden" id="hidcommenttokenId" />
                <label for="lblVarListCommentID" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(656);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment ID  <span class="errorfont"> *</span></label>
                <div class="col-sm-4">
                    <input min="0" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" ng-blur="blurVarListCommentID()" id="txtVarListCommentID" class="form-control" />
                </div>
                <label for="lblVarListReadOutRange" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(657);"><span class="fa fa-question-circle"></span></a>&nbsp;Readout Range <span class="errorfont"> *</span></label>
                <div class="col-sm-4">
                    <select name="sltVarListReadOutRange" id="sltVarListReadOutRange" class="form-control">
                        <option value="Complete" selected>Complete</option>
                        <option value="Part">Part</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblVarListStartChar" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(658);"><span class="fa fa-question-circle"></span></a>&nbsp;Start Char </label>
                <div class="col-sm-4">
                    <input min="1" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtVarListStartChar" class="form-control" />
                </div>
                <label for="lblVarListLength" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(659);"><span class="fa fa-question-circle"></span></a>&nbsp;Length </label>
                <div class="col-sm-4">
                    <input min="1" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtVarListLength" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="lblPSSaveto" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(660);"><span class="fa fa-question-circle"></span></a>&nbsp;Save To </label>
                <div class="col-sm-4">
                    <input type="text" tabindex="1" id="sltVarListSaveto" />
                </div>
            </div>
            <div class="form-group" style="text-align:center;">
                <button type="button" id="btnaddcommentreadout" ng-click="addVarListReadout()" class="btn btn-primary" uib-tooltip="Add Readout"><span style="color:white;padding-right:5px" class="fa fa-plus"></span>Add Comment</button>
                <button type="button" style="display:none;" id="btnupdatecommentreadout" ng-click="updateVarListReadout()" class="btn btn-primary" uib-tooltip="Update Readout"><span style="color:white;padding-right:5px" class="fa fa-pencil"></span>Update Comment</button>
                <button type="button" style="display:none;" id="btncancelcommentreadout" ng-click="cancelVarListReadout()" class="btn" uib-tooltip="Cancel Readout"><span style="color:white;padding-right:5px" class="fa fa-close"></span>Cancel</button>
            </div>
            <div class="form-group">
                <div id="CommentReadoutDetail" style="border-radius:5px;">
                </div>
                <script type="text/ng-template" id="CommentDelete">
                    <a class="fa fa-trash-o deletecommentreadout" data="{{:commentDetailId}}" name="eidtdata" id="{{:commentDetailId}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Delete"></a>
                    &nbsp;&nbsp;&nbsp;
                    <a class="fa fa-pencil-square-o editcommentreadout" data="{{:commentDetailId}}" name="eidtdata" id="{{:commentDetailId}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Edit"></a>
                </script>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#vlfilteriv">[&nbsp;<i id="iVarListFilter" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Filter</b></span><hr class="accordion-hr" />
        <div id="vlfilteriv" class="collapse">
            <div class="form-group">
                <input type="hidden" id="hidfilterDetailId" />
                <input type="hidden" id="hidfiltertokenId" />
                <label for="lblVarListFilterCommentID" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(663);"><span class="fa fa-question-circle"></span></a>&nbsp;Comment ID <span class="errorfont"> *</span></label>
                <div class="col-sm-4">
                    <input min="0" type="number" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" ng-blur="blurVarListFilterCommentID()" id="txtVarListFilterCommentID" class="form-control" />
                </div>
                <label for="lblVarListFliterMethod" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(664);"><span class="fa fa-question-circle"></span></a>&nbsp;Filter Method <span class="errorfont"> *</span></label>
                <div class="col-sm-4">
                    <select name="sltVarListFliterMethod" id="sltVarListFliterMethod" class="form-control">
                        <option value="" selected>-- Select Filter Method -- </option>
                        <option value="==">==</option>
                        <option value="<>"><></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblVarListFilterSavedTo" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(665);"><span class="fa fa-question-circle"></span></a>&nbsp;Saved Value </label>
                <div class="col-sm-4">
                    <select name="sltVarListFilterSavedTo" id="sltVarListFilterSavedTo" ng-model="VarListFilterSavedTo" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="">-- Select Save To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group" style="text-align:center;">
                <button type="button" id="btnaddfilter" ng-click="addVarListFilterReadout()" class="btn btn-primary" uib-tooltip="Add Readout"><span style="color:white;padding-right:5px" class="fa fa-plus"></span>Add Filter</button>
                <button type="button" style="display:none;" id="btnupdatefilter" ng-click="updateVarListFilterReadout()" class="btn btn-primary" uib-tooltip="Update Readout"><span style="color:white;padding-right:5px" class="fa fa-pencil"></span>Update Filter</button>
                <button type="button" style="display:none;" id="btncancelfilter" ng-click="cancelVarListFilterReadout()" class="btn" uib-tooltip="Cancel Readout"><span style="color:white;padding-right:5px" class="fa fa-close"></span>Cancel</button>
            </div>
            <div class="form-group">
                <div id="FilterDetail" style="border-radius:5px;">
                </div>
                <script type="text/ng-template" id="FilterDelete">
                    <a class="fa fa-trash-o deletefilter" data="{{:filterDetailId}}" name="eidtdata" id="{{:filterDetailId}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Delete"></a>
                    &nbsp;&nbsp;&nbsp;
                    <a class="fa fa-pencil-square-o editfilter" data="{{:filterDetailId}}" name="eidtdata" id="{{:filterDetailId}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Edit"></a>
                </script>
            </div>
        </div>
        <span class="collapsebutton" data-toggle="collapse" data-target="#vlconditiondiv">[&nbsp;<i id="iVarListConditions" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Condition</b></span><hr class="accordion-hr" />
        <div id="vlconditiondiv" class="collapse">
            <div class="form-group">
                <label for="lblVarListValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(668);"><span class="fa fa-question-circle"></span></a>&nbsp;Value </label>
                <div class="col-sm-4">
                    <select name="sltVarListItem" id="sltVarListItem" ng-model="VarListvalues" ng-options="item.valueId as item.valueDesc for item in Conditionvalue  track by item.valueId" class="form-control"></select>
                </div>
                <label for="lblVarListConditionSavedValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(669);"><span class="fa fa-question-circle"></span></a>&nbsp;Condition Saved Value </label>
                <div class="col-sm-4">
                    <select name="sltVarListConditionSavedValue" id="sltVarListConditionSavedValue" ng-model="VarListConditionAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="">-- Select Condition Saved Value --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblVarListCompareMethod" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(670);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare Method </label>
                <div class="col-sm-4">
                    <select name="sltVarListCompareMethod" id="sltVarListCompareMethod" ng-model="VarListCompareMethod" ng-options="item.compareMethodId as item.compareMethodDesc for item in varListCompareMethod  track by item.compareMethodId" class="form-control">
                        <option value="" selected>-- Select Compare Method --</option>
                    </select>
                </div>
                <label for="lblVarListCompareTo" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(671);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare To </label>
                <div class="col-sm-4">
                    <select name="sltVarListCompareTo" id="sltVarListCompareTo" ng-model="VarListCompareTo" ng-options="item.compareToId as item.compareToDesc for item in varListcompareto track by item.compareToId" class="form-control">
                        <option value="" selected>-- Select Compare To --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="lblVarListComparetoSavedValue" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(672);"><span class="fa fa-question-circle"></span></a> &nbsp;Compare to Saved Value</label>
                <div class="col-sm-4">
                    <select name="sltVarListComparetoSavedValue" id="sltVarListComparetoSavedValue" ng-model="VarListCompareAliasNameDetails" ng-options="item.aliasNameDetailsId as item.aliasName for item in AliasNameDetails  track by item.aliasNameDetailsId" class="form-control">
                        <option value="">-- Select Compare  to Saved Value --</option>
                    </select>
                </div>

                <label for="lblVarListComparetoFixedText" class="control-label col-sm-2"><a href="#" style="text-decoration:none;color:black" ng-click="openTooltipPopup(673);"><span class="fa fa-question-circle"></span></a>&nbsp;Compare to Fixed Text </label>
                <div class="col-sm-4">
                    <input type="text" maxlength="100" onkeyup="valid(this)" onblur="valid(this)" onkeypress="return blockSpecialChar(event)" id="txtVarListComparetoFixedText" name="txtVarListComparetoFixedText" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
        <button type="submit" class="btn btn-primary" style="display:none;">Save</button>
    <!-- /.box-footer -->
</form>
