﻿<form name="frmTooltip" ng-submit="saveTooltip()" class="form-horizontal">
    <div class="box-body">
        <div class="box-body col-sm-12">
            <span class="collapsebutton" data-toggle="collapse" data-target="#ttdetailsdiv">[&nbsp;<i id="iTTDetails" class="fa fa fa-minus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Details</b></span>
            <hr class="accordion-hr" />
            <div id="ttdetailsdiv" class="collapse in">
                <div class="form-group">
                    <input type="hidden" id="hidTooltipId" />
                    <label for="lblwizardtooltip" class="control-label col-sm-3">Wizard Tooltip<span class="errorfont"> *</span></label>
                    <div class="col-sm-9">
                        <textarea id="txtWizardTooltip" class="form-control" rows="3" cols="200" maxlength="4000"></textarea>
                    </div>
                </div>
                <div class="form-group" style="margin-top:12px">
                    <label for="lblextededtooltip" class="control-label col-sm-3">Exteded Help</label>
                    <div class="col-sm-9">
                        <textarea id="txtExtendedHelp" class="form-control" rows="5" cols="200" maxlength="4000"></textarea>
                    </div>
                </div>
                <div class="form-group" style="margin-top:12px">
                    <div class="col-sm-12" style="text-align:center;">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn" ng-click="cancelTooltip()">Cancel</button>
                    </div>
                </div>
            </div>
            <span class="collapsebutton" data-toggle="collapse" data-target="#ttudetailsdiv">[&nbsp;<i id="iTTUpload" class="fa fa fa-plus" aria-hidden="true"></i>&nbsp;]&nbsp;&nbsp;<b>Image Upload</b></span>
            <hr class="accordion-hr" />
            <div id="ttudetailsdiv" class="collapse in">
                <div class="form-group">
                    <label for="lblimagename" class="control-label col-sm-3">Image Title<span class="errorfont"> *</span></label>
                    <div class="col-sm-4">
                        <input type="text" maxlength="35" id="txtimagetitle" ng-blur="imagetitleblur()" class="form-control" />
                    </div>
                    <div class="col-sm-2">
                        <div id="UploadTooltipImage"></div>
                    </div>
                    <div class="col-sm-2">
                        <div style="font-size: 9px; margin-top:5px !important;"><span class="errorfont">Only .jpg &amp; .png file, Size limit : 5 MB</span></div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <div id="gridUploadTooltip"></div>
                    <script type="text/ng-template" id="ViewTooltipImage">
                        <a href="{{:path}}" target="_blank"  style="cursor:pointer !important;"><img style="width: 75px; height: 70px" src="{{:path}}"></a>
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

</form>