﻿@{
    ViewData["Title"] = "Tooltip";
}

<script src="~/PageJS/Angular/Controller/TooltipController.js" asp-append-version="true"></script>
<script src="~/PageJS/Angular/Service/Service.js" asp-append-version="true"></script>
<style>

    #UploadTooltipImage_dialog_wrapper {
        top: -75px !important;
        left: -350px !important;
    }
    #UploadTooltipImage_SelectButton {
        margin-top: -5px !important;
    }
    .modal-footer {
        padding: 19px 0px 20px !important;
    }

    .nav-tabs-custom {
        margin-bottom: 20px;
        background: #fff;
        border-radius: 3px;
        width: 100%;
    }

        .nav-tabs-custom > .nav-tabs {
            margin: 0;
            border-bottom-color: #f4f4f4;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
        }

            .nav-tabs-custom > .nav-tabs > li {
                border-top: 3px solid transparent;
                margin-bottom: -2px;
                margin-right: 5px;
            }

                .nav-tabs-custom > .nav-tabs > li > a {
                    color: #444;
                    border-radius: 0;
                }

                    .nav-tabs-custom > .nav-tabs > li > a.text-muted {
                        color: #999;
                    }

                    .nav-tabs-custom > .nav-tabs > li > a, .nav-tabs-custom > .nav-tabs > li > a:hover {
                        background: transparent;
                        margin: 0;
                    }

                        .nav-tabs-custom > .nav-tabs > li > a:hover {
                            color: #999;
                        }

                .nav-tabs-custom > .nav-tabs > li:not(.active) > a:hover, .nav-tabs-custom > .nav-tabs > li:not(.active) > a:focus, .nav-tabs-custom > .nav-tabs > li:not(.active) > a:active {
                    border-color: transparent;
                }

                .nav-tabs-custom > .nav-tabs > li.active {
                    /*border-top-color: #3c8dbc;*/
                    border-top-color: #000000;
                }

                    .nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
                        background-color: #fff;
                        color: #444;
                    }

                    .nav-tabs-custom > .nav-tabs > li.active > a {
                        border-top-color: transparent;
                        border-left-color: #f4f4f4;
                        border-right-color: #f4f4f4;
                    }

                .nav-tabs-custom > .nav-tabs > li:first-of-type {
                    margin-left: 0;
                }

                    .nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
                        border-left-color: transparent;
                    }

            .nav-tabs-custom > .nav-tabs.pull-right {
                float: none !important;
            }

                .nav-tabs-custom > .nav-tabs.pull-right > li {
                    float: right;
                }

                    .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type {
                        margin-right: 0;
                    }

                        .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type > a {
                            border-left-width: 1px;
                        }

                        .nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type.active > a {
                            border-left-color: #f4f4f4;
                            border-right-color: transparent;
                        }

            .nav-tabs-custom > .nav-tabs > li.header {
                line-height: 35px;
                padding: 0 10px;
                font-size: 20px;
                color: #444;
            }

                .nav-tabs-custom > .nav-tabs > li.header > .fa, .nav-tabs-custom > .nav-tabs > li.header > .glyphicon, .nav-tabs-custom > .nav-tabs > li.header > .ion {
                    margin-right: 5px;
                }

        .nav-tabs-custom > .tab-content {
            background: #fff;
            padding: 10px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .nav-tabs-custom .dropdown.open > a:active, .nav-tabs-custom .dropdown.open > a:focus {
            background: transparent;
            color: #999;
        }

        .nav-tabs-custom.tab-primary > .nav-tabs > li.active {
            border-top-color: #3c8dbc;
        }

        .nav-tabs-custom.tab-info > .nav-tabs > li.active {
            border-top-color: #00c0ef;
        }

        .nav-tabs-custom.tab-danger > .nav-tabs > li.active {
            border-top-color: #dd4b39;
        }

        .nav-tabs-custom.tab-warning > .nav-tabs > li.active {
            border-top-color: #f39c12;
        }

        .nav-tabs-custom.tab-success > .nav-tabs > li.active {
            border-top-color: #00a65a;
        }

        .nav-tabs-custom.tab-default > .nav-tabs > li.active {
            border-top-color: #d2d6de;
        }

    .tablescroll {
        overflow-y: auto;
        overflow-x: auto;
        max-height: 500px;
    }

    .table tr {
        cursor: pointer !important;
    }

    .table {
        margin-bottom: 10px !important;
    }
    .PageLayout {
        min-height: 81vh !important;
    }
</style>

<div class="row" ng-controller="TooltipController">
    <div class="col-sm-12  col-md-12 col-lg-12">
        <div>
            <ol class="breadcrumb">
                <li>
                    <a class="fa fa-gears " id="Setting" ng-click="GoSetting()"></a>
                </li>
                <li>
                    <a href="#" id="Setup" ng-click="GoSetUp()">Tooltip</a>
                </li>
            </ol>
            <div class="header" style="padding: 5px 2px;">
                <h4 class="modal-title">
                    <i class="fa fa-twitch"></i>
                    Tooltip
                </h4>
            </div>
        </div>
        <div class="PageLayout">
            <div id="loading" class="loading modal-backdrop" style="display:none"><img class="loadingimg" src="~/images/loader.gif" alt="LoadingIcon" align="middle" /></div>
            <div class="nav-tabs-custom pull-left">
                <ul class="nav nav-tabs" id="activeul">
                    <li data-interest="Tooltip" data-tableid="1" class="active"><a href="#" ng-click="goTooltip()" data-toggle="tab" aria-expanded="false">Tooltip</a></li>
                    <li data-interest="WizardTooltip" data-tableid="1"><a href="#" ng-click="goWizardTooltip()" data-toggle="tab" aria-expanded="false">Wizard Tooltip Translation</a></li>
                    <li data-interest="ExtendedTooltip" data-tableid="1"><a href="#" ng-click="goExtendedTooltip()" data-toggle="tab" aria-expanded="false">Extended Tooltip Translation</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tooltipgrid">
                        <div id="gridTooltip">
                        </div>
                        <script type="text/ng-template" id="EditTooltip">
                            <a class="fa fa-edit" data="{{:tooltipId}}" id="{{:tooltipId}}" data-wizardtooltip="{{:wizardTooltips}}" data-extendedhelp="{{:extendedHelp}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Edit"></a>
                        </script>
                    </div>
                    <div class="wizardtooltipgrid">
                        <div id="gridWizardTooltip">
                        </div>
                    </div>
                    <div class="extendedtooltipgrid">
                        <div id="gridExtendedTooltip">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="TooltipModal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width:800px !important;">
            <div class="modal-content">
                <div class="modal-header modal-header-info">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">×</button>
                    <div class="popupheader"></div>
                </div>
                <div class="modal-body">
                    <div id="frmTooltip" class="hide divtooltip">
                        @Html.Partial("_TooltipInput")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

