body,html{
       
         height:100vh;
	}

	/* remove outer padding */
	.main .row{
		padding: 0px;
		margin: 0px;
	}

     .users {
            float:right;
        }
.spaceCell {
    padding:10px;
    margin:10px;
}
.label-info {
    background-color:green !important;
}
td.stcenter {
    text-align:center;
}
td.stleft {
    text-align:left;
}
    span.glyphicon-comment {
  position: absolute;
  font-size: 1.2em;
  top: -15px;
  color: #F6891F;
  right: -15px;
}
    span.num {
  position: absolute;
  font-family:Arial;
  font-size: 0.7em;
  top: -10px;
  color: #000;
  font-weight:normal;
  right: -8px;
}
ul {
    list-style: none;
    margin-left:-20px;
}
	/*Remove rounded coners*/

	nav.sidebar.navbar {
		border-radius: 0px;
	}

	nav.sidebar, .main{
		-webkit-transition: margin 200ms ease-out;
	    -moz-transition: margin 200ms ease-out;
	    -o-transition: margin 200ms ease-out;
	    transition: margin 200ms ease-out;
	}

    
         .filter {
        display:block;
        background-color: #eeeeee;
        height:100vh;        
        padding-top:50px;
        
        

    }
	/* Add gap to nav and right windows.*/
	.main{
		padding:0px;
	}

.search {
    margin:10px 10px 20px 10px;
    width:100%;
    padding:5px;
    background-color:#000;
    color:#808080;
        font-size:medium;
}

	/* .....NavBar: Icon only with coloring/layout.....*/

@media (min-width: 200px) {
   
    .setright {
        float:right;
        padding:10px;
        font-size:large;
        margin-bottom:-20px;
    }
 

}

	/*small/medium side display*/
	@media (min-width: 768px) {

       
        .fhead {
            font-weight:bold;
            margin-bottom:10px;
        }
        .filter-head {
            font-size:25px;
            padding-left:30px;
           
        }
        .filter-groups {
            margin-top:60px;
            padding-left:40px;
        }
        .set0 { margin:0px !important;
            padding:0px !important;
           

        }

        .name {
             margin-top:40px;
            font-size:medium;
            float:right;
            padding:5px;

        }
		/*Allow main to be next to Nav*/
		.main{
			position: absolute;
			width: calc(100% - 40px); /*keeps 100% minus nav size*/
			margin-left: 40px;
			float: right;
		}

        .transics_logo {
            margin-left:10px;
            
        }
        .user {
            margin-top:120px;
            font-size:25px;
            color:white;
            margin-right:-38px;
           background-color:#ccc;
            padding:5px;

        }
		/*lets nav bar to be showed on mouseover*/
		nav.sidebar:hover + .main{
			margin-left: 200px;
		}

		/*Center Brand*/
		nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
			margin-left: 0px;
		}
		/*Center Brand*/
		nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
			text-align: center;
			width: 100%;
			margin-left: 0px;
		}

		/*Center Icons*/
		nav.sidebar a{
			padding-right: 13px;
		}

		/*adds border top to first nav box */
		nav.sidebar .navbar-nav > li:first-child{
			border-top: 1px #e5e5e5 solid;
		}

		/*adds border to bottom nav boxes*/
		nav.sidebar .navbar-nav > li{
			border-bottom: 1px #e5e5e5 solid;
		}

		/* Colors/style dropdown box*/
		nav.sidebar .navbar-nav .open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: transparent;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		/*allows nav box to use 100% width*/
		nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
			padding: 0 0px 0 0px;
		}

		/*colors dropdown box text */
		.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
			color: #777;
		}

		/*gives sidebar width/height*/
		nav.sidebar{
			width: 200px;
			height: 100%;
			margin-left: -160px;
			float: left;
			z-index: 8000;
			margin-bottom: 0px;
		}

		/*give sidebar 100% width;*/
		nav.sidebar li {
			width: 100%;
		}

		/* Move nav to full on mouse over*/
		nav.sidebar:hover{
			margin-left: 0px;
		}
		/*for hiden things when navbar hidden*/
		.forAnimate{
			opacity: 0;
		}

        .navbrand {
            background-color: #F6891F;
            
            height:20%;
            position: absolute;
            bottom: 20px;
            width: 100%;
        }
      
	}

	/* .....NavBar: Fully showing nav bar..... 

	@media (min-width: 1330px) {

		
		.main{
			width: calc(100% - 200px); 
			margin-left: 200px;
		}

		
		nav.sidebar{
			margin-left: 0px;
			float: left;
		}
		
		nav.sidebar .forAnimate{
			opacity: 1;
		}
	}*/

	nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #CCC;
		background-color: transparent;
	}

	nav:hover .forAnimate{
		opacity: 1;
	}
	section{
		padding-left: 15px;
	}