﻿@{
    ViewData["Title"] = "Planning & Partner Code Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Previlage = (List<string>)ViewData["Previlage"];
    var LayoutStatusPrevilage = (List<string>)ViewData["LayoutStatusPrevilage"];
    var RoleWithLayoutStatusPrevilage = (List<string>)ViewData["RoleWithLayoutStatusPrevilage"];
}

<style>
    .PageLayout {
        min-height: 80vh !important;
        padding: 1% !important;
    }
</style>
<script src="~/PageJS/Angular/Controller/LayoutOverviewController.js" asp-append-version="true"></script>
<script src="~/PageJS/Angular/Service/Service.js" asp-append-version="true"></script>
<div ng-controller="LayoutOverviewController">
    <div id="loading" class="loading modal-backdrop" style="display:none"><img class="loadingimg" src="~/images/loader.gif" alt="LoadingIcon" align="middle" /></div>
    <div class="col-sm-12  col-md-12 col-lg-12">
        <div>
            <ol class="breadcrumb">
                <li>
                    <a class="fa fa-gears " id="Setting" ng-click="GoSetting()"></a>
                    <a href="#" id="Setup" ng-click="GoSetUp()"></a>
                </li>
                <li class="active">
                    <a id="LayoutOverview" >Layout Overview</a>
                </li>
            </ol>
            <div class="header" style="padding: 5px 2px;">
                <h4 class="modal-title">
                    <i class="fa fa-wrench"></i>
                    Layout Overview
                </h4>
            </div>
        </div>
        <div class="PageLayout">
            <center>
                <div class="clearfix"></div>
                <div id="gridLayoutOverViewValues"></div>
            </center>
        </div>
    </div>
</div>

