@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Privelage = (List<string>)ViewData["Previlage"];
}
<script src="~/PageJS/Angular/Service/Service.js" asp-append-version="true"></script>
<script src="~/PageJS/Angular/Controller/HomeController.js" asp-append-version="true"></script>

<style>


    .btn {
        padding: 6px !important;
    }

    .PageLayout {
        min-height: 80vh !important;
    }

    h5 {
        font-weight: 600 !important;
    }

    .modal-dialog {
        width: 650px !important;
        overflow: auto !important;
    }
</style>
<div class="row" ng-controller="HomeController">
    <loading></loading>
    <div class="col-sm-12  col-md-12 col-lg-12">
        <div>
            <div class="header" style="padding: 5px 2px;">
                <h4 class="modal-title">
                    <i class="fa fa-home"></i>
                    Home
                </h4>
            </div>
        </div>
        <div class="PageLayout">
            <center>
                <div style="padding: 25px 41px 41px 41px;">
                    <div class="row">

                        <div class="col-lg-4  pull-left"><span class="greeting"> What customer would you like to work for</span></div>
                        <div class="col-lg-2  pull-left">
                            <input type="text" id="Customer" />
                        </div>
                        <div class="col-lg-2  pull-left">
                            <button id="RedirectCustomerOverview" @((Privelage.Contains("CO") ? "" : "disabled")) ng-click="CustomerOverview()" class="btn btn-primary" tooltip-placement="bottom" uib-tooltip="Go to Customer Overview"><span style="color:white;padding-right:5px" class="fa fa-play"></span>GO@*<span style="color:white;padding-left:5px" class="fa fa-angle-double-right"></span>*@</button>
                        </div>
                    </div>
                    <div>
                        <h5 class="pull-left" ;><b>Recent Activities :</b></h5>
                    </div>
                    <div style="clear:both;"></div>
                    <div id="RecentActivities" style="border-radius:5px;">
                    </div>
                    <script type="text/ng-template" id="Delete">
                        <a class="fa fa-minus-circle" data="{{:layoutRefId}}" name="eidtdata" id="{{:layoutRefId}}" style="cursor:pointer !important;" tooltip-placement="bottom" uib-tooltip="Remove"></a>
                    </script>
                    <div style="clear:both;"></div>
                </div>
            </center>
        </div>
    </div>
    @*<div class="col-sm-12  col-md-12 col-lg-12 transicsresponce">
    </div>*@
    <div class="modal fade" id="RecentActivitesModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width:600px">
            <div class="modal-content">
                <div class="modal-header modal-header-info">
                    <div><h4 class="pull- left"><b>Delete</b></h4></div>
                </div>
                <div class="modal-body">
                    <div id="frmrecentactivitiesdelete" class="hide divrecentactivities">
                        <div class="form-group col-md-12 col-sm-12 deletemsg">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-primary" ng-click="deletelayout()">Ok</button>
                        <button type="button" class="btn" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
